
// General styles

* {
	font-family: 'os'; 
	box-sizing: border-box;
}

body {
	color: $equifax-text-gray;
}

.graph-top {
	background-color: $equifax-light-gray;
	display: inline-block;
	width: 100%;
	padding: 20px 0;
}

#graph-button {
	color: $gray;
	border: 1px solid;
	padding: 4px;
	position: relative;
	float: right;
	cursor: pointer;

	&::after {
		content: 'Hide Graph';
		width: 100px;
		position: absolute;
		left: -106px;
		color: $gray;
		font-family: 'os-bold';
		text-transform: uppercase;
		text-align: right;
	}

	&.fa-plus {
		&::after {
			content: 'Show Graph';
		}
	}

}

#totals-button {
	@extend #graph-button;

	&::after {
		content: 'Hide Totals';
	}

	&.fa-plus {
		&::after {
			content: 'Show Totals';
		}
	}
}



#graph-image {
	display: none;
}


.cta-orange {
	display: inline-block;
	background-color: $blue-med;
	color: #fff;
	padding: 15px;
	font-family: 'os-bold';
	font-size: 1.25em;

	&::after {
		content: '\f0a9';
		font-family: 'FontAwesome';
		color: $equifax-text-blue;
		padding-left: 5px;
		vertical-align: middle;
	}
}

.cta-orange-alt {
	display: inline-block;
	background-color: $blue-med;
	color: #fff;
	padding: 15px;
	font-family: 'os-bold';
	font-size: 1.25em;
	width: 420px;
	text-align: center;

}

a {
	color: #0039aa;
}

form {
	margin: 0;
}

// Header

.navbar .brand.cobranded {
	margin-right: 0;

	& + .brand {
		border-left: 1px solid $equifax-dark-blue;
		margin-left: 10px;	
	}
}

.brand {
	h1 {
		font-family: 'os-light';
		color: #fff;
		display: inline-block;
		font-size: 24px;
		margin-top: -5px;
	}

	span {
		position: relative;
		top: 10px;
		left: 5px;
	}

	img {
		vertical-align: top;
		margin-top: -5px;
	}
}

.navbar {

	.brand {
		margin-right: 40px;
	}

	.navbar-inner {
		padding-top: 15px;
		padding-bottom: 0;

		&.merchant {
			padding-bottom: 0;
			padding-left: 0;
			padding-right: 0;
		}

		.nav-collapse {
			float: right;
		}

		.profile-menu {
			margin-left: 15px; 
			font-size: 12px;

			li {
				a {
					font-size: 14px;
					i {
						color: $blue-light;
					}
				}
			}
		}

		.user-menu {
			float: right;
		}

		.alerts {
			margin-right: 0;

			a {
				color: $blue-med;
				font-size: 27px;
				margin-top: -5px;
			}
		}

		.alert-menu {
			ul {
				display: none;
			}

		}
	}

	.dropdown {
		i {
			color: $blue-med;
			margin-left: 5px;
		}
	}

	.nav  > .active-nav {
		&:after {
			content: '';
			width: 0; 
			height: 0; 
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 12px solid $blue-med;
			position: relative;
			top: -11px;
			left: calc(50% - 12px);
		}
	}

	.nav > .active-nav > a {
		color: $blue-med;
		font-family: 'os-bold'
	}

	.nav > li {
		margin-right: 20px;
	}

}

.dropdown-menu {
	margin-top: -10px;
	height: 90px;
}

.navbar-static-top .navbar-inner {
	background-position: 50% 0;
}

.navbar-inner.extended {
	background-position: 0 50%;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		width: 108px;
		height: 140px;
		bottom: 0;
		left: 40%;
		background: url('../img/glass.png');
	}

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 20px;
		bottom: 0;
		left: 0;
		background: linear-gradient(to top, rgba(42,51,71,0.62), rgba(42,51,71,0));
	}
}

.merchant-header {
	background: url('../img/dashboard-header.jpg') 50% 0 no-repeat;
	background-size: cover;
	height: 200px;
	margin-top: 10px;
}

.header-extended {
	padding: 30px 0;
	clear: both;

	h1 {
		color: #fff;
		clear: both;
		text-align: center;
		margin: 0 0 0.25em 0;
		font-family: 'os-light';
		font-weight: lighter;
		-webkit-font-smoothing: antialiased;
		font-size: 54px;
		line-height: 66px;

		&.left {
			text-align: left;
		}
	}

	h3 {
		color: #fff;
		font-family: 'os-light';
		font-weight: lighter;
		font-size: 24px;
		text-align: center;
		margin: 0;
	}
}

//Partner Portal

.temp-hero {
	margin-top: -1px;
	width: 100%;
}

.hero {
	margin-top: -1px;
	background: url('../img/hero-temp1.png') top center no-repeat;
	width: 100%;
	height: 400px;

	.promo {
		padding: 100px 0;
	}
}

.hero-tall {
	background: url('../img/hero-temp2.png') top center no-repeat;
	width: 100%;
	height: 618px;
	margin-top: -1px;

	.promo {
		margin: 0;
		padding: 100px 0;

		h2 {
			font-family: 'os-light';
			-webkit-font-smoothing: antialiased;
			font-weight: lighter;
			font-size: 52px;
			color: #fff;
			width: 425px;
			line-height: 1.125em;
			margin-bottom: 0.5em;
		}

		p {
			font-size: 1.25em;
			line-height: 1.5em;
			margin-bottom: 60px;
			width: 425px;
		}

		.cta-orange {
			letter-spacing: 1px;
			font-size: 1.33em;
		}
	}
}

.promo {
	position: relative;
	
	p {
		font-family: 'os-light';
		font-size: 45px;
		color: #fff;
		width: 550px;
		line-height: 1.25em;
		font-weight: lighter;
	}

	span {
		color: #fff;

		display: inline-block;
		width: 300px;
	}

	.buttons {
		margin-top: 10px;
		a:first-of-type {
			margin-right: 20px;
		}
	}
}

//options

.options {

	.options-image {
		display: inline-block;
	}

	.options-right {
		display: inline-block;
		width: 48%;

	}
	
	background-color: $gray-xlight;
	
	.container {
		height: 441px;
	}
}

.option-buttons {
	display: inline-block;
	width: 100%;
	margin-top: 15px;

	a:first-of-type {
		margin-right: 20px;
	}
}

//tabbed-content

.tabbed-content {
	background-color: $equifax-text-gray;
	color: #fff;
	text-align: center;

	h2 {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.feature-box {
		display: inline-block;
		background-color: #474e5b;
		padding: 20px;
		width: 311px;
		vertical-align: top;
		position: relative;
		margin-bottom: 20px;
		
		p {
			font-family: 'os-light';
			font-size: 13px;
		}

		&:first-of-type {
			margin-right: 20px;
			padding-top: 30px;
			padding-bottom: 30px;

			&:before {
				content: '1';
				background-color: #4195da;
				border-radius: 50%;
				padding: 5px 10px;
				font-family: 'os-bold';
				position: absolute;
				top: -10px

			}
		}

		&:nth-of-type(2) {
			&:before {
				content: '2';
				background-color: #4195da;
				border-radius: 50%;
				padding: 5px 10px;
				font-family: 'os-bold';
				position: absolute;
				top: -10px;
				left: calc(51% - 22px);
			}
		}

	}

	h4 {
		font-family: 'os-light';
		font-weight: 100;
		padding: 20px 25% 30px;
		line-height: 25px;
	}

	&.customer-tables {
		background-color: #fff;
		color: #000;
	}
	
}

.top-buttons {
	display: inline-block;
	width: 100%;
	z-index: 2;
}

.tab-container {
	background-color: #fff;

	ul.tabs,
	ul.mini-tabs {
		background-color: #fff;
		list-style: none;
		color: $equifax-text-gray;
		border-bottom: none;
		margin-top: 20px;
		margin-bottom: 20px;

		li {
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
			text-transform: uppercase;
			width: 20%;
			text-align: center;
			font-family: 'os-light';
			font-weight: 100;
			color: $equifax-text-gray;
			display: relative;

			&.current {
				color: $equifax-med-gray;

				&:after {
					content: '';
					width: 0; 
					height: 0; 
					border-left: 20px solid transparent;
					border-right: 20px solid transparent;
					border-bottom: 16px solid $equifax-text-gray;
					position: absolute;
					bottom: -20px;
					left: calc(50% - 20px);
				}
			}


		}
	}
}

.tab-content,
.mini-tab-content{
	display: none;

	padding: 15px;

	&.current{
		display: inherit;
	}
}

//Merchant Dashboard

.merchant-info {
/*	background: url('../img/stock1.png') no-repeat;
	background-size: contain; 

*/
	position: relative;
	top: 40px;
	width: 40%;
	float: left;

	.info-left,
	.info-right {
		width: 200px;
		padding: 25px 10px 10px 0;
		display: inline-block;

		span {
			font-family: 'os-light';
			font-size: 50px;
			color: #fff;
			-webkit-font-smoothing: antialiased;
		}
		p {
			font-family: 'os-bold';
			font-size: 14px;
			color: $equifax-text;
			padding-top: 10px;
		}
	}

	.info-left {
		border-right: 1px solid $equifax-dark-blue;
		margin: 0 20px 0 0;
	}
}

.merchant-name {
	float: right;
	width: 60%;
	overflow: hidden;
	position: relative;
	top: 40px;
	text-overflow: ellipsis;

	h1 {
		text-align: right;
		color: #fff;
		font-size: 50px;
		font-family: 'os-light';
		-webkit-font-smoothing: antialiased;
		font-weight: lighter;
	}
}

.dash-area {
	margin: 25px 0;
}

.icons {
	display: block;
	float: left;
	width: 45%;
	position: relative;
	top: 50px;
	margin-right: 9%;

	.huge-icon {
		float: left;
		
		&:not(:last-of-type) {
			margin-right: 45px;	
		}
	}
}

#charts {
	width: 45%;
	display: block;
	float: left;

	h2 {
		display: inline-block;
		width: 50%;
		font-size: 26px;
		color: $equifax-text-blue;
	}
	a {
		color: #002060;
	    text-decoration: none;
	    font-family: 'os-bold';
	    padding: 0 5px;
	    display: inline-block;
	    position: absolute;
	    right: 0;
	    margin-top: 30px;


		 &::after {
			content: '\f0a9';
			font-family: 'FontAwesome';
			color: $blue-light;
			padding-left: 5px;
			vertical-align: middle;
		 }
	}

	.item {
		height: 380px;
	}

	.carousel-indicators {
		li {
			width: 15px;
			height: 15px;
			border-width: 2px;
			border-radius: 100%;
			margin-right: 15px;
		}
	}
}

.merchant-content {
	background: $equifax-light-gray;
	margin-top: 0;

	ul {
		width: 28%;
		margin-right: 2%;
		display: inline-block;
		vertical-align: top; 
		list-style: none;
		
		button {
			background-color: $equifax-button;
			font-family: 'os-bold';
			font-size: 10px;
			color: #fff;
			box-shadow: none;
			border: none;
		}

		li {
			line-height: 25px;
			a {
				color: $equifax-text-blue;
				text-decoration: none;
			}
		}
	}
}

.portal-content {
	background: $equifax-light-gray;
	margin-top: 80px;

	ul {
		width: 28%;
		margin-right: 2%;
		display: inline-block;
		vertical-align: top; 
		list-style: none;
		position: relative;
		z-index: 1000;
		
		button {
			background-color: $equifax-button;
			font-family: 'os-bold';
			font-size: 10px;
			color: #fff;
			box-shadow: none;
			border: none;
			margin-bottom: 10px;
		}

		li {
			line-height: 25px;
			a {
				color: $equifax-text-blue;
				text-decoration: none;
			}
		}
	}

	h4 {
		color: $equifax-text-blue;
	}
}

.merchant-content:before {
  content: '';
  position: absolute;
  left: 0;
  top: 708px; //this is ugly - I know - will be improved with reposnsive :) 
  width: 100%;
  height: 300px;
  background: $equifax-light-gray;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(-3.5deg);
  -webkit-backface-visibility: hidden;
  z-index: -1;
}

.merchant-content:after {
	content: '';
	background: $equifax-med-gray;
	position: absolute;
	width: 100%;
	height: 100px;
	top: 700px;
	left: 0;
	z-index: -2;
	display: inline-block;
}


.card {
	display: inline-block;
	width: 30%;
	margin: 0 3% 40px 0;
	vertical-align: top;

	.inner {
		border: 1px  solid $equifax-med-gray;
		padding: 10px 10px 20px 10px;


		a {
			display: inline-block;
    		text-align: right;
    		width: 97%;
		}
	}

	h2 {
		font-family: 'os-light';
		color: $equifax-text-gray;
		margin: 0 0 15px 0;
		font-size: 30px;
	} 

	h2 {
		font-family: 'os-light';
		color: $equifax-text-gray;
		margin: 0 0 15px 0;
		font-size: 30px;
	} 

	p {
		padding: 20px;
	}

	.go {
		color: $equifax-text-blue;
		text-decoration: none;
		font-family: 'os-bold';
		font-size: 1.25em;

		 &::after {
			content: '\f0a9';
			font-family: 'FontAwesome';
			color: $blue-light;
			padding-left: 5px;
			vertical-align: middle;
		 }
	}

	&.wells {

		position: relative;

		.wells-logo {
			position: absolute;
	    	left: 40px;
	    	top: 311px;
		}

		h3 {
			font-family: "Times New Roman", Times, serif;
		    font-weight: normal;
		    color: #fff;
		    font-size: 23px;
		    position: absolute;
		    top: 278px;
		    left: 129px;
		    width: 185px;
		    line-height: 29px;
		}

		p {
			position: absolute;
			top: 339px;
			left: 124px;
			width: 185px;
			color: #fff;
			font-family: 'os-light';
			padding: 10px 5px;
		}
		a {
			vertical-align: top;
			&::after {
				content: none;
			}
		}
	}
}

.angle-content .card:not(.wells) {
	p {
		padding: 20px 0;
		line-height: 1.5em;
		font-size: 1.125em;
		color: $equifax-text-gray;
	}
}

/* Apply flow */

h1.header-special {
	color: $gray;
	clear: both;
	text-align: center;
	margin: 1em 0;
	font-family: 'os-light';
	font-weight: lighter;
	-webkit-font-smoothing: antialiased;
	font-size: 54px;
	line-height: 66px;

	div {
		font-family: 'os-light';
	}
}

.apply-steps {
	list-style-type: none;
	text-transform: uppercase;
	width: 80%;
	margin: 0 auto;
	height: 220px;

	&.four-step li {
		width: 20%;
	}

	li {
		width: 25%;
		display: block;
		float: left;
		height: 12px;
		position: relative;
		background-color: $blue-light;
		margin-top: 60px;
		color: $blue-light;

		i {
			font-size: 50px;
			margin-bottom: 15px;
		}

		&.active {
			color: $equifax-text-gray;

			.step-number {
				background-color: $blue-med;
			}

			i {
				color: $blue-med;
			}
		}

		&.active ~ li {
			background-color: $equifax-light-gray;

			& > div {
				color: $equifax-light-gray;

				.step-number {
					background-color: $equifax-light-gray;
				}
			}
		}

		& > div {
			width: 180px;
			position: absolute;
			right: -90px;
			top: -15px;
			text-align: center;
			z-index: 2;
			font-size: 14px;

			div {
				font-family: 'os-bold';
				font-weight: bold;
			}

			.step-number {
				width: 40px;
				height: 40px;
				line-height: 40px;
				font-size: 1.25em;
				border-radius: 100%;
				margin: 0 auto 15px auto;
				background-color: $blue-light;
				color: #fff;

				i {
					font-size: 24px;
					line-height: 40px;
					margin: 0;
				}
			}
		}
	}
}

.apply-content {
	background-color: $equifax-light-gray;
	color: $equifax-text-gray;
	padding: 30px 0 100px 0;

	h2 {
		font-family: 'os-light';

		& + h3 {
			text-transform: none;
			font-family: 'os-light';
			font-size: 1.125em;
			margin: -1.5em 0 1em 0;
		}
	}

	h3 {
		text-transform: uppercase;
		font-family: 'os-bold';
	}

	h4 {
		font-family: 'os-bold';
		font-size: 1em;
		margin: 0;
	}

	.container > section {
		float: left;
		width: calc(100% / 3);
		box-sizing: border-box;
	}

	.add-owner {
		font-family: 'os-bold';
		color: $equifax-text-blue;
		cursor: pointer;

		i.fa {
			color: $blue-light;
		}
	}

	.container .apply-form {
		width: calc(2 * (100% / 3) - 30px);
		background-color: #fff;
		margin-right: 30px;
		padding: 30px;
		border: 1px solid $equifax-med-gray;


		&.full-width {
			width: 100%;
			margin-right: 0;

			textarea {
				width: 100%;
				max-width: 500px;
				display: block;
				height: 6em;
			}
			
			input[type="text"] {
				max-width: 333px;
			}

			.column {
				width: 30%;
				margin-right: 4%;
					&.full-width {
						display: block;
						width: 100%;
						margin-right: 0;
						float: none;
					}
			}

			.accordion .column {
				width: 45%;
			}

			&.three-column .column {
				&:nth-of-type(3) {
					margin-right: 0;
				}
			}
		}

		&.pre-qualify {
			h3 {
				text-transform: uppercase;
				font-size: 1.25em;
				font-family: 'os-bold';
				border-bottom: 1px solid $equifax-med-gray;
				padding-bottom: 0.5em;
				margin: 1em 0;

				&:first-of-type {
					margin-top: 0;
				}

				i {
					color: $blue-light;
					margin-right: 5px;
					font-size: 1.75em;
				}
			}
		}

		h3 {
			text-transform: none;
			font-family: 'os-light';
			clear: both;
			margin: 0 0 20px 0;

			&.with-icon {
				text-transform: uppercase;
				font-size: 1.25em;
				font-family: 'os-bold';
				border-bottom: 1px solid $equifax-med-gray;
				padding-bottom: 0.5em;
				margin: 1em 0;

				&:first-of-type {
					margin-top: 0;
				}
			}
		}

		hr {
			clear: both;
		}

		label {
			font-family: 'os-bold';
			color: $equifax-text-gray;
		}

		input[type="text"], select, .bootstrap-select {
			width: 100%;
			margin-bottom: 20px;
		}

		.form-spacer {
			height: 63px;
			margin: 0 0 20px 0;
			width: 100%;
		}

		.column {
			width: 47.5%;
			float: left;
			max-width: 400px;

			&:nth-of-type(odd) {
				margin-right: 5%;
			}

			& > .input-split {
				width: 48%;
				float: left;
				margin-right: 4%;

				& + .input-split {
					margin-right: 0;
				}
			}
		}

		.radio-group {
			margin-bottom: 1em;

			input {
				display: none;
			}

			.radio-icon {
				margin-right: 10px;
			}

			.radio-icon:before {
				font-family: 'FontAwesome';
				font-style: normal;
				font-size: 1.5em;
				content: '\f111';
				color: $equifax-text-blue;
			}

			input:checked + label .radio-icon:before {
				content: '\f10c';
			}

			label {
				display: inline;
				font-family: 'os';
				line-height: 1.5em;
			}
		}

		input.with-button {
			width: 330px;
			margin-right: 10px;

			& + button {
				position: relative;
				top: -10px;

				& + div {
					margin-bottom: 2em;
				}
			}
		}

		.apply-footer {
			line-height: 40px;
			clear: both;
		}
	}

	.question-icon {
		font-size: 3em;
		color: #fff;
		background-color: $blue-light;
		border-radius: 100%;
		text-align: center;
		height: 60px;
		width: 60px;
		line-height: 60px;
		font-weight: bold;
	}

	.clear-textarea {
		font-family: 'os-bold';
		color: $equifax-red;
		cursor: pointer;
	}

	.terms-conditions {
		display: block;
		font-family: 'os-bold';
		text-align: right;

		i {
			color: $blue-light;
		}
	}

	.owner {
		border-bottom: 1px solid $equifax-med-gray;
		margin-bottom: 2em;

		h4 {
			text-transform: uppercase;
			margin-bottom: 1em;
			float: left;

			i.fa {
				color: $equifax-med-gray;
				font-size: 2em;

				&:last-of-type {
					color: $blue-light;
				}
			}
		}

		&:first-of-type {
			.imitation-button.inverse {
				display: none;
			}

			h4 {
				float: none;
			}
		}

		.imitation-button.inverse .fa {
			color: #c00;
		}
	}

	.skinned-check + label {
		margin-right: 5px;
	}

	.qualify-section {
		margin-bottom: 20px;
	}
}

.apply-complete {
	padding: 30px 0;
	text-align: center;

	.fa {
		color: #3fb664;
		font-size: 4em;
		margin-bottom: 16px;
	}

	h2 {
		width: 45%;
		margin: 0 auto;
		font-family: 'os-bold';
		font-weight: normal;
		font-size: 32px;
	}
}

.apply-complete-footer {
	background-color: $equifax-light-gray;
	padding: 45px 0 100px 0;

	ul {
		list-style-type: none;
		margin: 0 10% 0 25%;
		padding: 0;
		float: left;

		li {
			position: relative;
			font-size: 1.5em;
			font-family: 'os-light';
			padding-left: 30px;
			margin-bottom: 1em;

			&.check:before {
				font-family: 'FontAwesome';
				content: '\f00c';
				color: #3fb664;
				margin-right: 5px;
			}

			&.circle:before {
				font-family: 'FontAwesome';
				content: '\f10c';
				color: #c00;
				margin-right: 5px;
			}
		}
	}

	.huge-icon {
		float: left;
		margin-right: 60px;
	}

}

/* END apply flow */

/* Invoices */

.invoices {
	padding: 1.5em 0;

	.button-holder-left {
		float: left;
		margin-bottom: 1.5em;

		& > div {

			&:first-of-type {
				margin-bottom: 1.5em;	
			}

			& > span {
				font-family: 'os-bold';
				margin-right: 5px;
			}
			
			.submit-invoices {
				border: none;
				line-height: 38px;
				padding: 0;
				font-size: 1.25em;
				color: $equifax-text-blue;
				background-color: #fff;

				.fa {
					color: $blue-light;
				}
			}
		}
	}

	.button-holder-right {
		float: right;

		& > button {
			float: right;
			margin-bottom: 1.5em;
		}
	}

	.table-filter {
		clear: both;
		position: relative;

		label {
			display: inline-block;
			line-height: 38px;
			position: relative;
			top: -8px;
			margin-right: 10px;
		}

		input {
			width: 300px;
			padding-right: 30px;
		}

		.fa {
			position: absolute;
			color: $blue-light;
			font-size: 1.5em;
			position: absolute;
			top: 8px;
			right: 8px;
		}
	}

	table,
	.base-table {
		width: 100%;
		margin: 1em 0 2em 0;

		.filtered, .tablesorter-filter-row {
			display: none;
		}

		th, td {
			padding: 15px;
			text-align: left;
			border-bottom: 1px solid $equifax-med-gray;

			&.center {
				text-align: center;
			}

			&.right {
				text-align: right;
			}

			&.header-wrap {
				max-width: 130px;
				padding: 5px 15px;
			}

			.fa {
				font-size: 1.25em;
			}
		}

		th {
			.tablesorter-header-inner > .fa {
				color: $blue-light;
				display: none;
				font-size: 1.25em;
			}

			&.tablesorter-headerAsc .tablesorter-header-inner > .fa-angle-down {
				display: inline;
			}
			&.tablesorter-headerDesc .tablesorter-header-inner > .fa-angle-up {
				display: inline;
			}
		}

		.expandable {
			display: none;

			&.open {
				display: table-row;
			}
		}

		.fa-plus {
			color: $equifax-text-blue;
		}

		.fa-check-circle {
			color: #3fb664;
			background: #3fb664;
			border-radius: 50%;
		}

		.fa-times-circle {
			color: #cd1209;
			background-color: #cd1209;
			border-radius: 50%;
		}

		.fa-minus-circle {
			color: #f27900;
			background-color: #f27900;
			border-radius: 50%;
		}

		input {
			display: none;

			& + label {
				display: block;
				color: #fff;
				background-color: #fff;
				border: 1px solid $equifax-text;
				width: 20px;
				height: 20px;
				margin: 0;
				
				.fa {
					font-size: 1em;	
				}
				
			}

			&:checked + label {
				background-color: $equifax-text-blue;
				border-color: $equifax-text-blue;
			}
		}

		thead {
			th {
				background-color: $equifax-light-gray;
				text-transform: uppercase;
				font-family: 'os-bold';

				&.primary {
					background-color: darken($equifax-light-gray, 5%);
				}
			}
		}

		tbody {
			tr {
				td {
					background-color: #fff;

					&.primary {
						background-color: darken(#fff, 5%);
					}
				}
			}



			tr:nth-child(2n + 2) {
				td {
					background-color: $equifax-light-gray;

					&.primary {
						background-color: darken($equifax-light-gray, 5%);
					}
				}
			}

			.hidden-text {
				display: none;
			}
		}
	}

	table.expand {
		@extend .base-table;

		tr:nth-child(4n + 3) {
				td {
					background-color: $equifax-light-gray;

					&.primary {
						background-color: darken($equifax-light-gray, 5%);
					}
				}
			}
	}

	.table-options {
		margin-bottom: 3em;
		padding: 0 20px;

			input[type="text"], input[type="password"], select {
				width: auto;
				display: inline-block;
				vertical-align: middle;
			}


		& > div {
			float: left;
			line-height: 40px;
			width: calc(100% / 3);
			text-align: center;

			&:first-of-type {
				text-align: left;
			}

			&.pagination {
				margin: 0;
				text-align: right;

				a {
					display: inline-block;
					padding: 8px;
					line-height: 1em;

					&.current {
						color: #fff;
						background-color: $blue-light;
					}

					&.disabled {
						color: $equifax-light-gray;
					}
				}
			}

			& > span {
				color: $gray;
		    font-family: 'os-bold';
		    display: inline-block;
		    vertical-align: top;
		    margin-right: 10px;
			}
		}

		.bootstrap-select {
			width: 150px;
			margin: 0 0 0 10px;
		}
	}

	button, .button {
		background-color: $blue-med;
		font-family: 'os';
		font-size: 14px;
		color: #fff;
		box-shadow: none;
		border: none;
		line-height: 40px;
		padding: 0 15px;
		display: inline-block;
		text-transform: uppercase;

		i {
			color: $blue-light;
		}

		.fa {
			margin-left: 5px;
		}

		&.inverse {
			color: $gray;
			background-color: #fff;
			border: 1px solid;
			border-radius: 0;
			
			&.current {
		//		background-color: #e5e8ee;
				color: $blue-med;
				font-family: 'os-bold';
			}

			&.filter-on {
				background-color: $equifax-light-gray;
				color: $equifax-text-gray;
			}
		}

		&:not(:last-of-type) {
			margin-right: 8px;
		}
	}

	.submit-invoice {
		font-family: 'os-bold';
		color: $equifax-text-blue;
		cursor: pointer;

		.fa-file-text-o {
			color: $blue-light;
			margin-left: 5px;
		}

		a {
			color: #fff;
			font-family: 'os-bold';
			text-decoration: none;
		}
	}

	.actions-toggle {
		position: relative;
		cursor: pointer;

		.actions-arrow {
			position: absolute;
			left: calc(50% - 14px);
			top: calc(100% + 10px);
			border-top: none;
			border-left: 14px solid transparent;
			border-right: 14px solid transparent;
			border-bottom: 14px solid $gray;
			display: none;

			&.open {
				display: block;
			}

			&.left {
				left: -15px;
				top: calc(50% - 14px);
				border-top: 14px solid transparent;
				border-left: 14px solid $gray;
				border-right: none;
				border-bottom: 14px solid transparent;
			}
		}

		.actions {
			position: absolute;
			top: -32px;
			left: -280px;
			background-color: $gray;
			color: #fff;
			width: 300px;
			padding: 10px;
			display: none;

			&:after {
				content: '';
		    width: 0;
		    height: 0;
		    border-top: 20px solid transparent;
		    border-bottom: 20px solid transparent;
		    border-left: 20px solid #9c9b9c;
		    position: absolute;
		    top: 26px;
			}

			&.open {
				display: block;				
			}

			&.left {
				left: -315px;
				top: -35px;
			}

			.action,
			button.action {
				background-color: transparent;
				border: 1px solid #fff;
				padding: 10px;
				width: 47.5%;
				float: left;
				box-sizing: border-box;
				line-height: 1em;
				text-transform: none;

				&:first-child {
					margin-right: 5%;
				}

				i.fa {
					display: block;
					margin: 0 auto;
					color: #fff;
					font-size: 2em;
					margin-bottom: 10px;
					text-align: center;
				}

				div {
					font-family: 'os-bold';
				}
			}

			select {
				width: 100%;
				height: 40px;
				background-color: #3b4048;
				border: 1px solid #3b4048;
				color: #fff;
				padding: 0 15px;
				font-family: 'os';
			}
		}
	}
}

.footer-links {
	list-style-type: none;
	float: left;
	width: 25%;
	margin: 0 5% 80px 0;

	li {
		margin-bottom: 12px;
		font-size: 1.125em;

		&:first-child {
			line-height: 40px;
			margin-bottom: 15px;
		}

		span {
			padding: 10px 20px;
			background-color: #6a7a99;
			text-transform: uppercase;
			font-family: 'os-bold';
			color: #fff;
		}
	}
}

.header-nomax {
	padding: 2.5em 0;
	overflow: hidden;
	clear: both;

	h1 {
		width: auto	;
		text-align: left;
		float: left;
		clear: both;
		color: #fff;
		font-family: 'os-light';
		font-weight: lighter;
		-webkit-font-smoothing: antialiased;
		font-size: 54px;
		margin: 0;
		line-height: normal;
	}
}

.header-invoice {
	padding: 2.5em 0;
	overflow: hidden;
	clear: both;

	h1 {
		width: 37%;
		text-align: left;
		float: left;
		clear: both;
		color: #fff;
		font-family: 'os-light';
		font-weight: lighter;
		-webkit-font-smoothing: antialiased;
		font-size: 54px;
		margin: 0;
		line-height: normal;
	}



	.invoice-amounts {
		width: 63%;
		float: right;
		list-style-type: none;
		margin: 0;

		li {
			display: block;
			float: left;
			padding: 0 25px;
			line-height: normal;

			&:not(:last-child) {
				border-right: 1px solid $equifax-dark-blue;
			}

			&:last-child {
				padding-right: 0;
			}

			div:nth-child(1) {
				color: #fff;
				font-family: 'os-light';
				font-weight: lighter;
				font-size: 54px;
				-webkit-font-smoothing: antialiased;
				margin-bottom: 0.1em;
			}

			div:nth-child(2) {
				color: $equifax-text;
				font-family: 'os-bold';
				text-transform: uppercase;
			}
		}

	}
}

.angle-content {
	clear: both;
	padding-top: 100px;
	background: linear-gradient(180deg, transparent 100px, #f5f5f5 80px, #f5f5f5 100%);
	position: relative;

	h4 {
		font-family: 'os-light';
		font-size: 2em;
		margin-bottom: 1em;
	}

	.backgrounds {
		position: absolute;
		top: 0;
		overflow: hidden;
		height: 100px;
		width: 100%;
		background: linear-gradient(to right, transparent 1400px, #f5f5f5 1400px, #f5f5f5 100%);

		&:before {
			content: '';
			height: 200px;
			position: absolute;
			top: 98px;
			width: 1400px;
			background-color: #f5f5f5;
			z-index: 2;
			transform: skewY(-4deg);
			transform-origin: left;
		}

		&:after {
			content: '';
			height: 80px;
			position: absolute;
			top: 20px;
			width: 100%;
			background-color: #dfdfdf;
			z-index: -1;
		}
	}	
}

/* END Invoices */

/* Manual invoice */

.invoice-submit {
	
	h2 {
		font-size: 24px;
		font-family: 'os';
	}

	h4 {
		font-size: 15px;
		font-family: 'os-bold';
		margin: 0;
	}

	input[type="text"], select {
		width: 40%;
		display: inline-block;
	}

	section:not(:last-of-type) {
		border-bottom: 1px solid $equifax-med-gray;
	}

	section:not(:first-of-type) {
		padding-top: 20px;
	}

	dl {
		margin: 0 0 1em 0;
		overflow: hidden;

		dt {
			font-family: 'os-bold';
			width: 100%;
			font-size: 14px;
			margin: 0;

		}

		dd {
			margin: 0;
			width: 100%;
			font-size: 14px;
			margin: 0;
		}
	}

	select, select + div {
		display: block;
		float: left;
	}

	select + div {
		line-height: 40px;

		b {
			font-family: 'os-bold';
			text-transform: uppercase;
			padding: 0 12px 0 15px;
		}
	}

	.huge-icon {
		margin: 0 auto;
	}
}

/* Calculator */

.calculator {
	padding: 50px 0;

	.col-8 {
		width: 65%;
		margin-right: 25px;
		float: left;
	}

	.col-4 {
		width: calc(35% - 25px);
		float: left;
	}
	select {
		width: 48%;
		display: block;
	}

	.column {
		width: 48%;
		float: left;
		margin-right: 4%;

		&.last {
			margin-right: 0;
		}
	}

	.definitions {
		background-color: $equifax-light-gray;
		padding: 30px;

		h2 {
			font-family: 'os-light';
			margin: 0 0 0.5em 0;
			font-size: 28px;
		}

		h3 {
			font-family: 'os-bold';
			font-size: 16px;
			margin: 0;
			line-height: 30px;
		}

		p {
			margin-bottom: 1em;
		}
	}

	section {
		padding: 30px 0;
		&:first-of-type {
			padding-top: 0;
		}

		border-bottom: 1px solid $equifax-med-gray;
		&:last-of-type {
			padding-bottom: 0;
			border-bottom: none;
		}

		h3 {
			text-transform: uppercase;
			font-size: 1.25em;
			padding-bottom: 10px;
			border-bottom: 1px solid $equifax-med-gray;
			font-family: 'os-bold';
			color: $equifax-text-gray;

			.fa {
				color: $blue-light;
				font-size: 2em;
				margin-right: 5px;
			}
		}
	}

	
	.step-instructions {
		position: relative;
		padding-left: 40px;
		margin-bottom: 2em;
		font-size: 1.125em;

		h3 {
			position: absolute;
			width: 30px;
			height: 30px;
			line-height: 30px;
			border-radius: 100%;
			background-color: $equifax-dark-blue;
			top: 0;
			left: 0;
			color: #fff;
			font-size: 20px;
			margin: 0;
			text-align: center;
		}
	}

	.graphs {
		padding-top: 50px;

		.graph {
			width: 200px;
			float: left;
			margin-right: 38px;

			&:last-of-type {
				margin-right: 0;
			}

			& > div {
				float: left;
				margin-right: 20px;
				height: 200px;
				width: 90px;
				background-color: $equifax-light-gray; /* should be f1f1f1 */
				text-align: center;

				&:last-of-type {
					margin-right: 0;
				}

				&.col-current, &.col-with-steppay {
					position: relative;

					.value {
						position: absolute;
						top: -30px;
						text-align: center;
						width: 100%;
						font-size: 1.25em;
						font-family: 'os-bold';
					}
				}

				&.col-current {
					.filled-bar {
						height: 40px;
						width: 100%;
						position: absolute;
						bottom: 0;
						background-color: #535b66;
					}
				}

				&.col-with-steppay {
					.filled-bar {
						height: 80px;
						width: 100%;
						position: absolute;
						bottom: 0;
						background-color: $blue-light;
					}
				}
			}

			h4 {
				font-size: 0.75em;
				color: #fff;
				clear: both;
				background-color: #273447;
				text-transform: uppercase;
				text-align: center;
				padding: 10px;
			}
		}	
	}

	.economic-benefits {
		float: left;
		margin: 2em 0;
		tr {
			td {
				border: 1px solid $equifax-med-gray;
				padding: 20px;
				position: relative;

				.benefit {
					font-size: 11px;
					height: 48px;
					margin-bottom: 2em;
				}

				.amount {
					font-size: 2em;
					font-family: 'os-light';
					text-align: right;
					color: #27713e;
				}

				&:last-child {
					width: 225px;
				}

				&.plus:after {
					font-family: 'FontAwesome';
					content: '\f067';
					color: $blue-light;
					font-size: 2em;
					position: absolute;
					right: -12px;
					top: calc(50% - 10px);
				}

				&.equal:after {
					font-family: 'os-bold';
					content: '=';
					color: $blue-light;
					font-size: 4em;
					position: absolute;
					right: -16px;
					top: calc(50% - 10px);
				}
			}

			&.totals-row td {
				background-color: $equifax-light-gray;
				text-align: right;

				b {
					font-family: 'os-bold';
				}
			}
		}
	}
}

/* Settings */

.settings {
	h2 {
		margin: 0 0 1em 0;
		font-family: 'os-light';
		font-weight: lighter;
	}

	dl {
		margin-bottom: 50px;
	}
}

/* Sales Toolkit */

.sales-toolkit {
	p {
		font-size: 1.125em;
		line-height: 1.5em;
		margin-bottom: 3em;
		width: 66%;
	}

	section {
		& > div {
			width: 30%;
			margin-right: 3%;
			float: left;
		}
	}
}

/* Merchant Home */

.merchant-home {
	&.hero {
		background-image: url("../img/hero-temp3.jpg");
	}

	.promo {
		float: left;

		p {
			font-family: 'os-light';
			-webkit-font-smoothing: antialiased;
		}
	}

	.sign-in-block {
		float: right;
		color: #fff;
		width: 375px;
		padding-top: 30px;

		h3 {
			font-size: 1.33em;
			font-family: 'os-bold';
			margin: 0 0 10px 0;
		}

		h4 {
			font-size: 1em;
			font-family: 'os-bold';
			text-transform: uppercase;

			i {
				color: $blue-light;
			}
		}

		label {
			color: $equifax-med-blue;
			text-transform: uppercase;
		}

		input {
			background-color: #3e4b68;
			border: none;
			color: #e5e5e5;
		}

		.skinned-check + label {
			background-color: #3e4b68;
			color: #3e4b68 !important;
			border: none;
			margin-right: 8px;
			margin-bottom: 12px;

			& + label {
				display: inline-block;
				text-transform: none;
				color: #fff;
				font-family: 'os';
			}
		}

		.skinned-check:checked + label {
			background-color: #3e4b68;
			color: #fff !important;
		}

		.sign-in-options {
			width: 60%;
			float: left;

			.fa-lock {
				margin: 0 18px 0 6px;
			}
		}

		.sign-in-submit {
			float: right;
		}
	}
}

/* resources */

.resources {
	& > p {
		line-height: 1.5em;
		width: 60%;
		margin-bottom: 2em;
	}

	.cards {

		margin-right: -20px;
		margin-left: -16px;

		.card {
			width: 22%;
			display: inline-block;
			height: 260px;
			margin-right: 16px;
			margin-left: 16px;

			a {
				color: $equifax-text-gray;
				text-decoration: none;
				display: inline-block;

				h3 {
					text-align: left;
				}
			}

			&.icon-tile {

				text-align: center;

				span {
					display: block;
					width: 100%;
					text-align: center;
				}

				i {
					color: $blue-light;
					font-size: 130px;
				}
				h3 {
					padding-right: 0;
					display: inline-block;
					margin-top: 20px;
				}

				.inner {
					padding-top: 30px !important;
				}
			}

			.inner {
				height: 100%;

				.hover-content, .standard-content {
					height: 100%;
				}
			}

			.hover-content {
				display: none;
				background-color: $blue-med;
				padding: 50px 15px 30px 15px;
				height: 100%;
				
				p {
					line-height: 1.75em;
					color: #fff;
					text-align: center;
					padding: 0;
					margin-bottom: 30px;
				}

				.fa {
					text-align: center;
					color: #fff;
					font-size: 2em;
					display: block;
				}
			}

			&:hover .hover-content {
				display: block;
			}

			&:hover .standard-content {
				display: none;
			}

			img {
				height: 130px;
				width: 100%;
				margin-bottom: 35px;
			}

			h3 {
				font-size: 1.5em;
				font-family: 'os-light';
				height: 3em;
				position: relative;
				margin: 0;
				line-height: 1.5em;
				padding-right: 33%;
				display: flex;
				align-items: flex-end;

				.fa {
					position: absolute;
					right: 0;
					bottom: 0;
					color: $blue-med;
					font-size: 1.5em;
				}
			}
		}
	}
}

/* New global styles */

h2 {
	font-family: 'os-light';
	font-weight: lighter;
	-webkit-font-smoothing: antialiased;
	font-size: 36px;
	margin: 0 0 0.75em 0;

	&.long {
		font-size: 34px;
	}
}

label {
	font-family: 'os-bold';
	color: $equifax-text-gray;

	span {
		font-family: 'os';
		color: $equifax-med-gray;
	}
}

input[type="text"], input[type="password"], select {
	width: 100%;
	box-sizing: border-box;
	height: 38px;
	margin-bottom: 20px;
}

.bootstrap-select {
	width: 100%;

	.btn {
		width: 100%;
		background: $equifax-light-gray;
		box-sizing: border-box;
		border: 1px solid #ccc;
	
		height: 38px;
		line-height: 36px;
		padding: 0 30px 0 15px;
		color: $equifax-text-gray;

		.bs-caret {
			position: absolute;
			right: 10px;

			.caret {
				margin-top: 16px;
			}
		}
	}

	select {
		display: none;
	}

	.dropdown-menu {
		margin-top: 0;
		width: 100%;
		padding: 0;
		min-width: 0;

		& > li > a {
			padding: 5px 15px;
		}
	}

	.dropdown-menu.inner {
		position: static;
	}

	.caret {
		border-width: 7px;
	}
		
}

.message {
	padding: 15px;
	clear: both;
	margin-bottom: 1.5em;
	overflow: hidden;

	&.success {
		background-color:  $green;
		color: #000;

		a {
			color: #000;
			text-decoration: underline;
		}
	}

	&.neutral {
		background-color: $equifax-light-gray;
	}

	&.warning {
		background-color: $equifax-red-light;
		color: $equifax-red;
	}
}

.boxed-content {
	border: 1px solid $equifax-med-gray;
	padding: 30px 40px;
	background-color: #fff;

	.section-footer {
		line-height: 40px;
		margin-top: 2em;
	}
}

.col-3 {
	width: 25%;
	padding-right: 2.5%;
	float: left;
}

.col-9 {
	width: 75%;
	float: left;
}

.huge-icon {
	width: 140px;

	i {
		color: $blue-med;
		font-size: 82px;
		line-height: 140px;
		text-align: center;
		height: 140px;
		width: 140px;
		margin: 0 auto 0 auto;
		border-radius: 100%;
		background: linear-gradient(to bottom, $equifax-light-gray, transparent 75%);
	}

	&.inverted i {
		background: linear-gradient(to bottom, #fff, transparent 75%);	
	}

	div {
		text-transform: uppercase;
		color: $equifax-button;
		line-height: 1.5em;
		font-family: 'os-bold';
		display: block;
		text-align: center;
	}

	&:hover {
		i {
			color: $gray;
		}

		a {
			text-decoration: none;
		}
	}
}

.imitation-button {
	display: inline-block;
	cursor: pointer;

	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

button, .imitation-button {
	background-color: $blue-med;
	font-family: 'os-bold';
	font-size: 14px;
	color: #fff;
	box-shadow: none;
	border: none;
	line-height: 40px;
	padding: 0 15px;

	&.green {
		background-color: #fff;
		border: 1px solid #27713e;
		color: #27713e;
	}

	&.red {
		background-color: #fff;
		border: 1px solid #cd1209;
		color: #cd1209;
	}

	&.transparent {
		background-color: transparent;
		border: 1px solid #fff;
		margin-top: 4px;
	}

	&.next {
		&:after {
			content: '\f0a9';
			font-family: 'FontAwesome';
			color: $blue-light;
			margin-left: 8px;
		}
	}

	&.prev {
		&:before {
			content: '\f0a8';
			font-family: 'FontAwesome';
			color: $blue-light;
			margin-right: 8px;
		}
	}

	&.inverse {
		background-color: #fff;
		border: 1px solid #002060;
		color: #002060;
	}

}

button.pull-right, a.pull-right {
	float: right;
	margin-left: 10px;
}

.button-no-border {
	color: $equifax-text-blue;
	font-family: 'os-bold';

	i {
		color: $blue-light;
	}
}

.test-tooltip-trigger {
	font-size: 0.75em;
	position: relative;

	div {
		position: absolute;
		font-size: 14px;
		top: -120px;
		left: calc(50% - 150px);
		background-color: $equifax-text-gray;
		color: #fff;
		width: 300px;
		padding: 10px;
		display: none;

		&:before {
			content: '';
			position: absolute;
			left: calc(50% - 14px);
			top: calc(100%);
			border-bottom: none;
			border-left: 14px solid transparent;
			border-right: 14px solid transparent;
			border-top: 14px solid $equifax-text-gray;
			display: none;
		}

		h3 {
			font-size: 18px;
			margin: 0;
		}
	}

	&:hover div, &:hover div:before {
		display: block;
	}
}

dl {
	dt {
		width: 30%;
		padding-right: 2%;
		float: left;
		clear: both;
		margin: 0 0 1em 0;
		font-size: 16px;
		font-family: 'os-bold';
	}

	dd {
		width: 70%;
		float: left;
		margin: 0 0 1em 0;
		font-size: 16px;
	}
}

h3.with-icon {
	text-transform: uppercase;
	font-size: 1.25em;
	font-family: 'os-bold';
	border-bottom: 1px solid $equifax-med-gray;
	padding-bottom: 0.5em;
	margin: 1em 0;

	&:first-of-type {
		margin-top: 0;
	}

	i {
		color: $blue-light;
		margin-right: 8px;
		font-size: 1.75em;
	}

	.edit-button {
		float: right;
		color: $equifax-text-blue;
		text-transform: none;
		font-family: 'os-bold';

		&:after {
			font-family: 'FontAwesome';
			content: '\f040';
			color: $blue-light;
			margin-left: 5px;
		}
	}
}

.tabs,
.mini-tabs {
	list-style-type: none;
	margin: 0 0 3em 0;
	padding: 0;
	float: left;
	width: 100%;
	border-bottom: 1px solid $blue-light;
	position: relative;

		span {
			float: left;
	    margin-right: 10px;
	    margin-top: 11px;
	    font-family: 'os-bold';
	    color: $equifax-text-gray;
		}

	&.button-tabs {
		border-bottom: none !important;
	}


	li {
		display: block;
		float: left;
		padding: 15px 25px;
		text-transform: uppercase;
		font-size: 1.125em;
		cursor: pointer;
		position: relative;
		font-family: 'os-bold';
		color: #002060;

		&.active {
			border-top: 1px solid $blue-light;
			border-right: 1px solid $blue-light;
			border-left: 1px solid $blue-light;
			color: $blue-light;
			
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				left: 0;
				bottom: -1px;
				border-bottom: 1px solid #fff;

			}
			
		}
	}

	& ~ div {
		clear: both;
	}
}

.tab {
	display: none;

	&.active {
		display: block;
	}
}

.content-area-padding {
	padding: 2em 0 5em 0;
}

input.skinned-check {
	display: none;

	& + label {
		display: inline-block;
		color: #fff !important;
		background-color: #fff;
		border: 1px solid $equifax-text;
		width: 20px;
		height: 20px;
		margin: 0;
		text-align: center;
		
		.fa {
			font-size: 1em;	
		}
		
	}

	&:checked + label {
		background-color: $equifax-text-blue;
		border-color: $equifax-text-blue;
	}
}

.modal-2 {
	padding: 50px;
	width: 50%;
	position: fixed;
	left: 50%;
	top: 10%;
	z-index: 1050;
	transform: translateX(-50%);
	background-color: #fff;
	display: none;

	.modal-body {
		max-height: 500px;
		overflow: auto;
		padding: 0;
	}

	h3 {
		font-size: 24px;
		font-weight: 'os-light';
		margin: 0 0 1em 0;
	}

	b {
		font-family: 'os-bold';
	}

	.modal-close {
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 5px;
		font-size: 20px;
		cursor: pointer;
		color: $equifax-med-gray;
	}
}

.modal-overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000;
	opacity: 0.75;
	z-index: 1000;
	top: 0;
	left: 0;
}

//Angled content

.orange-button {
	background-color: $blue-light;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	margin: 0 20px 20px;
}

.partner-links {
	display: block;
	padding-bottom: 30px;

	a {
		display: inline-block;
		margin-right: 20px;

		img {
			width: 100px;
		}
	}
}
.angle-content {
	h4 {
		font-family: 'os-bold';
	}

	h5 {
		font-size: 20px;
	}

	p {
		padding: 20px 30%;
	}
}

//end angled content

.link-list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		margin-bottom: 1em;
		font-size: 1.125em;
	}
}


.accordion-trigger {
	cursor: pointer;

	.fa {
		color: $blue-light;
		font-size: 1.25em;
		margin-left: 10px;	
	}

	.accordion {
		display: block;
	}

	&.closed + .accordion {
		display: none;
	}
}

//Business Credit Report
.top-buttons {

	padding-top: 15px;
	select {
		width: 20%;
	}

	&.right {
		text-align: right;
	}
}

//Benefits of Baton

.benefits {
	background-color: #2a3346;
	color: #fff;
	text-align: center;
	margin-bottom: -20px;

	h3 {	
		font-family: 'os-light';
		font-weight: 100;
		padding: 15px 0;
	}

	.benefit-icons {

		padding: 15px 0;

		div {
			width: 138px;
			display: inline-block;
			margin: 0 8px;
			vertical-align: top;
		

			h5 {
				font-size: 13px;
			}

			i {
				font-size: 70px;
				padding: 25px;
				border-radius: 50%;
		    background: #242c3d; 
		    background: -webkit-linear-gradient(#242c3d, #2a3346); 
		    background: -o-linear-gradient(#242c3d, #2a3346); 
		    background: -moz-linear-gradient(#242c3d, #2a3346); 
		    background: linear-gradient(#242c3d, #2a3346); 
			}

			p {
				font-size: 10px
			}
		}
	}
}


// Full menu above footer

.footer-large {
	background-color: $equifax-text-gray;
	color: #fff;
	padding: 30px 0;


	address {
		font-style: italic;
		font-family: 'os-light';
		margin-top: 10px;
	}

	a {

		color: #fff;
		display: inline-block;
		width: 100%;
		font-weight: 100;
		font-family: 'os-light';
		margin-bottom: 10px;
	}

	i {
		padding-right: 10px;
		color: #fff;
	}

	h4, 
	h5 {
		font-family: 'os-bold';
		color: #fff;
	}

	p {
		font-family: 'os-light';
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid #fff;
	}

	.footer-nav {
		width: 100%;

		div {
			width: 160px;
			display: inline-block;
			vertical-align: top;

			&:nth-of-type(4) {
				width: 240px;
			}

			&:nth-of-type(5) {
				width: 260px;
			}
		}
	}
}


.center {
	text-align: center;
}


// Footer

footer {
	background-color: $red;
	color: #fff;
	height: 60px;
	position: relative;

	p {
		display: inline-block;
		width: 48%;
		vertical-align: top;
	}

	div {
		@include grid-core-span($gridColumns, $gridColumnWidth, $gridGutterWidth);
		text-align: left;
		font-size: 13px;
		padding: 20px 0 0 0;
		display: block;
		margin: 0 auto;

		a {
			color: #fff;
			text-decoration: none;
		}
	}
} 



//Overrides

input.nav-search {
	display: inline-block;
	float: none;
	width: 260px;

	&.payments-search {
		width: 290px;
	}
}

#pendingTable,
#qualTable,
#disTable,
#rejectedTable {
	margin-top: 20px;

	th {
		position: relative;
	}
}

a.search-button {
	color: $gray;
	position: relative;
	left: -30px;
  bottom: 7px;
  font-size: 20px;
}

a.sort {
	font-size: 20px;
	color: $blue-light;
	text-decoration: none;
}

.tablesorter-header-inner {
	display: inline-block;
	font-family: 'os-bold';
}

.tablesorter-headerAsc {
	position: relative;

	&::after {
		content: '\f078';
		color: $blue-light;
		font-family: 'FontAwesome';
		float: right;
		position: absolute;
		right: 10px;
		top: 16px;
	}

}

.tablesorter-headerDesc {
	position: relative;

	&::after {
		content: '\f077';
		color: $blue-light;
		font-family: 'FontAwesome';
		float: right;
		position: absolute;
		right: 10px;
		top: 16px;
	}
}

#pendingTable {
	i {
		display: inline-block;
		color: $blue-light;
		margin-left: 5px;
	}

	span {
		display: inline-block;
		font-family: 'os-bold';
	}
}

a.wider {
	width: 151px;
	display: inline-block;
}


.bar-structure {
	&.active {	
		span,
		a {
			color: $blue-med;
			font-family: 'os-bold';
		}
		div {
			background-color: $blue-med;
		}
	}
}

.customers-graph {
	background: url('../img/graph-customers-bg.png') top left no-repeat;
	color: $equifax-med-gray;
	position: relative;
	height: 245px;
	margin: 50px 0;
	display: block;


	.bar {
		position: absolute;
		width: 150px;
		cursor: pointer;
		height: 275px;

		span {
			color: $dark-gray;
			font-family: 'os';
			width: 100%;
 			display: inline-block;
 			text-align: center;
 			position: relative;
			  top: -15px;
		}

		a {
			color: $dark-gray;
			font-family: 'os-light';
			text-transform: uppercase;
			width: 100%;
 			display: inline-block;
 			text-align: center;
 			text-decoration: none;
		}

		div {
			background-color: $gray;
			display: inline-block;
			width: 100%;

		}

		&.pending {
			@extend .bar-structure;
			left: 122px;
			top: 184px;

			div {
				height: 40px;
			}
		}

		&.qualified {
			@extend .bar-structure;
			left: 383px;
	    top: 154px;

			div {
				height: 70px;
			}
		}

		&.disqualified {
			@extend .bar-structure;
			left: 637px;
 			top: 204px;

			div {
				height: 20px;
			}
		}

		&.rejected {
			@extend .bar-structure;
			left: 895px;
 			top: 194px;

			div {
				height: 30px;
			}
		}		

	}
}


//Payments graph

	.payments-graph {

		@extend .customers-graph;
		background: url('../img/graph-payments-bg.png') top left no-repeat;

		.bar {
			background-color: rgba(128,128,128, 0.1);
			top: 9px;
			height: 236px;

			a {
				position: absolute;
   			bottom: -23px;
			}

			div {
				position: absolute;
	  	  bottom: 0;

	  	  span {
	  	  	top: -25px;
	  	  }
			}

			&.current-payments {
				@extend .bar-structure;
				left: 140px;

				div {
					height: 48px;
				}
			}

			&.under-thirty {
				@extend .bar-structure;
				left: 340px;

				div {
					height: 112px;
				}
			}

			&.thirty {
				@extend .bar-structure;
				left: 540px;

				div {
					height: 54px;
				}
			}

			&.sixty {
				@extend .bar-structure;
				left: 740px;

				div {
					height: 20px;
				}
			}

			&.ninety {
				@extend .bar-structure;
				left: 940px;
  
				div {
					height: 10px;
				}
			}		

		}
	}

	.invoices-graph {

		@extend .payments-graph;
		background: url('../img/graph-invoices-bg.png') top left no-repeat;

		.bar {
			background-color: rgba(128,128,128, 0.1);
			top: 9px;
			height: 236px;

			a {
				position: absolute;
   			bottom: -23px;
			}

			div {
				position: absolute;
	  	  bottom: 0;

	  	  span {
	  	  	top: -25px;
	  	  }
			}

			&.ready {
				@extend .bar-structure;
				left: 140px;

				div {
					height: 48px;
				}
			}

			&.in-review {
				@extend .bar-structure;
				left: 340px;

				div {
					height: 112px;
				}
			}

			&.paid {
				@extend .bar-structure;
				left: 540px;

				div {
					height: 54px;
				}
			}
		}
	}

	.text-tip {
		background-color: $equifax-text-gray;
		padding: 6px;
		width: 300px;
		height: 45px;
		position: absolute;
		top: -34px;
		left: -52px;
		color: #fff;
		font-family: 'os-light';
		font-size: 9px;
		z-index: 1000;
		display: none;

	&::after {
		content: '\f0dd';
		font-family: 'FontAwesome';
		color: $equifax-text-gray;
		vertical-align: middle;
		font-size: 21px;
    position: relative;
    top: -24px;
    left: 125px;
	}
}

span.table-tip {

	&:hover + .text-tip {
    display: block;
	}
}

.neg-20-top {
	margin-top: -20px;
}

.customer-tables {
	background-color: #fff;
	color: #000;

	.tab-content,
	.mini-tab-content {
		padding: 0;
	}
}

tr {
	td {
		&:nth-of-type(2) {
			span {
				cursor: pointer;
			}
		}
	}
}

//Customer Details 

.detail-wrapper {
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	z-index: 3;

	input[type="text"], input[type="password"], select {
		display: inline-block;
		vertical-align: middle;
	}

	.detail-container {
		background-color: #fff;
		width: 1000px;
		height: 600px;
		display: block;
		margin: 4% auto 0;

		.invoices {
    	padding: 20px 0;
		}

		.tabs,
		.mini-tabs {
			background-color: $equifax-med-gray;
		}
		.tab-content,
		.mini-tab-content {
			background-color: #fff;
			text-align: initial;
			position: relative;
		}
	}

	.close-details {
		color: $blue-light;
		position: absolute;
		top:20px;
		right: 20px;
		background-color: transparent;
		border: 1px solid;
		font-size: 22px;
    padding: 4px 7px;
    line-height: 1em;
	}

}

.navbar {

	&.mini {
		.navbar-inner { 
			color: #fff;
			padding-top: 5px;
			padding-bottom: 5px;
			position: relative;
			background-size: contain;
			height: 125px;
		}

		.header-invoice {
			padding: 0em 0 1.5em;
			color: $gray;
		}

		h3 {
			font-family: 'os-light';
			font-weight: lighter;
			margin-bottom: 0;
		}

		.customer-subinfo {
			i {
					display: inline-block;
					background-color: $icon-green;
					border-radius: 50%;
					display: inline-block;
			    border: 1px solid #fff;
    			padding: 6px;
    			position: relative;
			    top: 2px;
			    margin-right: 5px;
				}

				span { 
					display: inline-block;
					font-family: 'os-light';
					font-weight: lighter;
			}
		}
	}
}

.mini-tabs {
	margin-bottom: 1em;
	li {
		font-family: 'os-light';
		color: $equifax-text-gray;
		position: relative;


		&.current {
			color: inherit;
			font-family: 'os-bold';
			color: $blue-med;

			&::after {
				content: '';
				width: 0; 
				height: 0; 
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 8px solid #fff;
				position: absolute;
				left: calc(50% - 10px);
		    bottom: 0;
			}
		}
	}

}

.details-form,
.details-info {
	display: inline-block;

	button {
		i {
			color: $blue-light;
			margin-left: 10px;
		}
	}
}

.details-form {
	width: 270px;
	margin-right: 20px;

	input,
	select {
		margin-bottom: 10px;
	}

	section {
		display: inline-block;
		width: 40%;
		margin-bottom: 10px;

		&:first-of-type {
			margin-right: 10px;
		}
	}
}

.details-info {
	width: 670px;
	border: 1px solid $equifax-light-gray;
	vertical-align: top;
	padding: 20px;
	color: $equifax-text-gray;
	margin-top: -10px;

	img {
		border-bottom: 1px solid $equifax-light-gray;
		height: 124px;
	}

	span.limit {
		display: block;
		padding: 5px 0;
		text-align: center;
		font-size: 24px;
		border-bottom: 1px solid $equifax-light-gray;
	}

	section.util {
		position: relative;
	}

	span.utilized {
		position: absolute;
    font-size: 28px;
    color: $gray;
    font-family: 'os';
    left: 87px;
    bottom: 16px;
	}


	.detail-row {
		border-bottom: 1px solid $equifax-light-gray;
		padding: 5px 0;
		span {
			display: inline-block;
			width: 48%;

			&:last-of-type {
				text-align: right;
			}
		}
	}

	section {
		display: inline-block;
		width: 40%;
		vertical-align: top;
		
		label {
			border-bottom: 1px solid $equifax-light-gray;
			padding-bottom: 5px;
		}

		&:first-of-type {
			margin-right: 8%;
		}
	}

	h5 {
		color: $equifax-text-gray;
		font-size: 19px;
	}

	.info-buttons {
		float: right;
		a {
			margin-right: 10px;
		}
	}
}

.detail-summary {
	margin-top: 20px;

	p {
		padding: 10px 0;

		span {
			font-family: 'os-bold';
		}
	}

	.detail-row {

		span {

			&:last-of-type {
				text-align: right;
				font-family: 'os-bold';
			}
		}
	}
}

.filter-controls {
	text-indent: 20px;
	margin: -12px 0;
	select {
		width: 200px;
		display: inline-block;

		&:first-of-type {
			margin-right: 10px;
		}
	}
}

.tab-messages  {
	.top-buttons {
		background-color: #fff;
}

	}
	.message-buttons {
		
		.button-holder-left {
    	margin: -25px 0 -13px;
		}
}

//removes default browser highlighting 
*:focus {
	outline: none;
}

h4.graph-title  {
	color: $equifax-text-gray;
	font-family: 'os-light';
	position: relative;
  top: -59px;
  left: 32px;
  display: inline-block;
}

#qualTable {
	tr {
		td {
			&:first-of-type {
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
}


//Footer 

.footer-nav {
	padding-bottom: 20px;

	h5 {
		color: $gray;
		font-family: 'os-bold';
		font-size: 16px;
		text-transform: uppercase;
	}

	div {
		display: inline-block;
		width: 48%;
	}

	a {
		color: $gray;
		margin-right: 50px;

		&:last-of-type {
			margin-right: 0;
		}

		&.i-link {
			margin-right: 25px;
		}

		i {
			color: $blue-light;
			padding-right: 5px; 
		}
	}
}

.logos {
	display: inline-block;
  vertical-align: top;
  width: 324px;
  padding: 0;
  float: right;

	img {
		margin-right: 10px;
		height: 30px;

		&:last-of-type {
			margin-right: 0;
		}
	}
}

//Table actions
.click-area {
	background-color: transparent;
  position: absolute;
  z-index: 1000;
  top: 700px;
  right: 72px;
  height: 600px;
  width: 300px;
}



.footer-x-large {
	background-color: $equifax-text-gray;
	color: #fff;
	padding: 30px 0;
	margin-bottom: -20px;

	address {
		font-style: italic;
		font-family: 'os-light';
		margin-top: 10px;
	}

	a {
		color: #fff;
		display: inline-block;
		width: 100%;
		font-weight: 100;
		font-family: 'os-light';
		margin-bottom: 10px;
	}

	i {
		padding-right: 10px;
		color: #fff;
	}

	h4, 
	h5 {
		font-family: 'os-bold';
	}

	p {
		font-family: 'os-light';
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid #fff;
	}

	.footer-nav {
		width: 100%;
		color: #fff;

		i {
			color: #fff;
		}

		h5 {
			color: #fff;
		}

		div {
			width: 160px;
			display: inline-block;
			vertical-align: top;

			&:nth-of-type(4) {
				width: 250px;
			}

			&:nth-of-type(5) {
				width: 230px;
			}

			&:last-of-type {
				width: 140px;
			}
		}
	}
}

#customer-invoices-table-in-review {
	.actions {
		width: 360px;
		left: -340px;
	}
}

#customer-invoices-table-paid {
	.actions {
		width: 560px;
		left: -540px;
		.action {
			width: 32%;
			margin-right: 1%;
		}
	}

}

.mutiselect-button {
	text-align: left;
		button {
			font-size: 11px;
		}

} 

#sampleRowHead {
	padding-left: 3px;
}



.invoice-amounts {
	list-style-type: none;
	margin: 0;
	padding: 40px 0;

	li {
		display: block;
		float: left;
		padding: 0 25px;
		line-height: normal;

		&:not(:last-child) {
			border-right: 1px solid $blue-med;
		}

		&:last-child {
			padding-right: 0;
		}

		div:nth-child(1) {
			color: $blue-med;
			font-family: 'os-light';
			font-weight: lighter;
			font-size: 54px;
			-webkit-font-smoothing: antialiased;
			margin-bottom: 0.1em;
		}

		div:nth-child(2) {
			color: $gray;
			font-family: 'os';
			text-transform: uppercase;
		}
	}
}

#detail-container {
	display: none;
}