
//New colors

$yellow: #f9e03d;
$blue-light: #9bd8dc;
$blue-med: #62abde;
$blue-dark: #034f81;
$green: #7cc252;
$gray: #9c9b9c;
$gray-xlight: #f5f5f5;
$gray-med: #dfdfdf;
$dark-gray: #999;
$red: #de4331;
$red-light: #f1776c;
$icon-green: #00ce00;

//Legacy colors

$equifax-orange: #f27900;

$equifax-text: $gray;
$equifax-text-gray: $gray;
$equifax-text-blue: $blue-dark;
$equifax-light-gray: $gray-xlight;
$equifax-med-gray: $gray-med;
$equifax-med-blue: $blue-med;
$equifax-button: $blue-med;
$equifax-dark-blue: $blue-dark;
$equifax-red: $red;
$equifax-red-light: $red-light;








