
			<!-- Angled content -->
<div class="angle-content">
	<div class="backgrounds"></div>
	
	<div class="container center">
		<h4>BATON</h4>
		<h4>Small business just got LARGER</h4>

		<p>Signing up for BATON is fast and free - no commitments or long term contracts</p>

		<a href="#" class="orange-button">GET STARTED</a>

		<h5>Baton works where you do.</h5>

		<p>On the road, in the air, or at work, Baton is available and is linked to your essential business applications.</p>

		<div class="partner-links">
			<a href="#"><img src="../img/quickbooks-logo.png"></a>
			<a href="#"><img src="../img/sage-one-logo1.png"></a>
			<a href="#"><img src="../img/ff-logo.png"></a>
			<a href="#"><img src="../img/wave-logo.png"></a>
			<a href="#"><img src="../img/freshbooks-logo.png"></a>
		</div>

	</div>

</div>	
		<!-- /Angled Content -->
