
			<!-- Benefits of Baton-->
<div class="benefits">
	<div class="container">
		<h3>Take a look at the benefits Baton brings to your business...</h3>

		<div  class="benefit-icons">

			<div>
				<i class="fa fa-clock-o"></i>
				<h5>REAL TIME PAYMENTS</h5>
				<p>Reduce account receivable payment cycle to 1-3 days</p>
			</div>

			<div>
				<i class="fa fa-unlink"></i>
				<h5>DEBT FREE</h5>
				<p>Expand working capital without adding debt</p>
			</div>

			<div>
				<i class="fa fa-unlock-alt"></i>
				<h5>RISK FREE</h5>
				<p>Eliminates risk of customer non-payment</p>
			</div>

			<div>
				<i class="fa fa-line-chart"></i>
				<h5>DRIVING GROWTH</h5>
				<p>Drive growth by unlocking the power in SMB balance sheets</p>
			</div>

			<div>
				<i class="fa fa-hourglass"></i>
				<h5>SAVING TIME</h5>
				<p>Drrive growth by unlocking the power in SMB balance sheets</p>
			</div>

		</div>
	</div>
</div>	
		<!-- /Benefits of Baton -->
