
		<!-- Customer Tables -->

			<div class="tabbed-content customer-tables">
				<div class="container neg-20-top">

					<div id="tab-pending" class="tab-content tab-container">
						
						{{>table-pending}}

						<div class="table-options">
							<div>Showing 10 of 17 Entries</div>
							<div>
								<span>Show</span>
								<select>
									<option>10 per page</option>
								</select>
							</div>
							<div class="pagination">
								<a href="#" class="disabled">Previous</a>
								<a href="#" class="current">1</a>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">Next</a>
							</div>
						</div>

					</div>
					<div id="tab-qualified" class="tab-content current">
						{{>table-qualified}}
						<div class="table-options">
							<div>Showing 10 of 36 Entries</div>
							<div>
								<span>Show</span>
								<select>
									<option>10 per page</option>
								</select>
							</div>
							<div class="pagination">
								<a href="#" class="disabled">Previous</a>
								<a href="#" class="current">1</a>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">Next</a>
							</div>
						</div>
					</div>

					<div id="tab-dis" class="tab-content">
						{{>table-disqualified}}
						<div class="table-options">
							<div>Showing 1 of 1 Entries</div>
							<div>
								<span>Show</span>
								<select>
									<option>10 per page</option>
								</select>
							</div>

						</div>
					</div>

					<div id="tab-rejected" class="tab-content">
						{{>table-rejected}}

						<div class="table-options">
							<div>Showing 5 of 5 Entries</div>
							<div>
								<span>Show</span>
								<select>
									<option>10 per page</option>
								</select>
							</div>
							
						</div>

					</div>

				</div>
			</div> 



		<!-- /Customer Tables -->
