
		<!-- Customer Details -->

			<div class="detail-wrapper" id="details-crescent">
				<div class="detail-container"> 
			
					<div class="navbar navbar-static-top mini">
						<div class="navbar-inner">
							<div class="container">		
								<button id="close-crescent" class="close-details">
									<i class="fa fa-close"></i>
								</button>			
								<section class="header-invoice">
									<h3>Crescent Crown</h3>
									<div class="customer-subinfo">
										<i></i>
										<span>Baton Customer ID: 1000010</span>
									</div>
								</section>
							</div>
						</div>
					</div>
		
					<ul class="button-tabs mini-tabs">
						<li id="customer-detail-crescent" class="current" data-tab="tab-details-crescent">
							Customer
						</li>
						<li id="customer-invoices-crescent" class="" data-tab="tab-invoices-crescent">
							Invoices
						</li>
						<li id="customer-messages-crescent" class="" data-tab="tab-messages-crescent">
							Messages
						</li>

					</ul>

					<div class="customer-details">
				

						<div id="tab-details-crescent" class="mini-tab-content current">	
							<div class="details-form">
								<label>Name</label>
								<input class="input5" type="text" value="Crescent Crown" disabled>
								<label>Street Address (Line 1)</label>
								<input class="input5" type="text" value="1000 ALDERMAN DR" disabled>
								<label>Street Address (Line 2)</label>
								<input class="input5" type="text" disabled>
								<label>City</label>
								<input class="input5" type="text" value="ALPHARETTA" disabled>

								<section>
									<label>State</label>
									<select class="input5" disabled>
										<option>GA</option>
									</select>
								</section>

								<section>
									<label>ZIP Code</label>
									<input class="input5" type="text" value="30005" disabled>
								</section>

								<button id="edit5">Edit <i class="fa fa-pencil"></i></button>
							</div>
		

							<div class="details-info">
								<h5>Baton's Know Before You Sell <span>&trade;</span> Guarantee</h5>

								<section>
									<label>Credit Limit</label>
									<span class="limit">$62,000 </span>
									<div class="detail-row">
										<span>Current Usage</span>
										<span>--</span>
									</div>
									<div class="detail-row">
										<span>Available</span>
										<span>$62,000</span>
									</div>
									<div class="detail-row">
										<span>Maximum Terms</span>
										<span>Net 30</span>
									</div>
								</section>

								<section class="util">
									<label>Percent Utilized</label>
									<img src="../img/detail-chart.jpg">
									<span class="utilized">0%</span>
								</section>

								<div class="detail-summary">
									<label>Merchant Fee Summary</label>
									<section>
										<div class="detail-row">
											<span>Net 30 Days</span>
											<span>3.50%</span>
										</div>
										<div class="detail-row">
											<span>Net 60 Days</span>
											<span>--</span>
										</div>
									</section>

									<section>
										<div class="detail-row">
											<span>Net 90 Days</span>
											<span>--</span>
										</div>
										<div class="detail-row">
											<span>Net 120 Days</span>
											<span>--</span>
										</div>
									</section>

									<p>Guaranteed Through <span>12/31/18</span></p>
								</div>

								<div class="info-buttons">
									<a href="#">Cancel</a>
									<button>Request Limit Increase <i class="fa fa-arrow-circle-right"> </i> </button>
								</div>
								
							</div>
							
						</div>

						<div id="tab-invoices-crescent" class="mini-tab-content invoices">
							
							<div class="filter-controls">
								<select>
									<option selected disabled>Invoice Status</option>
									<option value="">Submitted</option>
									<option value="">Rejected</option>
									<option value="">Ready</option> 
								</select>

								<select>
									<option selected disabled>Payment Status</option>
									<option value="">All</option>
									<option value="">Current</option>
									<option value="">30 Days Past Due</option>
									<option value="">60 Days Past Due</option> 
									<option value="">90 Days Past Due</option> 
									<option value="">Write Off</option>  
								</select>

							</div>

							{{>table-customer-invoices-ready}}

							<div class="table-options">
						
								<div>Showing 10 of 25 Entries</div>
						
								<div>
									<span>Show</span>
									<select>
										<option>10 per page</option>
									</select>
								</div>

								<div class="pagination">
									<a href="#" class="disabled">Previous</a>
									<a href="#" class="current">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">Next</a>
								</div>

							</div>

						</div>

						<div id="tab-messages-crescent" class="mini-tab-content invoices">
							<div class="top-buttons message-buttons">
								<div class="button-holder-left">

									<ul class="button-tabs">
										<li id="m1" class="button inverse actions-toggle tab-link current" data-tab="m-tab-unread">
											Unread
										</li>
										<li id="m2" class="button inverse actions-toggle tab-link" data-tab="m-tab-critical">
											Critical
										</li>
										<li id="m3" class="button inverse actions-toggle tab-link" data-tab="m-tab-high">
											High
										</li>
										<li id="m4" class="button inverse actions-toggle tab-link" data-tab="m-tab-normal">
											Normal
										</li>
									</ul>
								</div>
							</div>

							{{>table-customer-messages-crescent}}

							<div class="table-options">
						
								<div>Showing 3 of 3 Entries</div>
						
								<div>
									<span>Show</span>
									<select>
										<option>10 per page</option>
									</select>
								</div>


							</div>
							
						</div>

					</div>
				</div>
			</div> 
		<!-- /Customer Details -->
