
			<!-- Footer -->
		<div class="angle-content">
			<div class="backgrounds"></div>
			<div class="container">
				<div class="footer-nav">
					<div>
						<h5>Quick Links</h5>
						<a href="">About Baton</a>
						<a href="">Terms</a>
						<a href="">User Policy</a>
					  <a href="">Security</a>
					  <a href="">Support</a>
					</div>

					<div>
						<h5>Contact Us</h5>
						<a class="i-link" href=""> <i class="fa fa-envelope"></i>Inquiries@BatonCorp.com</a>
						<a class="i-link" href=""> <i class="fa fa-phone"></i>1(800)-xxx-xxxx</a>
						<a class="i-link" href=""><i class="fa fa-comments"></i>Live Chat Support</a>
					</div>
				
				</div>
			</div>
		</div>

		<footer>

			<div>
				<p>&copy; Baton Merchant Service   •   <a href="#">Privacy Policy</a>   •   <a href="#">Terms &amp; Conditions</a> </p>
				<div class="logos">
					<img src="../img/mcafee.png" alt="McAfee Secured">
					<img src="../img/norton.png" alt="Norton Verified">
					<img src="../img/godaddy.png" alt="GoDaddy Verified">
				</div>
			</div>

		</footer>
		<!-- /Footer -->
