
			<!-- Footer -->
		<footer>

			<div>
				<p>&copy; Baton Merchant Service   •   <a href="#">Privacy Policy</a>   •   <a href="#">Terms &amp; Conditions</a> </p>
				<div class="logos">
					<img src="../img/mcafee.png" alt="McAfee Secured">
					<img src="../img/norton.png" alt="Norton Verified">
					<img src="../img/godaddy.png" alt="GoDaddy Verified">
				</div>
			</div>

		</footer>
		<!-- /Footer -->
