
<!-- large footer content -->
		<div class="footer-large">	
			<div class="container">

				<h4>About Us</h4>

				<p class="padding">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	 consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>

				<div class="footer-nav">
					<div>
						<h5>Quick Links</h5>
						<a href="">About Baton</a>
						<a href="">Terms</a>
						<a href="">User Policy</a>
					  <a href="">Security</a>
					  <a href="">Support</a>
					</div>

					<div>
						<h5>Contact Us</h5>
						<a href=""> <i class="fa fa-envelope"></i>Inquiries@BatonCorp.com</a>
						<a href=""> <i class="fa fa-phone"></i>1(800)-xxx-xxxx</a>
						<a href=""><i class="fa fa-comments"></i>Live Chat Support</a>
					</div>
				
				</div>
		
			</div>
		</div>
		<!-- / large footer content -->	
