
<!-- large footer content -->
		<div class="footer-x-large">	
			<div class="container">

				<h4>About Us</h4>

				<p class="padding">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	 consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>

				<div class="footer-nav">
					<div>
						<h5>Company</h5>
						<a href="">About Baton</a>
						<a href="">Our Team</a>
						<a href="">Opportunities</a>
					  <a href="">News</a>
					</div>

					<div>
						<h5>Our Service</h5>
						<a href="">How Baton Works</a>
						<a href="">FAQs</a>
						<a href="">Pricing</a>
					  <a href="">Compare Us</a>
					  <a href="">Testimonials</a>
					  <a href="">Partners</a>
					</div>

					<div>
						<h5>Legal</h5>
						<a href="">Terms of Use</a>
						<a href="">Privacy Policy</a>
					</div>

					<div>
						<h5>Connected Platforms</h5>
						<a href="">Quickbooks</a>
						<a href="">SageOne</a>
						<a href="">Financial Force</a>
					  <a href="">Freshbooks</a>
					  <a href="">Wave</a>
					  <a href="">& More Coming</a>
					</div>

					<div>
						<h5>Contact Us</h5>
						<a href=""> <i class="fa fa-envelope"></i>Inquiries@BatonCorp.com</a>
						<a href=""> <i class="fa fa-phone"></i>1(800)-xxx-xxxx</a>
						<a href=""><i class="fa fa-comments"></i>Live Chat Support</a>

						<address>
							One Main Street<br>
							Suite 100<br>
							New Orleans, LA 71112<br>
							United States
						</address>
					</div>

					<div>
						<h5>Elsewhere</h5>
						<a href=""><i class="fa fa-facebook"></i> Facebook</a>
						<a href=""><i class="fa fa-twitter"></i> Twitter</a>
						<a href=""><i class="fa fa-linkedin"></i> LinkedIn</a>
						<a href=""><i class="fa fa-google-plus"></i> Google+</a>
						<a href=""><i class="fa fa-youtube"></i> YouTube</a>
					</div>
				
				</div>
		
			</div>
		</div>
		<!-- / large footer content -->	
