
		<!-- Customers Graph-->

			<div class="customers-graph">
				<h4 class="graph-title">Your Customers by Status</h4>
				<div class="bar pending">
					<span>17</span>
					<div></div>
					<a href="">Pending</a>
				</div>
		
				<div class="bar qualified active">
					<span>36</span>
					<div></div>
					<a href="">Qualified</a>
				</div>
	
				<div class="bar disqualified">
					<span>1</span>
					<div></div>
					<a href="">Disqualified</a>
				</div>
		
				<div class="bar rejected">
					<span>5</span>
					<div></div>
					<a href="">Rejected</a>
				</div>
				
			</div>
		<!-- /Customers Graph -->