
		<!-- Customers Graph-->
			<div class="payments-graph">
			
				<div class="bar current-payments active">
					<div>
						<span>20%</span>
					</div>
					<a href="">Current</a>
				</div>
		
				<div class="bar under-thirty">
					
					<div>
						<span>48%</span>
					</div>
					<a href=""> &lt; 30 Days Past Due</a>
				</div>

				<div class="bar thirty">
				
					<div>
						<span>22%</span>
					</div>
					<a href="">30 Days Past Due</a>
				</div>
	
				<div class="bar sixty">
					
					<div>
						<span>8%</span>
					</div>
					<a href="">60 Days Past Due</a>
				</div>
		
				<div class="bar ninety">
					
					<div>
						<span>2%</span>
					</div>
					<a href="">90 Days Past Due</a>
				</div>
				
			</div>
		<!-- /Customers Graph -->