
		<!-- Invoices Graph-->

			<ul class="invoice-amounts" id="totals"w>
				<li>
					<div>$32,134</div>
					<div>Ready To Submit</div>
				</li>
				<li>
					<div>$18,203</div>
					<div>In Review</div>
				</li>
				<li>
					<div>$45,150</div>
					<div>Paid</div>
				</li>
			</ul>
		<!-- /Invoices Graph -->