
		<!-- Header -->
		

		<div class="navbar navbar-static-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--<a class="brand" href="#"> <img src="../img/logo-steppay.png" alt="StepPay" /> <span>Merchant Service</span></a>-->
					<a class="brand" href="dashboard.html"> <img src="../img/baton_logo.png" alt="StepPay"></a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="active"><a href="">Solution</a></li>
							<li><a href="resources.html">Resources</a></li>
							<li><a href="#">Our Story</a></li>
							<li><a href="#">Partners</a></li>
						</ul>

						<button class="transparent">Log In</button>

	
					</div><!--/.nav-collapse -->

				</div>
				
		</div>
		<!-- /Header -->
