
		<!-- Mini Header -->
		

		<div class="navbar navbar-static-top mini">
			<div class="navbar-inner">
				<div class="container">					
					<section class="header-invoice">
						<h3>Customer Name</h3>
						<div class="customer-subinfo">
							<i></i>
							<span>Baton Customer ID: 00000000</span>
						</div>
					</section>
				</div>
			</div>
		</div>
		<!-- /Mini Header -->
