
		<!-- Header -->
		

		<div class="navbar navbar-static-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--<a class="brand" href="#"> <img src="../img/logo-steppay.png" alt="StepPay" /> <span>Merchant Service</span></a>-->
					<a class="brand" href="dashboard.html"> <img src="../img/baton_logo.png" alt="StepPay"></a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="customers.html">Customers</a></li>
							<li class="active"><a href="invoices.html">Invoices</a></li>
							<li><a href="#about">Payments</a></li>
						</ul>

						<ul class="nav profile-menu">
							<li class="dropdown ">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <i class="fa fa-angle-down"></i></a>
								<ul class="dropdown-menu">
									<li><a href="settings.html">Settings</a></li>
									<li><a href="#">Manage Users</a></li>
									<li><a href="#">Messages</a></li>
									<li><a href="#">Sign Out</a></li>
								</ul>
							</li>
						</ul>

						<ul class="nav alerts">
							<li class="dropdown alert-menu"> 
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-bell-o"></i>
								</a>
								<ul>
									<li>Alert #1</li>
									<li>Alert #2</li>
									<li>Alert #3</li>
								</ul>
							</li>
							<li> <a href="#"><i class="fa fa-question"></i></a></li>
							<li><a href="#"><i class="fa fa-search"></i></a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
				
		</div>
		<!-- /Header -->
