
		<!-- Header -->
		<div class="navbar navbar-static-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="brand" href="dashboard.html"> <img src="../img/baton_logo.png" alt="StepPay"></a>

					<div class="nav-collapse collapse">
						<ul class="nav alerts">
							<li> <a href="#"><i class="fa fa-question-circle"></i></a></li>
							<li><a href="#"><i class="fa fa-search"></i></a></li>
						</ul>

					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<!-- /Header -->
