
		<!-- Invoice Tables -->

			<div class="tabbed-content customer-tables">
				<div class="container neg-20-top">

					<div id="tab-ready" class="tab-content  current">
						
						{{>table-invoices-ready}}

						<div class="table-options">
							<div>Showing 6 of 6 Entries</div>
							<div>
								<span>Show</span>
								<select>
									<option>10 per page</option>
								</select>
							</div>						
						</div>

					</div>
					<div id="tab-in-review" class="tab-content">
						{{>table-invoices-submitted}}
						<div class="table-options">
							<div>Showing 4 of 4 Entries</div>
							<div>
								<span>Show</span>
								<select>
									<option>10 per page</option>
								</select>
							</div>
							
						</div>
					</div>

					<div id="tab-paid" class="tab-content">
						{{>table-invoices-paid}}
						<div class="table-options">
							<div>Showing 4 of 4 Entries</div>
							<div>
								<span>Show</span>
								<select>
									<option>10 per page</option>
								</select>
							</div>

						</div>
					</div>

				</div>
			</div> 



		<!-- /Invoice Tables -->
