
		<!-- Options -->
			<div class="options">
				<div class="container">
					<div class="options-image">
					<img src="../img/stock-woman1.png">
					</div>
					<div class="options-right">
						<h2>Find out if Baton is right for your business.</h2>

						<p>Are you a small business earning $25 million or less in annual revenue? </p>
						<span class="option-buttons">
							<a href="#"class="imitation-button green">Yes</a>
							<a href="#" class="imitation-button red">No</a>
						</span>
					</div>
				</div>
			</div> 
		<!-- /Options -->
