
		<!-- Customer Tables -->

			<div class="tabbed-content customer-tables">
				<div class="container neg-20-top">

					<div id="tab-current" class="tab-content current">	
						{{>table-current}}
						<div class="table-options">
							<div>Showing 10 of 25 Entries</div>
							<div>
								<span>Show</span>
								<select>
									<option>10 per page</option>
								</select>
							</div>
							<div class="pagination">
								<a href="#" class="disabled">Previous</a>
								<a href="#" class="current">1</a>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">Next</a>
							</div>
						</div>

					</div>

					<div id="tab-under-thirty" class="tab-content">
						{{>table-under-thirty}}
						<div class="table-options">
							<div>Showing 8 of 8 Entries</div>
							<div>
								<span>Show</span>
								<select>
									<option>10 per page</option>
								</select>
							</div>
						</div>
					</div>

	

					<div id="tab-thirty" class="tab-content">
						{{>table-thirty}}
						<div class="table-options">
							<div>Showing 8 of 8 Entries</div>
							<div>
								<span>Show</span>
								<select>
									<option>10 per page</option>
								</select>
							</div>
						</div>
					</div>

					<div id="tab-sixty" class="tab-content">
						{{>table-sixty}}
						<div class="table-options">
							<div>Showing 3 of 3 Entries</div>
							<div>
								<span>Show</span>
								<select>
									<option>10 per page</option>
								</select>
							</div>

						</div>
					</div>

					<div id="tab-ninety" class="tab-content">
						{{>table-ninety}}

						<div class="table-options">
							<div>Showing 1 of 1 Entries</div>
							<div>
								<span>Show</span>
								<select>
									<option>10 per page</option>
								</select>
							</div>
							
						</div>

					</div>

				</div>
			</div> 



		<!-- /Customer Tables -->
