
		<!-- Tabbed content -->
			<div class="tab-container">
				<div class="container">
					<ul class="tabs">
						<li class="tab-link current" data-tab="tab-1">Solution</li>
						<li class="tab-link" data-tab="tab-2">How it Works</li>
						<li class="tab-link" data-tab="tab-3">Quantify Value</li>
						<li class="tab-link" data-tab="tab-4">Customers</li>
						<li class="tab-link" data-tab="tab-5">Our Story</li>
					</ul>
				</div>
			</div>
			
			<div class="tabbed-content">

				<div class="container">



					<div id="tab-1" class="tab-content current">


						<h2> What is Baton?</h2>

						<h4>Baton's a unique B2B merchant service specifically designed for small businesses selling to other businesses or government.<br> Our innovative solution is built around two core beliefs:</h4>

						<div class="feature-box">
							<p>You should get paid when goods and services are delivered, not 30, 60, 90+ days later.</p>
						</div>

						<div class="feature-box">
							<p>You should not have to be your customers' bank &mdash; assuming their payment risk and incurring debt to finance their purchases.</p>
						</div>
					</div>

					<div id="tab-2" class="tab-content">


						<h2>Lorem Ipsum</h2>

						<h4>Baton's a unique B2B merchant service specifically designed for small businesses selling to other businesses or government.<br> Our innovative solution is built around two core beliefs:</h4>

						<div class="feature-box">
							<p>You should get paid when goods and services are delivered, not 30, 60, 90+ days later.</p>
						</div>

						<div class="feature-box">
							<p>You should not have to be your customers' bank &mdash; assuming their payment risk and incurring debt to finance their purchases.</p>
						</div>
					</div>

					<div id="tab-3" class="tab-content">


						<h2>Quantify Value</h2>

						<h4>Baton's a unique B2B merchant service specifically designed for small businesses selling to other businesses or government.<br> Our innovative solution is built around two core beliefs:</h4>

						<div class="feature-box">
							<p>You should get paid when goods and services are delivered, not 30, 60, 90+ days later.</p>
						</div>

						<div class="feature-box">
							<p>You should not have to be your customers' bank &mdash; assuming their payment risk and incurring debt to finance their purchases.</p>
						</div>
					</div>

					<div id="tab-4" class="tab-content">


						<h2>Customers</h2>

						<h4>Baton's a unique B2B merchant service specifically designed for small businesses selling to other businesses or government.<br> Our innovative solution is built around two core beliefs:</h4>

						<div class="feature-box">
							<p>You should get paid when goods and services are delivered, not 30, 60, 90+ days later.</p>
						</div>

						<div class="feature-box">
							<p>You should not have to be your customers' bank &mdash; assuming their payment risk and incurring debt to finance their purchases.</p>
						</div>
					</div>

					<div id="tab-5" class="tab-content">


						<h2>Our Story</h2>

						<h4>Baton's a unique B2B merchant service specifically designed for small businesses selling to other businesses or government.<br> Our innovative solution is built around two core beliefs:</h4>

						<div class="feature-box">
							<p>You should get paid when goods and services are delivered, not 30, 60, 90+ days later.</p>
						</div>

						<div class="feature-box">
							<p>You should not have to be your customers' bank &mdash; assuming their payment risk and incurring debt to finance their purchases.</p>
						</div>
					</div>


				</div>
			</div> 

		<!-- /Options -->
