
			<!-- Sixty days Table -->
						<table id="sixtyTable">
							<thead>
								<tr>
									<th>Customer </th>
									<th>Customer ID</th>
									<th class="right"># Of Unpaid Invoices</th>
									<th class="right">$ Of Unpaid Balances</th>
									<th class="right">Current</th>
									<th class="right">Balances Past Due 30 Days</th>
									<th class="right">Balances Past Due 60 Days</th>
									<th class="right">Balances Past Due 90 Days</th>
								</tr>
							</thead>

							<tbody>

								<tr>
									<td>Atlanta Beverage Co</td>
									<td>44029032</td>
									<td class="right">3</td>
									<td class="right">$40,000</td>
									<td class="right">$40,000</td>
									<td class="right">$11,929</td>
									<td class="right">$28,071</td>
									<td class="right">$28,071</td>
								</tr>

								
								<tr>
									<td>Austin Beverage Co</td>
									<td>82746277</td>
									<td class="right">4</td>
									<td class="right"> - </td>
									<td class="right"> - </td>
									<td class="right"> - </td>
									<td class="right"> - </td>
									<td class="right"> - </td>
								</tr>
	
								<tr>
						
									<td>Austin Budweiser</td>
									<td>20411986</td>
									<td class="right">5</td>
									<td class="right"> - </td>
									<td class="right"> - </td>
									<td class="right"> - </td>
									<td class="right"> - </td>
									<td class="right"> - </td>
								</tr>

							</tbody>
						</table>
		<!-- /Sixty days Table -->