
			<!-- 90 days Table -->
						
						<table id="ninetyTable">
							<thead>
								<tr>
									<th>Customer </th>
									<th>Customer ID</th>
									<th class="right"># Of Unpaid Invoices</th>
									<th class="right">$ Of Unpaid Balances</th>
									<th class="right">Current</th>
									<th class="right">Balances Past Due 30 Days</th>
									<th class="right">Balances Past Due 60 Days</th>
									<th class="right">Balances Past Due 90 Days</th>
								</tr>
							</thead>

							<tbody>

								<tr>
									<td>Atlanta Beverage Co</td>
									<td>44029032</td>
									<td class="right">3</td>
									<td class="right">$40,000</td>
									<td class="right">$40,000</td>
									<td class="right">$11,929</td>
									<td class="right">$28,071</td>
									<td class="right">$28,071</td>
								</tr>

							
							</tbody>
						</table>
		<!-- /90 days Table -->