			<!-- Customer Invoice Table -->
						<div class="mutiselect-button">
							<button class="submit-invoices">Submit Invoices <i class="fa fa-file-text-o"></i></button>
						</div>

						<table id="customer-invoices-table-ready">
							<thead>
								<tr>
									<th class="center" data-sorter="false">
										<input type="checkbox" id="sampleRowHead" />
										<label for="sampleRowhead"><i class="fa fa-check"></i></label>
									</th>
									<th>Customer</th>
									<th>Invoice Status</th>
									<th>Invoice #</th>
									<th>Invoice Date</th>
									<th class="right">Amount</th>
									<th class="center header-wrap">Customer Qualified</th>
									<th>Terms</th>
									<th>Payment Status</th>
									<th class="center">Actions</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td class="center">
										<input type="checkbox" id="sampleRow1" />
										<label for="sampleRow1"><i class="fa fa-check"></i></label>
									</td>
									<td>Art and Soul</td>									
									<td>Ready</td>
									<td>232328</td>
									<td>03/12/2015</td>
									<td class="right">$5,000.00</td>
									<td class="center"><span class="hidden-text">Qualified1</span><i class="fa fa-check-circle"></i></td>
									<td>Net 30</td>
									<td>Current</td>
					
									<td class="center"> <a href="" class=""> Get Paid <i class="fa fa-document"></a></td>
								</tr>

								<tr>
									<td class="center">
										<input type="checkbox" id="sampleRow2" />
										<label for="sampleRow2"><i class="fa fa-check"></i></label>
									</td>
									<td>Bar Pilar</td>									
									<td>Ready</td>
									<td>874921</td>
									<td>10/30/2015</td>
									<td class="right">$11,000.00</td>
									<td class="center"><span class="hidden-text">Qualified2</span><i class="fa fa-times-circle"></i></td>
									<td>Net 30</td>
									<td>30 Days PD</td>
					
									<td class="center"> <a href="" class=""> Get Paid <i class="fa fa-document"></a></td>
								</tr>


								<tr>	
									<td class="center">
										<input type="checkbox" id="sampleRow3" />
										<label for="sampleRow3"><i class="fa fa-check"></i></label>
									</td>
									<td>Bayou Bar and Grill</td>								
									<td>Ready</td>
									<td>009821</td>
									<td>09/22/2015</td>
									<td class="right">$32,000.00</td>
									<td class="center"><span class="hidden-text">Qualified3</span><i class="fa fa-times-circle"></i></td>
									<td>Net 60</td>
									<td>60 Days PD</td>
					
									<td class="center"> <a href="" class=""> Get Paid <i class="fa fa-document"></a></td>
								</tr>

								<tr>	
									<td class="center">
										<input type="checkbox" id="sampleRow4" />
										<label for="sampleRow4"><i class="fa fa-check"></i></label>
									</td>
									<td>Cava Mezze</td>								
									<td>Ready</td>
									<td>103654</td>
									<td>01/12/2016</td>
									<td class="right">$17,000.00</td>
									<td class="center"><span class="hidden-text">Qualified3</span><i class="fa fa-times-circle"></i></td>
									<td>Net 30</td>
									<td> -- </td>
					
									<td class="center"> <a href="" class=""> Get Paid <i class="fa fa-document"></a></td>
								</tr>

								<tr>
									
									<td class="center">
										<input type="checkbox" id="sampleRow5" />
										<label for="sampleRow5"><i class="fa fa-check"></i></label>
									</td>
									<td>D'vines</td>
									<td>Ready</td>
									<td>291318</td>
									<td>10/22/2015</td>
									<td class="right">$6,777.87</td>
									<td class="center"><span class="hidden-text">Qualified1</span><i class="fa fa-check-circle"></i></td>
									<td>Net 60</td>
									<td> -- </td>
									<td class="center"> <a href="" class=""> Get Paid <i class="fa fa-document"></a></td>

								</tr>


								<tr>
									<td class="center">
										<input type="checkbox" id="sampleRow6" />
										<label for="sampleRow6"><i class="fa fa-check"></i></label>
									</td>
									<td>Hop, Cask and Barrel</td>
									<td>Ready</td>
									<td>294315</td>
									<td>9/12/2015</td>
									<td class="right">$2,334.67</td>
									<td class="center"><span class="hidden-text">Qualified2</span><i class="fa fa-minus-circle"></i></td>
									<td>Net 60</td>
									<td> -- </td>
									<td class="center"> <a href="" class=""> Get Paid <i class="fa fa-document"></a></td>
								</tr>

							</tbody>
						</table>

		<!-- /Customer Invoice table -->