			<!-- Customer Messages Table -->

						<table id="customer-messages-table-glazers">
							<thead>
								<tr>
									<th>Date</th>
									<th>Importance</th>
									<th>Subject</th>
								</tr>
							</thead>

							<tbody>
								<tr>	
									<td>4/1/2016</td>
									<td>Low</td>
									<td>You have Invoices Ready</td>
								</tr>

								<tr>	
									<td>5/24/2015</td>
									<td>High</td>
									<td>Credit Limit Changed</td>
								</tr>

								<tr>	
									<td>3/16/2015</td>
									<td>Normal</td>
									<td>Invoice Paid</td>
								</tr>


							</tbody>
						</table>

		<!-- /Customer Invoice table -->