			<!-- Customer Messages Table -->

						<table id="customer-messages-table-general">
							<thead>
								<tr>
									<th>Date</th>
									<th>Importance</th>
									<th>Subject</th>
								</tr>
							</thead>

							<tbody>
								<tr>	
									<td>03/11/2016</td>
									<td>Normal</td>
									<td>Invoice Paid</td>
								</tr>

								<tr>	
									<td>1/1/2015</td>
									<td>High</td>
									<td>Credit Limit Change</td>
								</tr>

								<tr>	
									<td>10/9/2015</td>
									<td>Normal</td>
									<td>Invoice Paid</td>
								</tr>


							</tbody>
						</table>

		<!-- /Customer Invoice table -->