			<!-- Customer Messages Table -->

						<table id="customer-messages-table-atlanta">
							<thead>
								<tr>
									<th>Date</th>
									<th>Importance</th>
									<th>Subject</th>
								</tr>
							</thead>

							<tbody>
								<tr>	
									<td>6/29/2015</td>
									<td>Critcal</td>
									<td>Credit Limit Change</td>
								</tr>

								<tr>	
									<td>11/7/2015</td>
									<td>Normal</td>
									<td>Invoice #Paid</td>
								</tr>

								<tr>	
									<td>07/23/2015</td>
									<td>Critical</td>
									<td>Credit Limit Change</td>
								</tr>


							</tbody>
						</table>

		<!-- /Customer Invoice table -->