			<!-- Customer Invoice Table -->

						<table id="customer-invoices-table">
							<thead>
								<tr>
									<th>Invoice Status</th>
									<th>Invoice #</th>
									<th>Invoice Date</th>
									<th class="right">Amount</th>
									<th>Terms</th>
									<th>Payment Status</th>
									<th class="center">Actions</th>
								</tr>
							</thead>

							<tbody>
								<tr>									
									<td>Submitted</td>
									<td>232328</td>
									<td>03/12/2015</td>
									<td class="right">$5,000.00</td>
									<td>Net 30</td>
									<td>Current</td>
					
									<td class="center"> 										
										<div class="actions-toggle">
											<span class="actions-button">...</span>
											<div class="actions">
												<button class="action"><i class="fa fa-long-arrow-up"></i> Increase Limit</button>
												<button class="action"><i class="fa fa-check"></i> Decrease Limit</button>
											</div>
										</div>
									</td>
								</tr>

								<tr>									
									<td>Submitted</td>
									<td>874921</td>
									<td>10/30/2015</td>
									<td class="right">$11,000.00</td>
									<td>Net 30</td>
									<td>30 Days PD</td>
					
									<td class="center"> 										
										<div class="actions-toggle">
											<span class="actions-button">...</span>
											<div class="actions">
												<button class="action"><i class="fa fa-long-arrow-up"></i> Increase Limit</button>
												<button class="action"><i class="fa fa-check"></i> Decrease Limit</button>
											</div>
										</div>
									</td>
								</tr>


								<tr>									
									<td>Ready</td>
									<td>009821</td>
									<td>09/22/2015</td>
									<td class="right">$32,000.00</td>
									<td>Net 60</td>
									<td>60 Days PD</td>
					
									<td class="center"> 										
										<div class="actions-toggle">
											<span class="actions-button">...</span>
											<div class="actions">
												<button class="action"><i class="fa fa-long-arrow-up"></i> Increase Limit</button>
												<button class="action"><i class="fa fa-check"></i> Decrease Limit</button>
											</div>
										</div>
									</td>
								</tr>

								<tr>									
									<td>Rejected</td>
									<td>103654</td>
									<td>01/12/2016</td>
									<td class="right">$17,000.00</td>
									<td>Net 30</td>
									<td> -- </td>
					
									<td class="center"> 										
										<div class="actions-toggle">
											<span class="actions-button">...</span>
											<div class="actions">
												<button class="action"><i class="fa fa-long-arrow-up"></i> Increase Limit</button>
												<button class="action"><i class="fa fa-check"></i> Decrease Limit</button>
											</div>
										</div>
									</td>
								</tr>

							</tbody>
						</table>

		<!-- /Customer Invoice table -->