
			<!-- Under 30 days Table -->
						<table id="under-thirtyTable">
							<thead>
								<tr>
									<th>Customer </th>
									<th>Customer ID</th>
									<th class="right"># Of Unpaid Invoices</th>
									<th class="right">$ Of Unpaid Balances</th>
									<th class="right">Current</th>
									<th class="right">Balances Past Due 30 Days</th>
									<th class="right">Balances Past Due 60 Days</th>
									<th class="right">Balances Past Due 90 Days</th>
								</tr>
							</thead>

							<tbody>

								<tr>
									<td>Atlanta Beverage Co</td>
									<td>44029032</td>
									<td class="right">3</td>
									<td class="right">$40,000</td>
									<td class="right">$40,000</td>
									<td class="right">$11,929</td>
									<td class="right">$28,071</td>
									<td class="right">$28,071</td>
								</tr>

								
								<tr>
									<td>Austin Beverage Co</td>
									<td>82746277</td>
									<td class="right">4</td>
									<td class="right"> - </td>
									<td class="right"> - </td>
									<td class="right"> - </td>
									<td class="right"> - </td>
									<td class="right"> - </td>
								</tr>
	
								<tr>
						
									<td>Austin Budweiser</td>
									<td>20411986</td>
									<td class="right">5</td>
									<td class="right"> - </td>
									<td class="right"> - </td>
									<td class="right"> - </td>
									<td class="right"> - </td>
									<td class="right"> - </td>
								</tr>

								<tr>
									<td>City Wholesale</td>
									<td>30029881</td>
									<td class="right">2</td>
									<td class="right">$93,000</td>
									<td class="right">$93,000</td>
									<td class="right">$23,122</td>
									<td class="right">$11,211</td>
									<td class="right"> - </td>
								</tr>


								<tr>
									
									<td>D'vines</td>
									<td>44029032</td>
									<td class="right">7</td>
									<td class="right">$23,000</td>
									<td class="right">$23,000</td>
									<td class="right">$23,000</td>
									<td class="right">$8,344</td>
									<td class="right"> - </td>
								</tr>


								<tr>
									
									<td>Elio's Wine</td>
									<td>01928372</td>
									<td class="right">7</td>
									<td class="right">$80,000</td>
									<td class="right">$80,000</td>
									<td class="right">$45,231</td>
									<td class="right"> - </td>
									<td class="right"> - </td>
								</tr>

								<tr>
									
									<td>Empire Distributors</td>
									<td>37818816</td>
									<td class="right">9</td>
									<td class="right">$21,000</td>
									<td class="right">$21,000</td>
									<td class="right"> - </td>
									<td class="right"> - </td>
									<td class="right"> - </td>
								</tr>

							</tbody>
						</table>
		<!-- /Under 30 days Table -->