
			<!-- Disqualified Table -->
						<table id="rejectedTable" class="no-expand">
							<thead>
								<tr>
									<th>Customer</th>
									<th>Customer ID</th>
									<th class="">Date Rejected</th>
									<th>Eligible to Re-Apply</th>
									<th class="">Reason</th>
								</tr>
							</thead>
							<tbody>
						
								<tr>
									<td>Art and Soul</td>
									<td>54915648</td>
									<td class="">3/10/2016</td>
									<td class="">3/10/2018</td>
									<td>Lorem ipsum</td>
								</tr>

								<tr>
									<td>Bar Pilar</td>
									<td>22098784</td>
									<td class="">3/10/2016</td>
									<td class="">3/10/2018</td>
									<td>Lorem ipsum</td>
								</tr>

								<tr>
									<td>Bayou Bar and Grill</td>
									<td>97193161</td>
									<td class="">3/10/2016</td>
									<td class="">3/10/2018</td>
									<td>Lorem ipsum</td>
								</tr>

								<tr>
									<td>Cava Mezze</td>
									<td>82019223</td>
									<td class="">3/10/2016</td>
									<td class="">3/10/2018</td>
									<td>Lorem ipsum</td>
								</tr>

								<tr>
									<td>D'vines</td>
									<td>00912138</td>
									<td class="">3/10/2016</td>
									<td class="">3/10/2018</td>
									<td>Lorem ipsum</td>
								</tr>

							
								
							</tbody>
						</table>					
		<!-- /Disqualified table -->