
			<!-- Qualified Table -->
						<table id="qualTable">
							<thead>
								<tr>
									<th>Customer</th>
									<th>Customer ID</th>
									<th class="right">Credit Limit </th>
									<th class="right">Balance</th>
									<th class="right">Available</th>
									<th class="right">Funded</th>
									<th class="center">Terms</th>
									<th class="center">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									
									<td id="customer1"> Atlanta Beverage Co </td>
									<td>10000004</td>
									<td class="right">$40,000</td>
									<td class="right">$7,019</td>
									<td class="right">$32,981</td>
									<td class="right">18%</td>
									<td class="center"> Net 60</td>
									<td class="center"> 										
										<div class="actions-toggle">
											<span class="actions-button">...</span>
											<div class="actions">
												<button class="action"><i class="fa fa-long-arrow-up"></i> Increase Limit</button>
												<button class="action"><i class="fa fa-check"></i> Decrease Limit</button>
											</div>
										</div>
									</td>
								</tr>

								<tr>
									
									<td id="customer2">Celebration Distillation: Old World New Orleans Rum</td>
									<td>1000010</td>
									<td class="right">93,000</td>
									<td class="right">$88,192</td>
									<td class="right">4.808</td>
									<td class="right">5%</td>
									<td class="center"> Net 60</td>
									<td class="center"> 										
										<div class="actions-toggle">
											<span class="actions-button">...</span>
											<div class="actions">
												<button class="action"><i class="fa fa-long-arrow-up"></i> Increase Limit</button>
												<button class="action"><i class="fa fa-check"></i> Decrease Limit</button>
											</div>
										</div>
									</td>
								</tr>


								<tr>
									
									<td id="customer3">City Wholesale Liquor Co</td>
									<td>1000013</td>
									<td class="right">$91.000</td>
									<td class="right">$91.000</td>
									<td class="right"> -- </td>
									<td class="right">0%</td>
									<td class="center"> Net 30</td>
									<td class="center"> 										
										<div class="actions-toggle">
											<span class="actions-button">...</span>
											<div class="actions">
												<button class="action"><i class="fa fa-long-arrow-up"></i> Increase Limit</button>
												<button class="action"><i class="fa fa-check"></i> Decrease Limit</button>
											</div>
										</div>
									</td>
								</tr>
								

								<tr>
									
									<td id="customer4">Craft Spirits Distributor</td>
									<td >1000014</td>
									<td class="right">$52,000</td>
									<td class="right">$6,551</td>
									<td class="right">$45,449</td>
									<td class="right">13%</td>
									<td class="center"> Net 30</td>
									<td class="center"> 										
										<div class="actions-toggle">
											<span class="actions-button">...</span>
											<div class="actions">
												<button class="action"><i class="fa fa-long-arrow-up"></i> Increase Limit</button>
												<button class="action"><i class="fa fa-check"></i> Decrease Limit</button>
											</div>
										</div>
									</td>
								</tr>
								

								<tr>
									
									<td id="customer5">Crescent Crown</td>
									<td >1000022</td>
									<td class="right">$62,000</td>
									<td class="right">$6,551</td>
									<td class="right">$45,449</td>
									<td class="right">0%</td>
									<td class="center"> Net 30</td>
									<td class="center"> 										
										<div class="actions-toggle">
											<span class="actions-button">...</span>
											<div class="actions">
												<button class="action"><i class="fa fa-long-arrow-up"></i> Increase Limit</button>
												<button class="action"><i class="fa fa-check"></i> Decrease Limit</button>
											</div>
										</div>
									</td>
								</tr>


								<tr>
									
									<td id="customer6">Empire Distributors Inc</td>
									<td >1000010</td>
									<td class="right">$15,000</td>
									<td class="right">$8.214</td>
									<td class="right">$6.786</td>
									<td class="right">55%</td>
									<td class="center"> Net 30</td>
									<td class="center"> 										
										<div class="actions-toggle">
											<span class="actions-button">...</span>
											<div class="actions">
												<button class="action"><i class="fa fa-long-arrow-up"></i> Increase Limit</button>
												<button class="action"><i class="fa fa-check"></i> Decrease Limit</button>
											</div>
										</div>
									</td>
								</tr>

								<tr>
									
									<td id="customer7">General Wholesale Beer Company</td>
									<td >1000006</td>
									<td class="right">$92,000</td>
									<td class="right">$45,138</td>
									<td class="right">$46,862</td>
									<td class="right">49%</td>
									<td class="center"> Net 30</td>
									<td class="center"> 										
										<div class="actions-toggle">
											<span class="actions-button">...</span>
											<div class="actions">
												<button class="action"><i class="fa fa-long-arrow-up"></i> Increase Limit</button>
												<button class="action"><i class="fa fa-check"></i> Decrease Limit</button>
											</div>
										</div>
									</td>
								</tr>

								<tr>
									
									<td id="customer8">Georgia Beer Wholesalers</td>
									<td >1000001</td>
									<td class="right">$95,000</td>
									<td class="right">$18,650</td>
									<td class="right">$76,350</td>
									<td class="right">20%</td>
									<td class="center"> Net 30</td>
									<td class="center"> 										
										<div class="actions-toggle">
											<span class="actions-button">...</span>
											<div class="actions">
												<button class="action"><i class="fa fa-long-arrow-up"></i> Increase Limit</button>
												<button class="action"><i class="fa fa-check"></i> Decrease Limit</button>
											</div>
										</div>
									</td>
								</tr>

								<tr>
									
									<td id="customer9">Georgia Crown Distributing Co.</td>
									<td >1000003</td>
									<td class="right">$41,000</td>
									<td class="right">$10,218</td>
									<td class="right">$30,782</td>
									<td class="right">25%</td>
									<td class="center"> Net 60</td>
									<td class="center"> 										
										<div class="actions-toggle">
											<span class="actions-button">...</span>
											<div class="actions">
												<button class="action"><i class="fa fa-long-arrow-up"></i> Increase Limit</button>
w											</div>
										</div>
									</td>
								</tr>

								<tr>
									
									<td id="customer10">Glazer's of Louisiana</td>
									<td>1000004</td>
									<td class="right">$55,0000</td>
									<td class="right">$7,040</td>
									<td class="right">$47,960</td>
									<td class="right">13%</td>
									<td class="center"> Net 30</td>
									<td class="center"> 										
										<div class="actions-toggle">
											<span class="actions-button">...</span>
											<div class="actions">
												<button class="action"><i class="fa fa-long-arrow-up"></i> Increase Limit</button>
												<button class="action"><i class="fa fa-check"></i> Decrease Limit</button>
											</div>
										</div>
									</td>
								</tr>

							</tbody>
						</table>
		<!-- /Qualified table -->
