			<!-- Customer Messages Table -->

						<table id="customer-messages-table-crescent">
							<thead>
								<tr>
									<th>Date</th>
									<th>Importance</th>
									<th>Subject</th>
								</tr>
							</thead>

							<tbody>
								<tr>	
									<td>2/6/2016</td>
									<td>Normal</td>
									<td>Invoice Paid</td>
								</tr>

								<tr>	
									<td>10/8/2015</td>
									<td>Low</td>
									<td>You have Invoices Ready</td>
								</tr>

								<tr>	
									<td>1/16/2015</td>
									<td>Critical</td>
									<td>Credit Limit Change</td>
								</tr>

							</tbody>
						</table>

		<!-- /Customer Invoice table -->