
			<!-- Pending Table -->
						

						<table id="pendingTable">
							<thead>
								<tr>
									<th>Customer </th>
									<th>Customer ID</th>
									<th>Expected Annual Sales to Client</th>
									<th>Payment Terms</th>
									<th>
										<span class="table-tip">Suggested Credit Limit</span>
										<div class="text-tip">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis at, facere quas rem.</p>
										</div>
									</th>
									<th class="center">Actions </th>
								</tr>
							</thead>

							<tbody>

								<tr>
									<td>Art and Soul</td>
									<td>44029032</td>
									<td></td>
									<td></td>
									<td></td>
									<td class="center">
										<a href="" class="submit-invoice wider"><span>Qualify</span>  </a>
									</td>
								</tr>

								
								<tr>
									<td>Bar Pilar</td>
									<td>44029032</td>
									<td></td>
									<td></td>
									<td></td>
									<td class="center">
										<a href="" class="submit-invoice wider"><span>Qualify</span>  </a>
									</td>
								</tr>
	
								<tr>
						
									<td>Bayou Bar and Grill</td>
									<td>44029032</td>
									<td></td>
									<td></td>
									<td></td>
									<td class="center">
										<a href="" class="submit-invoice wider"><span>Qualify</span> </a>
									</td>
								</tr>

								<tr>
									<td>Cava Mezze</td>
									<td>44029032</td>
									<td></td>
									<td></td>
									<td></td>
									<td class="center">
										<a href="" class="submit-invoice wider"><span>Qualify</span>  </a>
									</td>
								</tr>


								<tr>
									
									<td>D'vines</td>
									<td>44029032</td>
									<td></td>
									<td></td>
									<td></td>
									<td class="center">
										<a href="" class="submit-invoice wider"><span>Qualify</span>  </a>
									</td>
								</tr>


								<tr>
									
									<td>Hop, Cask and Barrel</td>
									<td>44029032</td>
									<td></td>
									<td></td>
									<td></td>
									<td class="center">
										<a href="" class="submit-invoice"><span>Qualify</span>  </a>
									</td>
								</tr>

							</tbody>
						</table>
		<!-- /Pending Table -->