			<!-- Customer Messages Table -->

						<table id="customer-messages-table-empire">
							<thead>
								<tr>
									<th>Date</th>
									<th>Importance</th>
									<th>Subject</th>
								</tr>
							</thead>

							<tbody>
								<tr>	
									<td>11/12/2015</td>
									<td>Low</td>
									<td>You have Invoices Ready</td>
								</tr>

								<tr>	
									<td>9/20/2015</td>
									<td>High</td>
									<td>Credit Limit Changed</td>
								</tr>

								<tr>	
									<td>2/22/2015</td>
									<td>Normal</td>
									<td>Invoice Paid</td>
								</tr>


							</tbody>
						</table>

		<!-- /Customer Invoice table -->