			<!-- Customer Messages Table -->

						<table id="customer-messages-table">
							<thead>
								<tr>
									<th>Date</th>
									<th>Importance</th>
									<th>Subject</th>
								</tr>
							</thead>

							<tbody>
								<tr>	
									<td>03/12/2015</td>
									<td>Normal</td>
									<td>Payment received on invoice #1300012</td>
								</tr>

								<tr>	
									<td>03/12/2015</td>
									<td>High</td>
									<td>Invoice #23887162 75 days past due</td>
								</tr>

								<tr>	
									<td>03/12/2015</td>
									<td>Normal</td>
									<td>Customer's Baton Merchant Fee has decreased</td>
								</tr>


							</tbody>
						</table>

		<!-- /Customer Invoice table -->