			<!-- Customer Messages Table -->

						<table id="customer-messages-table-celebration">
							<thead>
								<tr>
									<th>Date</th>
									<th>Importance</th>
									<th>Subject</th>
								</tr>
							</thead>

							<tbody>
								<tr>	
									<td>1/17/2015</td>
									<td>Normal</td>
									<td>Invoice Paid</td>
								</tr>

								<tr>	
									<td>4/1/2015</td>
									<td>Normal</td>
									<td>Invoice Paid</td>
								</tr>

								<tr>	
									<td>10/16/2015</td>
									<td>Critical</td>
									<td>Credit Limit Change</td>
								</tr>


							</tbody>
						</table>

		<!-- /Customer Invoice table -->