
			<!-- Disqualified Table -->
						<table id="disTable">
							<thead>
								<tr>		
									<th>Customer </th>
									<th>Customer ID</th>
									<th class="">Date Disqualified </th>
									<th class="">Reason</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									
									<td>Art and Soul</td>
									<td>54915648</td>
									<td class="">3/10/2016</td>
									<td>Lorem ipsum</td>
								</tr>	
							</tbody>
						</table>
		<!-- /Disqualified table -->