			<!-- Customer Messages Table -->

						<table id="customer-messages-table-craft">
							<thead>
								<tr>
									<th>Date</th>
									<th>Importance</th>
									<th>Subject</th>
								</tr>
							</thead>

							<tbody>
								<tr>	
									<td>7/27/2015</td>
									<td>Normal</td>
									<td>Invoice Paid</td>
								</tr>

								<tr>	
									<td>3/20/2015</td>
									<td>Normal</td>
									<td>Invoice Paid</td>
								</tr>

								<tr>	
									<td>1/16/2015</td>
									<td>Low</td>
									<td>You have Invoices Ready</td>
								</tr>

							</tbody>
						</table>

		<!-- /Customer Invoice table -->