<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->

		
		
	</head>

	<body>

		
		{{>header-prospect}}
		<!-- /Header -->

		<!-- Content -->
		<div class="container">
			<div class="post-header-padding apply-complete">
				<i class="fa fa-check-circle"></i>
				<h2>You are ready to start getting your accounts received.</h2>
			</div>
		</div>

		<div class="apply-complete-footer">
			<div class="container">
				<ul>
					<!-- If this green checkmark needs to be a circle, change the class from "check" to "circle" -->
					<li class="check">Sign in successful</li>
					<li class="check">Payment method set up</li>
					<li class="check">Customers imported</li>
					<li class="check">Invoices imported</li>
				</ul>
				<div class="huge-icon inverted">
					<a href="dashboard.html">
						<i class="fa fa-arrow-right"></i>
						<div>Go to Baton</div>
					</a>
				</div>
			</div>
		</div>

		
		<!-- Footer -->
		<footer>
			<div>
				<p>&copy; Baton Merchant Service   •   <a href="#">Privacy Policy</a>   •   <a href="#">Terms &amp; Conditions</a> </p>
			</div>
		</footer>
		<!-- /Footer -->



		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>

		<script type="text/javascript">
			$("#add-owner").on("click", function() {
				var clone = $(".owner:first").clone();
				clone.find("input").val("");
				clone.insertBefore(this);

			});

			$(".apply-form").on("click", ".remove-owner", function() {
				$(this).parent().remove();
			});
		</script>


	</body>
</html>
