<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->

		
		
	</head>

	<body>

		
		{{>header-prospect}}


		<div class="container">
			
			<!-- Content -->
			<ul class="apply-steps">
				<li>
					<div>
						<div class="step-number"><i class="fa fa-check"></i></div>
						<i class="fa fa-sign-in"></i>
						<div>Register</div>
					</div>
				</li>
				<li>
					<div>
						<div class="step-number"><i class="fa fa-check"></i></div>
						<i class="fa fa-reply"></i>
						<div>Reimbursement</div>
					</div>
				</li>
				<li class="active">
					<div>
						<div class="step-number">3</div>
						<i class="fa fa-hdd-o"></i>
						<div>Import Data</div>
					</div>
				</li>
				<li>
					<div>
						<div class="step-number"><i class="fa fa-check"></i></div>
					</div>
				</li>
			</ul>
		</div>

		<div class="apply-content">
			<div class="container">
				<h2>Importing data...</h2>
				<h3>Baton can link directly to or import from your accounting system</h3>

				<section class="apply-form">
					<form>
						<h3>How would you like Baton to access your customers and invoices?</h3>

						<div class="radio-group">
							<input type="radio" name="apply3" id="1" />
							<label for="1"><i class="radio-icon"></i>Link directly to my accounting system.</label>
						</div>

						<div class="radio-group">
							<input type="radio" name="apply3" id="2" />
							
							<label for="2"><i class="radio-icon"></i>Import customers and invoices.</label>
						</div>

						<label>Select a CSV or Excel file to upload</label>
						<input type="text" class="with-button" />
						<button class="inverse">Browse</button>

						<div>
							<a href="#">Download a sample file.</a>
						</div>

						<div class="radio-group">
							<input type="radio" name="apply3" id="3" />
							
							<label for="3"><i class="radio-icon"></i>Skip for now. I'll enter manually later.</label>
						</div>

						<div class="apply-footer">

							<!-- 
							<button class="next pull-right">Next</button>
							<button class="prev pull-right">Previous</button>
							-->

							<a href="account-setup-complete.html" class="imitation-button next pull-right">Next</a>
							<a href="account-setup2.html" class="imitation-button next pull-right">Previous</a>
							<a href="#" class="pull-right">Cancel</a>
						</div>

					</form>
				</section>
				<section>
					<div class="question-icon">?</div>
					<h3>Why do we need this?</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor nec ligula a finibus. Nam sagittis orci in urna euismod suscipit. Etiam tincidunt maximus facilisis. Praesent ultrices.</p>

					<h4>What does this mean?</h4>
					<p>Nunc nec pulvinar tortor, in fermentum mauris. Phasellus dictum condimentum ligula, quis rutrum nibh. Donec vel elit est. Nulla facilisi. Sed in malesuada metus. Ut arcu quam, interdum quis fermentum sed, aliquet sed libero.</p>
				</section>
			</div>
		</div>
			
			

		
		{{>footer-small}}



		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>

		<script type="text/javascript">
			$("#add-owner").on("click", function() {
				var clone = $(".owner:first").clone();
				clone.find("input").val("");
				clone.insertBefore(this);

			});

			$(".apply-form").on("click", ".remove-owner", function() {
				$(this).parent().remove();
			});
		</script>


	</body>
</html>
