<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->

		
		
	</head>

	<body>

		
		{{>header-prospect}}

		<h1 class="header-special">Almost done...</h1>
					


		<div class="container">

			
			<!-- Content -->
			<ul class="apply-steps">
				<li>
					<div>
						<div class="step-number"><i class="fa fa-check"></i></div>
						<i class="fa fa-building-o"></i>
						<div>The Business</div>
					</div>
				</li>
				<li>
					<div>
						<div class="step-number"><i class="fa fa-check"></i></div>
						<i class="fa fa-male"></i>
						<div>The Business Owner</div>
					</div>
				</li>
				<li class="active">
					<div>
						<div class="step-number">3</div>
						<i class="fa fa-cube"></i>
						<div>Submit</div>
					</div>
				</li>
				<li>
					<div>
						<div class="step-number"><i class="fa fa-check"></i></div>
					</div>
				</li>
			</ul>
		</div>

		<div class="apply-content">
			<div class="container">
				<a class="imitation-button next pull-right" href="apply-wrapup.html">Next</a>
				<h2>Please verify your information...</h2>
				

				<h3 class="with-icon">
					<i class="fa fa-building-o"></i>The Business
					<a href="#" class="edit-button">Edit</a>
				</h3>
				<dl class="clearfix">
					<dt>Business Name</dt>
					<dd>Twelfth Night Distillery</dd>

					<dt>DBA</dt>
					<dd>Twelfth Night Distillery</dd>

					<dt>Legal structure</dt>
					<dd>Sole Proprietorship</dd>

					<dt>State Organized</dt>
					<dd>New Jersey</dd>

					<dt>Year Organized</dt>
					<dd>1984</dd>

					<dt>Industry</dt>
					<dd>Craft Distillery</dd>

					<dt>Annual Sales</dt>
					<dd>$50,000 - 100,000</dd>

					<dt>Number of Employees</dt>
					<dd>10-20</dd>

					<dt>Street Address (Line 1)</dt>
					<dd>123 Main Street</dd>

					<dt>Street Address (Line 2)</dt>
					<dd>Suite 456</dd>

					<dt>City</dt>
					<dd>Trenton</dd>

					<dt>State</dt>
					<dd>New Jersey</dd>

					<dt>ZIP Code</dt>
					<dd>87508</dd>
				</dl>

				<h3 class="with-icon"><i class="fa fa-male"></i>The Business Owner(s)</h3>

				<dl class="clearfix">
					<dt>First Name</dt>
					<dd>Jacob</dd>

					<dt>Last Name</dt>
					<dd>Williams</dd>

					<dt>Email</dt>
					<dd>jacob.williams@tnd.com</dd>

					<dt>Phone</dt>
					<dd>(212) 555-1212</dd>

					<dt>Street Address (Line 1)</dt>
					<dd>123 Main Street</dd>

					<dt>Street Address (Line 2)</dt>
					<dd>Suite 456</dd>

					<dt>City</dt>
					<dd>Trenton</dd>

					<dt>State</dt>
					<dd>New Jersey</dd>

					<dt>ZIP Code</dt>
					<dd>87508</dd>

					<dt>Social Security Number</dt>
					<dd>***-**-5555</dd>

					<dt>Percentage of Business</dt>
					<dd>50</dd>
				</dl>

				<dl>
					<dt>First Name</dt>
					<dd>Jane</dd>

					<dt>Last Name</dt>
					<dd>Kim</dd>

					<dt>Email</dt>
					<dd>jane.kim@tnd.com</dd>

					<dt>Phone</dt>
					<dd>(212) 555-4587</dd>

					<dt>Street Address (Line 1)</dt>
					<dd>123 Main Street</dd>

					<dt>Street Address (Line 2)</dt>
					<dd>Suite 456</dd>

					<dt>City</dt>
					<dd>Trenton</dd>

					<dt>State</dt>
					<dd>New Jersey</dd>

					<dt>ZIP Code</dt>
					<dd>87508</dd>

					<dt>Social Security Number</dt>
					<dd>***-**-5555</dd>

					<dt>Percentage of Business</dt>
					<dd>50</dd>
				</dl>

				<a class="imitation-button next pull-right" href="apply-wrapup.html">Next</a>
			</div>
		</div>
			
			

		
		{{>footer-small}}



		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>

		<script type="text/javascript">
			$("#add-owner").on("click", function() {
				var clone = $(".owner:first").clone();
				clone.find("input").val("");
				clone.insertBefore(this);

			});

			$(".apply-form").on("click", ".remove-owner", function() {
				$(this).parent().remove();
			});
		</script>


	</body>
</html>
