<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->

		
		
	</head>

	<body>

		
		{{>header-prospect}}
		<h1 class="header-special">Almost done...</h1>
	

		<div class="container">
			
			<!-- Content -->
			<ul class="apply-steps">
				<li>
					<div>
						<div class="step-number"><i class="fa fa-check"></i></div>
						<i class="fa fa-building-o"></i>
						<div>The Business</div>
					</div>
				</li>
				<li>
					<div>
						<div class="step-number"><i class="fa fa-check"></i></div>
						<i class="fa fa-male"></i>
						<div>The Business Owner</div>
					</div>
				</li>
				<li class="active">
					<div>
						<div class="step-number">3</div>
						<i class="fa fa-cube"></i>
						<div>Submit</div>
					</div>
				</li>
				<li>
					<div>
						<div class="step-number"><i class="fa fa-check"></i></div>
					</div>
				</li>
			</ul>
		</div>

		<div class="apply-content">
			<div class="container">
				<h2>A few more things...</h2>

				<section class="apply-form full-width">

					
					<!--
					<h3>Credit Check Authorization</h3>
					<p>By clicking apply, I agree to allow StepPay to perform a credit check on both the business and the business owner.</p>

					<hr />
					-->
					<h3>Terms and Conditions</h3>
					<p>
						<input type="checkbox" id="sampleRow3" class="skinned-check" />
						<label for="sampleRow3"><i class="fa fa-check"></i></label>
						I have read and I agree to all of Baton's <a href="#" id="terms">Terms and Conditions</a>.
					</p>

					<!--
					<a href="#" class="terms-conditions">Email Me a Copy of the Terms and Conditions <i class="fa fa-envelope-o"></i></a>
					-->

					<hr />

					<h3 class="accordion-trigger with-icon closed">Review Your Application <i class="fa fa-plus"></i></h3>
					<div class="accordion">
						<!--<div class="column">-->
							<h3 class="with-icon">
								<i class="fa fa-building-o"></i>The Business
								<a href="#" class="edit-button">Edit</a>
							</h3>
						
							<dl class="clearfix">
								<dt>Business Name</dt>
								<dd>Twelfth Night Distillery</dd>

								<dt>DBA</dt>
								<dd>Twelfth Night Distillery</dd>

								<dt>Legal structure</dt>
								<dd>Sole Proprietorship</dd>

								<dt>State Organized</dt>
								<dd>New Jersey</dd>

								<dt>Year Organized</dt>
								<dd>1984</dd>

								<dt>Industry</dt>
								<dd>Craft Distillery</dd>

								<dt>Annual Sales</dt>
								<dd>$50,000 - 100,000</dd>

								<dt>Number of Employees</dt>
								<dd>10-20</dd>

								<dt>Street Address (Line 1)</dt>
								<dd>123 Main Street</dd>

								<dt>Street Address (Line 2)</dt>
								<dd>Suite 456</dd>

								<dt>City</dt>
								<dd>Trenton</dd>

								<dt>State</dt>
								<dd>New Jersey</dd>

								<dt>ZIP Code</dt>
								<dd>87508</dd>
							</dl>
						<!--</div>

						<div class="column">-->

							<h3 class="with-icon"><i class="fa fa-male"></i>The Business Owner(s)</h3>

							<dl class="clearfix">
								<dt>First Name</dt>
								<dd>Jacob</dd>

								<dt>Last Name</dt>
								<dd>Williams</dd>

								<dt>Email</dt>
								<dd>jacob.williams@tnd.com</dd>

								<dt>Phone</dt>
								<dd>(212) 555-1212</dd>

								<dt>Street Address (Line 1)</dt>
								<dd>123 Main Street</dd>

								<dt>Street Address (Line 2)</dt>
								<dd>Suite 456</dd>

								<dt>City</dt>
								<dd>Trenton</dd>

								<dt>State</dt>
								<dd>New Jersey</dd>

								<dt>ZIP Code</dt>
								<dd>87508</dd>

								<dt>Social Security Number</dt>
								<dd>***-**-5555</dd>

								<dt>Percentage of Business</dt>
								<dd>50</dd>
							</dl>

							<dl>
								<dt>First Name</dt>
								<dd>Jane</dd>

								<dt>Last Name</dt>
								<dd>Kim</dd>

								<dt>Email</dt>
								<dd>jane.kim@tnd.com</dd>

								<dt>Phone</dt>
								<dd>(212) 555-4587</dd>

								<dt>Street Address (Line 1)</dt>
								<dd>123 Main Street</dd>

								<dt>Street Address (Line 2)</dt>
								<dd>Suite 456</dd>

								<dt>City</dt>
								<dd>Trenton</dd>

								<dt>State</dt>
								<dd>New Jersey</dd>

								<dt>ZIP Code</dt>
								<dd>87508</dd>

								<dt>Social Security Number</dt>
								<dd>***-**-5555</dd>

								<dt>Percentage of Business</dt>
								<dd>50</dd>
							</dl>
						<!--</div>-->
					</div>
					<!--
					<h3>Promo Code</h3>

					<label>Your Code</label>
					<input type="text" />

					<hr />
					-->
					<h3>Signature</h3>

					<label>Enter Your Name</label>
					<input type="text" />

					<textarea></textarea>
					<span class="clear-textarea">Clear</span>

					<div class="apply-footer">
						<!--
						<button class="next pull-right">Apply</button>
						-->
						<a href="apply-complete.html" class="imitation-button next pull-right">Submit</a>
					</div>
				</section>
			</div>
		</div>
			
			

		
		{{>footer-small}}

		<div class="modal-overlay"></div>
		<div class="modal-2">
			<i class="fa fa-times modal-close"></i>
			<div class="modal-body">
				<h3>Terms and Conditions</h3>

				<p>Last updated: February 05, 2016</p>

				<p>
					Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the Baton website
					(the "Service") operated by the website ("us", "we", or "our"). Your access to and use of the Service is conditioned
					on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access
					or use the Service. By accessing or using the Service, you agree to be bound by these Terms. If you disagree with
					any part of the terms then you may not access the Service.
				</p>

				<p>
					<b>Accounts</b>
				</p>

				<p>
					When you create an account with us, you must provide us information that is accurate, complete, and current at all times.
					Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service
				</p>

				<p>
					You are responsible for safeguarding the password that you use to access the Service and for any activities or actions
					under your password, whether your password is with our Service or a third-party service.
				</p>

				<p>
					You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach
					of security or unauthorized use of your account.
				</p>
			</div>
		</div>

		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>

		<script type="text/javascript">
			$("#terms").on("click", function() {
				$(".modal-2").show();
				$(".modal-overlay").show();
			});

			$(".modal-close").on("click", function() {
				$(".modal-2").hide();
				$(".modal-overlay").hide();
			})

			$("body").on("keyup", function(e) {
				if(e.keyCode == 27) {
					$(".modal-2").hide();
					$(".modal-overlay").hide();
				}
			});

			$(".accordion-trigger").on("click", function() {
				$(this).toggleClass("closed");
				if($(this).hasClass("closed")) {
					console.log('adding plus');
					$(this).find(".fa").removeClass("fa-minus").addClass("fa-plus");

				} else {
					console.log('adding minus');
					$(this).find(".fa").removeClass("fa-plus").addClass("fa-minus");
				}
			});
		</script>


	</body>
</html>
