<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Business Credit Report - Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->

		
		
	</head>

	<body>

		
		{{>header-no-active}}

			<!-- Content -->

	<div class="container content-area-padding resources">

		<h2 class="long">Equifax makes it easy to understand, manage and build your business credit.</h2>

		<div class="top-buttons right">
			<select>
				<option>Most recent report</option>
			</select>
			<select>
				<option>Summary quick view</option>
			</select>
		</div>


		
		<div class="cards">
			<div class="card icon-tile">
				<div class="inner">
				
						<span><i class="fa fa-credit-card"></i></span>
						<h3>My Business Credit</h3>

				</div>
			</div>

			<div class="card icon-tile">
				<div class="inner">
				
						<span><i class="fa fa-exclamation-triangle"></i></span>
						<h3>Manage My Alerts</h3>

				</div>
			</div>

			<div class="card icon-tile">
				<div class="inner">
				
						<span><i class="fa fa-gear"></i></span>
						<h3>Establish Business Credit</h3>

				</div>
			</div>

			<div class="card icon-tile">
				<div class="inner">
				
						<span><i class="fa fa-bar-chart"></i></span>
						<h3>Monitor Another Company</h3>

				</div>
			</div>

			<div class="card icon-tile">
				<div class="inner">
				
						<span><i class="fa fa-file"></i></span>
						<h3>My Personal Credit</h3>

				</div>
			</div>


			<div class="card icon-tile">
				<div class="inner">
				
						<span><i class="fa fa-book"></i></span>
						<h3>Educational Material</h3>

				</div>
			</div>

			<div class="card icon-tile">
				<div class="inner">
				
						<span><i class="fa fa-comments"></i></span>
						<h3>Dispute Inaccurate Information</h3>

				</div>
			</div>

			<div class="card icon-tile">
				<div class="inner">
				
						<span><i class="fa fa-list-alt"></i></span>
						<h3>Report Your Client Payment Information</h3>

				</div>
			</div>

		</div>
	</div>
			


			<!-- /Content -->



		{{>footer-x-large}}
		{{>footer}}



		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>
		<script src="../js/vendor/jquery.tablesorter.js"></script>

		<script type="text/javascript">
			$('td').on('click', ".fa-plus", function() {
				$(this).parents("tr").next(".expandable").toggleClass('open');

				$(this).removeClass("fa-plus").addClass("fa-minus");
			});

			$('td').on('click', ".fa-minus", function() {
				$(this).parents("tr").next(".expandable").toggleClass('open');

				$(this).removeClass("fa-minus").addClass("fa-plus");
			});

			$(".actions-toggle").on("click", function() {
				$(this).children(".actions").toggleClass("open");
				$(this).children(".actions-arrow").toggleClass("open");
			});

			$(".actions").on("click", function(e) {
				e.stopPropagation();
			});

			$("#invoiceTable").tablesorter({
				cssChildRow: 'expandable'
			});
		</script>


	</body>
</html>
