<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->

		
		
	</head>

	<body>

		
		{{>header-no-active}}

		<div class="container calculator">
			

			<div class="boxed-content col-8">
				<section class="clearfix">
					<div class="step-instructions">
						<h3>1</h3>
						Lorem ipsum
					</div>
					<label>Category</label>
					<select>
						<option>Select One...</option>
					</select>

					<div class="column">
						<h3><i class="fa fa-file-text-o"></i>Income Statement Data</h3>

						<label>Total Sales</label>
						<input type="text" />

						<label>Cost of Sales</label>
						<input type="text" />

						<label>Operating Expenses</label>
						<input type="text" />
					</div>

					<div class="column last">
						<h3><i class="fa fa-file-text-o"></i>Balance Sheet Data</h3>

						<label>Accounts Receivable</label>
						<input type="text" />

						<label>Accounts Payable</label>
						<input type="text" />

						<label>Inventory</label>
						<input type="text" />
					</div>

					<div class="section-footer">
						<button class="next pull-right">Calculate</button>
						<a href="#" class="pull-right">Reset</a>
					</div>
				</section>

				<section class="clearfix">
					<div class="step-instructions">
						<h3>2</h3>
						View your results
					</div>
					<ul class="tabs">
						<li class="active">Impact</li>
						<li>Economic Benefits</li>
					</ul>
					<div class="tab active">
						<div class="graphs">
							<div class="graph">
								<div class="col-current">
									<div class="value">3.1</div>
									<div class="filled-bar"></div>
								</div>
								<div class="col-with-steppay">
									<div class="value">5.0</div>
									<div class="filled-bar"></div>
								</div>
								<h4>Operating Cash Cycles Per Year</h4>
							</div>

							<div class="graph">
								<div class="col-current">
									<div class="value">25%</div>
									<div class="filled-bar"></div>
								</div>
								<div class="col-with-steppay">
									<div class="value">49%</div>
									<div class="filled-bar"></div>
								</div>
								<h4>Annual SFG Rate</h4>
							</div>

							<div class="graph">
								<div class="col-current">
									<div class="value">$68,055</div>
									<div class="filled-bar"></div>
								</div>
								<div class="col-with-steppay">
									<div class="value">$131,297</div>
									<div class="filled-bar"></div>
								</div>
								<h4>Annual SFG Dollars</h4>
							</div>
						</div>
					</div>
					<div class="tab">
						<table class="economic-benefits">
							<tr>
								<td class="plus">
									<div class="benefit">Avoided "Opportunity Cost"</div>
									<div class="amount">$2,342</div>
								</td>
								<td class="plus">
									<div class="benefit">Avoided Bad Debt Expense</div>
									<div class="amount">$300</div>
								</td>
								<td class="equal">
									<div class="benefit">Elimination of Carrying Expense</div>
									<div class="amount">$100</div>
								</td>
								<td>
									<div class="benefit">Total Benefit</div>
									<div class="amount">$2,742</div>
								</td>
							</tr>
							<tr class="totals-row">
								<td></td>
								<td></td>
								<td></td>
								<td><b>Estimated Cost:</b> $325</td>
							</tr>
						</table>
					</div>
				</section>


				
			</div>

			<div class="col-4 definitions">
				<h2>Definitions</h2>

				<h3>Operating Cash Cycle</h3>
				<p>Lorem ipsum</p>

				<h3>Self-Financeable Growth</h3>
				<p>Lorem Ipsum</p>
			</div>
		</div>

		
		
		{{>footer}}



		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>

		<script type="text/javascript">
			$(".tabs li").on("click", function() {
				var clickedTab = $(this).index();

				$(".tabs li, .tab").each(function() {
					$(this).removeClass("active");
				});

				$(this).addClass("active");
				$(".tab").eq(clickedTab).addClass("active");
			});

			function calculateStuff() {
				/* Variables I have:
					total sales
					cost of sales
					operating expenses

					accounts receivable
					accounts payable
					inventory
				*/

				var operatingCashCyclesPerYear; // = 365 / (Accounts receivable + inventory)
				var annualSFGRate; // = occ per year * ( (D12=C12/C8=net profit=sales-cost-operating expes - sales/K16=(.35*(Operating Expense/(accounts receivable + inventory))) + K15) )
				var annualSFGDollars; // Annual SFG rate * total sales

				var avoidedOppCost;
				var avoidedBadDebt;
				var eliminationCarryingExpense;
			}
		</script>


	</body>
</html>
