<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Customers - Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">


		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body> 


		{{>header-customers}}

		<div class="graph-top">
			<div class="container">
					<i id="graph-button" class="fa fa-close"></i>
					{{>graph-customers}}
				</div>
			</div>
		</div>

		<div class="container">

			<div class="invoices">
				<div class="top-buttons">
					<div class="button-holder-left">

						<ul class="tabs button-tabs">
							<li id="b1" class="button inverse actions-toggle tab-link" data-tab="tab-pending">
								Pending
							</li>
							<li id="b2" class="button inverse actions-toggle tab-link current" data-tab="tab-qualified">
								Qualified
							</li>
							<li id="b3" class="button inverse actions-toggle tab-link" data-tab="tab-dis">
								Disqualified
							</li>
							<li id="b4" class="button inverse actions-toggle tab-link" data-tab="tab-rejected">
								Rejected
							</li>
						</ul>
					</div>

					<div class="button-holder-right">
						<input type="text" class="nav-search" placeholder="Search for Customers">
						<a class="search-button" href=""><i class="fa fa-search"></i></a>
						<button>New Customer <i class="fa fa-user-plus"></i></button>
					</div>
				</div>

				{{>customer-tables}}

			</div>
		</div>

		{{>footer}}
	{{>customer-details-empire}}
		{{>customer-details-atlanta-beverage}}
		{{>customer-details-celebration-distillation}}
		{{>customer-details-city-wholesale}}
		{{>customer-details-craft}}
		{{>customer-details-crescent}}
	
		{{>customer-details-general}}
		{{>customer-details-ga-beer}}
		{{>customer-details-ga-dist}}
		{{>customer-details-glazers}}




		<script type="text/javascript">
			$('td').on('click', ".fa-plus", function() {
				$(this).parents("tr").next(".expandable").toggleClass('open');

				$(this).removeClass("fa-plus").addClass("fa-minus");
			});

			$('td').on('click', ".fa-minus", function() {
				$(this).parents("tr").next(".expandable").toggleClass('open');

				$(this).removeClass("fa-minus").addClass("fa-plus");
			});

			$(".actions-toggle").on("click", function() {
				$(this).children(".actions").toggleClass("open");
				$(this).children(".actions-arrow").toggleClass("open");
			});

			$(".actions").on("click", function(e) {
				e.stopPropagation();
			});

			$("#pendingTable").tablesorter({
				cssChildRow: 'expandable'
			});
			$("#qualTable").tablesorter({
				cssChildRow: 'expandable'
			});
			$("#disTable").tablesorter({
				cssChildRow: 'expandable'
			});
			$("#rejectedTable").tablesorter({
				cssChildRow: 'expandable'
			});
		</script>

		<script>
			$(document).ready(function(){
		    $("#graph-button").click(function(){
		        $(".customers-graph").toggle();
		        $("#graph-button").toggleClass("fa-plus fa-close");
		    });
			});
		</script>

		<script>
			$(document).ready(function(){
		    $("#b1").click(function(){
		        $(".active").removeClass("active");
		        $(".pending").toggleClass("active");
		    });
			});
			$(document).ready(function(){
		    $("#b2").click(function(){
			    	$(".active").removeClass("active");
		        $(".qualified").toggleClass("active");
		    });
			});
			$(document).ready(function(){
		    $("#b3").click(function(){
		    		$(".active").removeClass("active");
		        $(".disqualified").toggleClass("active");
		    });
			});
			$(document).ready(function(){
		    $("#b4").click(function(){
		    		$(".active").removeClass("active");
		        $(".rejected").toggleClass("active");
		    });
			});
		</script>

		<script>

		//Open links
			$(document).ready(function(){
		    $("#customer1").click(function(){
		        $("#details-atlanta-bev").show();
		    });
			});
			$(document).ready(function(){
		    $("#customer2").click(function(){
		        $("#details-celebration").show();
		    });
			});
			$(document).ready(function(){
		    $("#customer3").click(function(){
		        $("#details-city-wholesale").show();
		    });
			});
			$(document).ready(function(){
		    $("#customer4").click(function(){
		        $("#details-craft").show();
		    });
			});
			$(document).ready(function(){
		    $("#customer5").click(function(){
		        $("#details-crescent").show();
		    });
			});
			$(document).ready(function(){
		    $("#customer6").click(function(){
		        $("#details-empire").show();
		    });
			});
			$(document).ready(function(){
		    $("#customer7").click(function(){
		        $("#details-general").show();
		    });
			});
			$(document).ready(function(){
		    $("#customer8").click(function(){
		        $("#details-ga-beer").show();
		    });
			});
			$(document).ready(function(){
		    $("#customer9").click(function(){
		        $("#details-ga-dist").show();
		    });
			});
			$(document).ready(function(){
		    $("#customer10").click(function(){
		        $("#details-glazers").show();
		    });
			});

			//Close buttons

			$(document).ready(function(){
		    $("#close-atlanta-beverage").click(function(){
		        $("#details-atlanta-bev").hide();
		    });
			});

			$(document).ready(function(){
		    $("#close-celebration").click(function(){
		        $("#details-celebration").hide();
		    });
			});

			$(document).ready(function(){
		    $("#close-celebration").click(function(){
		        $("#details-city-wholesale").hide();
		    });
			});

			$(document).ready(function(){
		    $("#close-craft").click(function(){
		        $("#details-craft").hide();
		    });
			});

			$(document).ready(function(){
		    $("#close-crescent").click(function(){
		        $("#details-crescent").hide();
		    });
			});

			$(document).ready(function(){
		    $("#close-empire").click(function(){
		        $("#details-empire").hide();
		    });
			});

			$(document).ready(function(){
		    $("#close-ga-beer").click(function(){
		        $("#details-ga-beer").hide();
		    });
			});

			$(document).ready(function(){
		    $("#close-ga-dist").click(function(){
		        $("#details-ga-dist").hide();
		    });
			});

			$(document).ready(function(){
		    $("#close-general").click(function(){
		        $("#details-general").hide();
		    });
			});

			$(document).ready(function(){
		    $("#close-glazers").click(function(){
		        $("#details-glazers").hide();
		    });
			});


			$(document).ready(function(){
			    $("#edit1").click(function(){
			        $( ".input1" ).prop( "disabled", false );
			        $("#edit1").html("Save <i class='fa fa-pencil'></i>");
			    });
			});

			$(document).ready(function(){
			    $("#edit2").click(function(){
			        $( ".input2" ).prop( "disabled", false );
			        $("#edit2").html("Save <i class='fa fa-pencil'></i>");
			    });
			});

			$(document).ready(function(){
			    $("#edit3").click(function(){
			        $( ".input3" ).prop( "disabled", false );
			        $("#edit3").html("Save <i class='fa fa-pencil'></i>");
			    });
			});

			$(document).ready(function(){
			    $("#edit4").click(function(){
			        $( ".input4" ).prop( "disabled", false );
			        $("#edit4").html("Save <i class='fa fa-pencil'></i>");
			    });
			});

			$(document).ready(function(){
			    $("#edit5").click(function(){
			        $( ".input5" ).prop( "disabled", false );
			        $("#edit5").html("Save <i class='fa fa-pencil'></i>");
			    });
			});

			$(document).ready(function(){
			    $("#edit6").click(function(){
			        $( ".input6" ).prop( "disabled", false );
			        $("#edit6").html("Save <i class='fa fa-pencil'></i>");
			    });
			});

			$(document).ready(function(){
			    $("#edit7").click(function(){
			        $( ".input7" ).prop( "disabled", false );
			        $("#edit7").html("Save <i class='fa fa-pencil'></i>");
			    });
			});

			$(document).ready(function(){
			    $("#edit8").click(function(){
			        $( ".input8" ).prop( "disabled", false );
			        $("#edit8").html("Save <i class='fa fa-pencil'></i>");
			    });
			});

			$(document).ready(function(){
			    $("#edit9").click(function(){
			        $( ".input9" ).prop( "disabled", false );
			        $("#edit9").html("Save <i class='fa fa-pencil'></i>");
			    });
			});

			$(document).ready(function(){
			    $("#edit10").click(function(){
			        $( ".input10" ).prop( "disabled", false );
			        $("#edit10").html("Save <i class='fa fa-pencil'></i>");
			    });
			});
		</script>


	</body>
</html>
