---
title: Baton Merchant Dashboard
layout: app/html/layouts/merchant-dashboard.hbs
---
			<!-- Content -->
			<div class="container dash-area">
				<div class="icons">

					<div class="huge-icon">
						<a href="qualify.html">
							<i class="fa fa-check"></i>
							<div>Qualify a customer</div>
						</a>
					</div>
					

					<div class="huge-icon">
						<a href="invoice-submit.html">
							<i class="fa fa-file-text-o"></i>
							<div>Submit a new invoice</div>
						</a>
					</div>
					

					<div class="huge-icon">
						<a href="invoices.html">
							<i class="fa fa-refresh"></i>
							<div>Understand My Transactions</div>
						</a>
					</div>
					
					
<!--
					<div>
						<a href="qualify.html"><img src="../img/icon-check.png"></a>
						<span><a href="qualify.html">QUALIFY A CUSTOMER</a></span>
					</div>

					<div>
						<a href="invoices.html"><img src="../img/icon-doc.png"></a>
						<span><a href="invoice-submit.html">SUBMIT A NEW INVOICE</a></span>
					</div>

					<div>
						<a href=""><img src="../img/icon-transactions.png"></a>
						<span><a href="">UNDERSTAND MY TRANSACTIONS</span></a>
					</div>
-->
				</div>

				<div id="charts" class="carousel slide" data-ride="carousel">
					<!--<a href="#"> View All Payments </a>-->
		
				  <div class="carousel-inner" role="listbox">
				     <div class="item active">
				      <img src="../img/graph1.jpg" alt="Baton Merchant Dashboard">
				     </div>

				     <div class="item">
				      <img src="../img/graph2.jpg" alt="Baton Merchant Dashboard">
				    </div>

				    <div class="item">
				      <img src="../img/graph3.jpg" alt="Baton Merchant Dashboard">
				    </div>
				  </div>

				  <ol class="carousel-indicators">
				    <li data-target="#charts" data-slide-to="0" class="active"></li>
				    <li data-target="#charts" data-slide-to="1"></li>
				    <li data-target="#charts" data-slide-to="2"></li>
				  </ol>

				</div>
			</div>		

			
			</div>
	
	<div class="angle-content">
		<div class="backgrounds"></div>
		<div class="container">
			<div class="card">
				<h2>Get Started</h2>
				<img src="../img/stock-getstarted.png">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum veritatis eligendi ...</p>

				<a class="go" href="#">Start Now</a>
			</div>

			<div class="card">
				<h2>Resources</h2>
				<img src="../img/stock-assistance.png">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum veritatis eligendi ...</p>

				<a class="go" href="resources.html">Start Now</a>
			</div>

			<div class="card wells">
				<h2>Wells Fargo</h2>
				<img src="../img/stock-bank.png">
				<img class="wells-logo" src='../img/logo-wells.png'>
				<h3>We Can Show You a New Way to Save</h3>
				<p> Make saving a permanent habit and reach your goals. </p>
			</div>
		</div>
	</div>


			<!-- /Content -->