---
title: Baton
layout: app/html/layouts/default.hbs
---
			<!-- Content -->

			<style>
				table td, table th {
					text-align: left;
					padding: 5px;
				}
			</style>

			<div class="row">
				<table>
					<thead>
						<tr>
							<th>Comp number</th>
							<th>Page name</th>
							<th>Direct URL</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>NA</td>
							<td>Merchant Path</td>
							<td><a href="dashboard.html">http://dev.perficientxd.com/equifax/steppay/html/dashboard.html</a></td>
						</tr>

						<tr>
							<td>NA</td>
							<td>Partner Path</td>
							<td><a href="partner-sales-portal.html">http://dev.perficientxd.com/equifax/steppay/html/partner-sales-portal.html</a></td>
						</tr>

						<tr>
							<td>NA</td>
							<td>Storefront Path</td>
							<td><a href="storefront-go-direct-portal.html">http://dev.perficientxd.com/equifax/steppay/html/storefront-go-direct-portal.html</a></td>
						</tr>

						<tr>
							<td></td>
							<td>Payments</td>
							<td><a href="payments.html">http://dev.perficientxd.com/equifax/steppay/html/payments.html</a></td>
						</tr>


						<tr>
							<td></td>
							<td>Business Credit Report</td>
							<td><a href="business-credit-report.html">http://dev.perficientxd.com/equifax/steppay/html/business-credit-report.html</a></td>
						</tr>


						<tr>
							<td>0</td>
							<td>Merchant Home</td>
							<td><a href="merchant-home.html">merchant-home.html</a></td>
						</tr>

						<tr>
							<td>1-3</td>
							<td>Merchant Dashboard</td>
							<td><a href="dashboard.html">http://dev.perficientxd.com/equifax/steppay/html/dashboard.html</a></td>
						</tr>

						<tr>
							<td>4</td>
							<td>Settings</td>
							<td><a href="settings.html">http://dev.perficientxd.com/equifax/steppay/html/settings.html</a></td>
						</tr>

						<tr>
							<td>5</td>
							<td>Account Setup - Sign Up</td>
							<td><a href="account-setup1.html">http://dev.perficientxd.com/equifax/steppay/html/account-setup1.html</a></td>
						</tr>

						<tr>
							<td>6-7</td>
							<td>Account Setup - Reimbursement</td>
							<td><a href="account-setup2.html">http://dev.perficientxd.com/equifax/steppay/html/account-setup2.html</a></td>
						</tr>

						<tr>
							<td>8</td>
							<td>Account Setup - Import Data</td>
							<td><a href="account-setup3.html">http://dev.perficientxd.com/equifax/steppay/html/account-setup3.html</a></td>
						</tr>

						<tr>
							<td>9</td>
							<td>Account Setup - Success</td>
							<td><a href="account-setup-complete.html">http://dev.perficientxd.com/equifax/steppay/html/account-setup-complete.html</a></td>
						</tr>

						<tr>
							<td>10-14</td>
							<td>Invoices</td>
							<td><a href="invoices.html">http://dev.perficientxd.com/equifax/steppay/html/invoices.html</a></td>
						</tr>

						<tr>
							<td>15-16</td>
							<td>Submit an Invoice</td>
							<td><a href="invoice-submit.html">http://dev.perficientxd.com/equifax/steppay/html/invoice-submit.html</a></td>
						</tr>

						<tr>
							<td>17</td>
							<td>Qualify a Customer</td>
							<td><a href="qualify.html">http://dev.perficientxd.com/equifax/steppay/html/qualify.html</a></td>
						</tr>

						<tr>
							<td>18</td>
							<td>Sales Portal</td>
							<td><a href="sales-portal.html">http://dev.perficientxd.com/equifax/steppay/html/sales-portal.html</a></td>
						</tr>

						<tr>
							<td>19</td>
							<td>Sales Toolkit</td>
							<td><a href="sales-toolkit.html">http://dev.perficientxd.com/equifax/steppay/html/sales-toolkit.html</a></td>
						</tr>

						<tr>
							<td>20</td>
							<td>Go Direct Portal</td>
							<td><a href="go-direct-portal.html">http://dev.perficientxd.com/equifax/steppay/html/go-direct-portal.html</a></td>
						</tr>

						<tr>
							<td>21</td>
							<td>Apply - The Business</td>
							<td><a href="apply-business.html">http://dev.perficientxd.com/equifax/steppay/html/apply-business.html</a></td>
						</tr>

						<tr>
							<td>22</td>
							<td>Apply - The Business Owner</td>
							<td><a href="apply-owner.html">http://dev.perficientxd.com/equifax/steppay/html/apply-owner.html</a></td>
						</tr>

						<tr>
							<td>23</td>
							<td>Apply - Review</td>
							<td><a href="apply-almostdone.html">http://dev.perficientxd.com/equifax/steppay/html/apply-almostdone.html</a></td>
						</tr>

						<tr>
							<td>24</td>
							<td>Apply - Wrap Up</td>
							<td><a href="apply-wrapup.html">http://dev.perficientxd.com/equifax/steppay/html/apply-wrapup.html</a></td>
						</tr>

						<tr>
							<td>25</td>
							<td>Apply - Complete</td>
							<td><a href="apply-complete.html">http://dev.perficientxd.com/equifax/steppay/html/apply-complete.html</a></td>
						</tr>

						<tr>
							<td>26-28</td>
							<td>Value Estimator / Calculator</td>
							<td><a href="calculator.html">http://dev.perficientxd.com/equifax/steppay/html/calculator.html</a></td>
						</tr>

						<tr>
							<td>N/A</td>
							<td>Customers</td>
							<td><a href="customers.html">http://dev.perficientxd.com/equifax/steppay/html/customers.html</a></td>
						</tr>

						<tr>
							<td>N/A</td>
							<td>Resources</td>
							<td><a href="resources.html">http://dev.perficientxd.com/equifax/steppay/html/resources.html</a></td>
						</tr>

				</table>

			</div>
			<!--
			<div class="row">
				<div class="span4">
					<h2>Heading</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
					<p><a class="btn" href="#">View details &raquo;</a></p>
				</div>
				<div class="span4">
					<h2>Heading</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
					<p><a class="btn" href="#">View details &raquo;</a></p>
				</div>
				<div class="span4">
					<h2>Heading</h2>
					<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					<p><a class="btn" href="#">View details &raquo;</a></p>
				</div>
			</div>
			-->
			<!-- /Content -->