<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->

		
		
	</head>

	<body>

		
		{{>header-invoices}}

		<div class="container invoice-submit content-area-padding">
			<div class="col-3">
				<div class="huge-icon">
					<i class="fa fa-plus-circle"></i>
					<div>Click to upload your invoice</div>
				</div>
				
			</div>

			<div class="boxed-content col-9">
				<section class="clearfix">
					<h2>Customer</h2>

					<label>Select a Customer</label>
					<select>
						<option>Bar Pilar</option>
					</select>
					<div>
						<b>OR</b>
						<a class="button-no-border">Add a New Customer <i class="fa fa-user-plus"></i></a>
					</div>

					<div class="message success">
						<h4>Customer Requires Approval.</h4>
						<p>This customer has not yet been approved. Baton will qualify when you submit this invoice</p>
						<p><a href="#">Submit for Re-Approval</a></p>
					</div>
				</section>

				<section class="clearfix">
					<h2>Invoice</h2>
					<p>Provide all invoice information.</p>

					<label>Invoice Number</label>
					<input type="text" value="3102" />

					<label>Invoice Amount</label>
					<input type="text" value="$2,500" />

					<label>Invoice Date <span>(mm/dd/yyyy)</span></label>
					<input type="text" value="05/10/2015" />

					<label>Terms</label>
					<select>

					</select>
				</section>

				<section class="clearfix">
					<h2>Remittance Information 
						<span class="test-tooltip-trigger">
							<i class="fa fa-question-circle"></i>
							<div>
								<h3>Title Placed Here</h3>
								<p>lorem ipsum and stuff</p>
							</div>
						</span>
					</h2>
					<p>Please ensure your invoice contains the following remittance information. You can copy and paste the following text into our invoice's payment method or terms section:</p>

					<div class="message neutral">
						<dl>
							<dt>Please send payment via check to:</dt>
							<dd>12th Street Distillery</dd>
							<dd>PO Box 12345</dd>
							<dd>New Orleans, LA</dd>
						</dl>

						<dl>
							<dt>To send via bank transfer, use the following information:</dt>
							<dd>Routing number: 123456789</dd>
							<dd>Account number: 1234567890</dd>
						</dl>
					</div>
				</section>
				<div class="section-footer">
					<button class="next pull-right">Submit Invoice</button>
					<a href="#" class="pull-right">Cancel</a>
				</div>
			</div>
		</div>

		{{>footer}}



		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>

		<script type="text/javascript">
			$('td').on('click', ".fa-plus", function() {
				$(this).parents("tr").next(".expandable").toggleClass('open');

				$(this).removeClass("fa-plus").addClass("fa-minus");
			});

			$('td').on('click', ".fa-minus", function() {
				$(this).parents("tr").next(".expandable").toggleClass('open');

				$(this).removeClass("fa-minus").addClass("fa-plus");
			});

			$(".actions-toggle").on("click", function() {
				$(this).children(".actions").toggleClass("open");
				$(this).children(".actions-arrow").toggleClass("open");
			});

			$(".actions").on("click", function(e) {
				e.stopPropagation();
			})
		</script>


	</body>
</html>
