<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Invoices - Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">


		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		{{>header-invoices}}

		<div class="graph-top">
			<div class="container">
					<i id="totals-button" class="fa fa-close"></i>
					{{>graph-invoices}}
				</div>
			</div>
		</div>

		<div class="container">

			<div class="invoices">
				<div class="top-buttons">
					<div class="button-holder-left">

						<ul class="tabs button-tabs">
							<li id="b1" class="button inverse actions-toggle tab-link current" data-tab="tab-ready">
								Ready
							</li>
							<li id="b2" class="button inverse actions-toggle tab-link" data-tab="tab-in-review">
								In Review
							</li>
							<li id="b3" class="button inverse actions-toggle tab-link" data-tab="tab-paid">
								Paid
							</li>
						</ul>
					</div>

					<div class="button-holder-right">
						<input type="text" class="nav-search" placeholder="Search for Invoices">
						<a class="search-button" href=""><i class="fa fa-search"></i></a>
						<button>New Invoice <i class="fa fa-user-plus"></i></button>
					</div>
				</div>

				{{>invoices-tables}}

			</div>
		</div>

		{{>footer}}

		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>
		<script src="../js/vendor/jquery.tablesorter.js"></script>

		<script type="text/javascript">
			$('td').on('click', ".fa-plus", function() {
				$(this).parents("tr").next(".expandable").toggleClass('open');

				$(this).removeClass("fa-plus").addClass("fa-minus");
			});

			$('td').on('click', ".fa-minus", function() {
				$(this).parents("tr").next(".expandable").toggleClass('open');

				$(this).removeClass("fa-minus").addClass("fa-plus");
			});

			$(".actions-toggle").on("click", function() {
				$(this).children(".actions").toggleClass("open");
				$(this).children(".actions-arrow").toggleClass("open");
			});

			$(".actions").on("click", function(e) {
				e.stopPropagation();
			});

			$("#customer-invoices-table-in-review").tablesorter({
				cssChildRow: 'expandable'
			});
			$("#customer-invoices-table-ready").tablesorter({
				cssChildRow: 'expandable'
			});
			$("#customer-invoices-table-paid").tablesorter({
				cssChildRow: 'expandable'
			});

		</script>

		<script>
			$(document).ready(function(){
		    $("#totals-button").click(function(){
		        $("#totals").toggle();
		        $("#totals-button").toggleClass("fa-plus fa-close");
		    });
			});
		</script>

		<script>
			$(document).ready(function(){
		    $("#b1").click(function(){
		        $(".active").removeClass("active");
		        $(".ready").toggleClass("active");
		    });
			});
			$(document).ready(function(){
		    $("#b2").click(function(){
			    	$(".active").removeClass("active");
		        $(".in-review").toggleClass("active");
		    });
			});
			$(document).ready(function(){
		    $("#b3").click(function(){
		    		$(".active").removeClass("active");
		        $(".paid").toggleClass("active");
		    });
			});
		</script>

		<script>

			$(document).ready(function(){
			    $("#edit1").click(function(){
			        $( ".input1" ).prop( "disabled", false );
			        $("#edit1").html("Save <i class='fa fa-pencil'></i>");
			    });
			});

			$(".actions-toggle").hover(function () {
			    $(this).children(".actions").stop(true,true).delay(500).show(0);
			}, function () {
			    $(this).children(".actions").stop(true,true).delay(500).hide(0);
			});

			$(".actions").click( function(e) {
				e.stopPropagation();
			});

		</script>


	</body>
</html>
