<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>StepPay Partner Portal</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->

		
		
	</head>

	<body>

		
		{{>header-no-active}}

	
		
	<!-- Content -->

	<div class="hero merchant-home">
		<div class="container">
			<div class="promo">
				<p>We're unleashing the strength of small business in the US economy</p>
			</div>
			<section class="sign-in-block">
				<h3>Sign in...</h3>
				
				<label>User ID</label>
				<input type="text" />

				<label>Password</label>
				<input type="password" />

				<div>
					<h4>I Want To <i class="fa fa-angle-down"></i></h4>
				</div>

				<div class="sign-in-options">
					<input type="checkbox" class="skinned-check" id="remember" /><label for="remember"><i class="fa fa-check"></i></label>
					<label for="remember">Remember My User ID</label>
					<div><i class="fa fa-lock"></i>Forgot ID or Password</div>
				</div>

				<div class="sign-in-submit">
					<a class="cta-orange" href="merchant-go-direct-portal.html">Submit</a>
				</div>
			</section>
		</div>
	</div>

	<div class="container content-area-padding">
		<div class="col-3">
			<h3 class="with-icon"><i class="fa fa-angle-double-right"></i> I Want To...</h3>
			<ul class="link-list">
				<li><a href="#">Learn More</a></li>
				<li><a href="#">Get Started</a></li>
				<li><a href="#">Sign Up</a></li>
			</ul>
		</div>

		<div class="col-9">
		
			<div class="cards">
				<div class="card">
					<div class="inner">

						<img src="../img/stock01.png">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum veritatis.</p>

						<a class="go" href="sales-toolkit.html">Learn More</a>
					</div>
				</div>

				<div class="card">
					<div class="inner">

						<img src="../img/stock2.png">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum veritatis.</p>

						<a class="go" href="go-direct-portal.html">View Overview</a>
					</div>
				</div>

				<div class="card">
					<div class="inner">

						<img src="../img/stock3.png">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum veritatis.</p>

						<a class="go" href="#">Launch Prospect Page</a>
					</div>
				</div>
			</div>
		</div>
	</div>
			
	{{>footer}}

		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>


	</body>
</html>
