<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->

		
		
	</head>

	<body>

		
		{{>header-prospect}}
		<h1 class="header-special">Apply in 3 Easy Steps</h1>
		


		<div class="container">
			
			<!-- Content -->
			<ul class="apply-steps">
				<li class="active">
					<div>
						<div class="step-number">1</div>
						<i class="fa fa-building-o"></i>
						<div>The Business</div>
					</div>
				</li>
				<li>
					<div>
						<div class="step-number">2</div>
						<i class="fa fa-male"></i>
						<div>The Business Owner</div>
					</div>
				</li>
				<li>
					<div>
						<div class="step-number">3</div>
						<i class="fa fa-cube"></i>
						<div>Submit</div>
					</div>
				</li>
				<li>
					<div>
						<div class="step-number"><i class="fa fa-check"></i></div>
					</div>
				</li>
			</ul>
		</div>

		<div class="apply-content">
			<div class="container">
				<h2>Tell us about the business...</h2>

				<section class="apply-form full-width three-column">
					<form>
						<div class="column">
							<label>Business Name</label>
							<input type="text" />

							<label>Industry</label>
							<select class="selectpicker">
								<option>Select One...</option>
								<option>Agriculture, Forestry, Fishing, and Hunting</option>
								<option>Mining, Quarrying, and Oil and Gas Extraction</option>
								<option>Utilities</option>
								<option>Construction</option>
								<option>Manufacturing</option>
								<option>Wholesale Trade</option>
								<option>Retail Trade</option>
								<option>Transportation and Warehousing</option>
								<option>Information</option>
								<option>Finance and Insurance</option>
								<option>Real Estate and Rental and Leasing</option>
								<option>Professional, Scientific, and Technical Services</option>
								<option>Management of Companies and Enterprises</option>
								<option>Administrative and Support and Waste Management and Remediation Services</option>
								<option>Educational Services</option>
								<option>Health Care and Social Assistance</option>
								<option>Arts, Entertainment, and Recreation</option>
								<option>Accommodation and Food Services</option>
								<option>Other Services (except Public Administration)</option>
								<option>Public Administration</option>
							</select>

							

							<label>Business Address (Line 1)</label>
							<input type="text" />

							<label>Business Address (Line 2)</label>
							<input type="text" />
						</div>

						<div class="column">
							<label>DBA</label>
							<input type="text" />

							<div class="input-split">
								<label>Year Started</label>
								<select class="selectpicker">
									<option>Select One...</option>
									<option>2016</option>
									<option>2015</option>
									<option>2014</option>
									<option>2013</option>
									<option>2012</option>
									<option>2011</option>
									<option>2010</option>
									<option>2009</option>
									<option>2008</option>
									<option>2007</option>
									<option>2006</option>
									<option>2005</option>
									<option>2004</option>
									<option>2003</option>
									<option>2002</option>
									<option>2001</option>
									<option>2000</option>
									<option>1999</option>
									<option>1998</option>
									<option>1997</option>
									<option>1996</option>
									<option>1995</option>
									<option>1994</option>
									<option>1993</option>
									<option>1992</option>
									<option>1991</option>
									<option>1990</option>
									<option>1989</option>
									<option>1988</option>
									<option>1987</option>
									<option>1986</option>
									<option>1985</option>
									<option>1984</option>
									<option>1983</option>
									<option>1982</option>
									<option>1981</option>
									<option>1980</option>
									<option>1979</option>
									<option>1978</option>
									<option>1977</option>
									<option>1976</option>
									<option>1975</option>
									<option>1974</option>
									<option>1973</option>
									<option>1972</option>
									<option>1971</option>
									<option>1970</option>
									<option>1969</option>
									<option>1968</option>
									<option>1967</option>
									<option>1966</option>
									<option>1965</option>
								</select>
							</div>
							<div class="input-split">
								<label>State Organized</label>
								<select class="selectpicker">
									<option>Select One...</option>
									<option>AL - Alabama</option>
									<option>AK - Alaska</option>
									<option>AZ - Arizona</option>
									<option>AR - Arkansas</option>
									<option>CA - California</option>
									<option>CO - Colorado</option>
									<option>CT - Connecticut</option>
									<option>DE - Delaware</option>
									<option>FL - Florida</option>
									<option>GA - Georgia</option>
									<option>HI - Hawaii</option>
									<option>ID - Idaho</option>
									<option>IL - Illinois</option>
									<option>IN - Indiana</option>
									<option>IA - Iowa</option>
									<option>KS - Kansas</option>
									<option>KY - Kentucky</option>
									<option>LA - Louisiana</option>
									<option>ME - Maine</option>
									<option>MD - Maryland</option>
									<option>MA - Massachusetts</option>
									<option>MI - Michigan</option>
									<option>MN - Minnesota</option>
									<option>MS - Mississippi</option>
									<option>MO - Missouri</option>
									<option>MT - Montana</option>
									<option>NE - Nebraska</option>
									<option>NV - Nevada</option>
									<option>NH - New Hampshire</option>
									<option>NJ - New Jersey</option>
									<option>NM - New Mexico</option>
									<option>NY - New York</option>
									<option>NC - North Carolina</option>
									<option>ND - North Dakota</option>
									<option>OH - Ohio</option>
									<option>OK - Oklahoma</option>
									<option>OR - Oregon</option>
									<option>PA - Pennsylvania</option>
									<option>RI - Rhode Island</option>
									<option>SC - South Carolina</option>
									<option>SD - South Dakota</option>
									<option>TN - Tennessee</option>
									<option>TX - Texas</option>
									<option>UT - Utah</option>
									<option>VT - Vermont</option>
									<option>VA - Virginia</option>
									<option>WA - Washington</option>
									<option>WV - West Virginia</option>
									<option>WI - Wisconsin</option>
									<option>WY - Wyoming</option>
								</select>
							</div>


							

							<label>City</label>
							<input type="text" />

							<div class="input-split">
								<label>State</label>
								<select class="selectpicker">
									<option>Select One...</option>
									<option>AL - Alabama</option>
									<option>AK - Alaska</option>
									<option>AZ - Arizona</option>
									<option>AR - Arkansas</option>
									<option>CA - California</option>
									<option>CO - Colorado</option>
									<option>CT - Connecticut</option>
									<option>DE - Delaware</option>
									<option>FL - Florida</option>
									<option>GA - Georgia</option>
									<option>HI - Hawaii</option>
									<option>ID - Idaho</option>
									<option>IL - Illinois</option>
									<option>IN - Indiana</option>
									<option>IA - Iowa</option>
									<option>KS - Kansas</option>
									<option>KY - Kentucky</option>
									<option>LA - Louisiana</option>
									<option>ME - Maine</option>
									<option>MD - Maryland</option>
									<option>MA - Massachusetts</option>
									<option>MI - Michigan</option>
									<option>MN - Minnesota</option>
									<option>MS - Mississippi</option>
									<option>MO - Missouri</option>
									<option>MT - Montana</option>
									<option>NE - Nebraska</option>
									<option>NV - Nevada</option>
									<option>NH - New Hampshire</option>
									<option>NJ - New Jersey</option>
									<option>NM - New Mexico</option>
									<option>NY - New York</option>
									<option>NC - North Carolina</option>
									<option>ND - North Dakota</option>
									<option>OH - Ohio</option>
									<option>OK - Oklahoma</option>
									<option>OR - Oregon</option>
									<option>PA - Pennsylvania</option>
									<option>RI - Rhode Island</option>
									<option>SC - South Carolina</option>
									<option>SD - South Dakota</option>
									<option>TN - Tennessee</option>
									<option>TX - Texas</option>
									<option>UT - Utah</option>
									<option>VT - Vermont</option>
									<option>VA - Virginia</option>
									<option>WA - Washington</option>
									<option>WV - West Virginia</option>
									<option>WI - Wisconsin</option>
									<option>WY - Wyoming</option>
								</select>
							</div>
							<div class="input-split">
								<label>ZIP Code</label>
								<input type="text" />
							</div>
						</div>

						<div class="column">
							<label>Legal Structure</label>
							<select class="selectpicker">
								<option>Select One...</option>
								<option>Sole Prop</option>
								<option>General Partnership</option>
								<option>Limited Partnership</option>
								<option>C-Corp</option>
								<option>S-Corp</option>
								<option>Public Benefit Corp</option>
								<option>LLC</option>
								<option>LLP</option>
							</select>

							<div class="input-split">
								<label>Annual Sales</label>
								<input type="text" />
							</div>
							<div class="input-split">
								<label>Number of Employees</label>
								<input type="text" />
							</div>
						</div>


						<div class="apply-footer">
							<i>All fields are required</i>

							<!--<button class="next pull-right">Next</button>-->
							<a href="partner-apply-owner.html" class="imitation-button next pull-right">Next</a>
							<a href="#" class="pull-right">Cancel</a>
						</div>

					</form>
				</section>
				<!--
				<section>
					<div class="question-icon">?</div>
					<h3>Why do we need this?</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor nec ligula a finibus. Nam sagittis orci in urna euismod suscipit. Etiam tincidunt maximus facilisis. Praesent ultrices.</p>

					<h4>What does this mean?</h4>
					<p>Nunc nec pulvinar tortor, in fermentum mauris. Phasellus dictum condimentum ligula, quis rutrum nibh. Donec vel elit est. Nulla facilisi. Sed in malesuada metus. Ut arcu quam, interdum quis fermentum sed, aliquet sed libero.</p>
				</section>

				-->
			</div>
		</div>
			
			

		
		{{>footer-small}}



		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>


	</body>
</html>
