<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->

		
		
	</head>

	<body>

		
		{{>header-prospect}}
		<h1 class="header-special">Apply in 3 Easy Steps</h1>
		


		<div class="container">
			
			<!-- Content -->
			<ul class="apply-steps">
				<li>
					<div>
						<div class="step-number"><i class="fa fa-check"></i></div>
						<i class="fa fa-building-o"></i>
						<div>The Business</div>
					</div>
				</li>
				<li class="active">
					<div>
						<div class="step-number">2</div>
						<i class="fa fa-male"></i>
						<div>The Business Owner</div>
					</div>
				</li>
				<li>
					<div>
						<div class="step-number">3</div>
						<i class="fa fa-cube"></i>
						<div>Submit</div>
					</div>
				</li>
				<li>
					<div>
						<div class="step-number"><i class="fa fa-check"></i></div>
					</div>
				</li>
			</ul>
		</div>

		<div class="apply-content">
			<div class="container">
				<h2>Tell us about the business owner(s)...</h2>

				<section class="apply-form">
					<form>
						<section class="owner clearfix">
							<h4>Business owner <i class="fa fa-male"></i></h4>
							<span class="imitation-button inverse pull-right remove-owner">Remove This Owner <i class="fa fa-times-circle"></i></span>
							<div class="column">
								<label>First Name</label>
								<input type="text" />

								<label>Email</label>
								<input type="text" />

								<label>Street Address (Line 1)</label>
								<input type="text" />

								<label>City</label>
								<input type="text" />

								<label>Social Security Number</label>
								<input type="text" />
							</div>

							<div class="column">
								<label>Last Name</label>
								<input type="text" />

								<label>Phone Number</label>
								<input type="text" />

								<label>Street Address (Line 2)</label>
								<input type="text" />

								<div class="input-split">
									<label>State</label>
									<select class="selectpicker">
										<option>Select One...</option>
										<option>AL - Alabama</option>
										<option>AK - Alaska</option>
										<option>AZ - Arizona</option>
										<option>AR - Arkansas</option>
										<option>CA - California</option>
										<option>CO - Colorado</option>
										<option>CT - Connecticut</option>
										<option>DE - Delaware</option>
										<option>FL - Florida</option>
										<option>GA - Georgia</option>
										<option>HI - Hawaii</option>
										<option>ID - Idaho</option>
										<option>IL - Illinois</option>
										<option>IN - Indiana</option>
										<option>IA - Iowa</option>
										<option>KS - Kansas</option>
										<option>KY - Kentucky</option>
										<option>LA - Louisiana</option>
										<option>ME - Maine</option>
										<option>MD - Maryland</option>
										<option>MA - Massachusetts</option>
										<option>MI - Michigan</option>
										<option>MN - Minnesota</option>
										<option>MS - Mississippi</option>
										<option>MO - Missouri</option>
										<option>MT - Montana</option>
										<option>NE - Nebraska</option>
										<option>NV - Nevada</option>
										<option>NH - New Hampshire</option>
										<option>NJ - New Jersey</option>
										<option>NM - New Mexico</option>
										<option>NY - New York</option>
										<option>NC - North Carolina</option>
										<option>ND - North Dakota</option>
										<option>OH - Ohio</option>
										<option>OK - Oklahoma</option>
										<option>OR - Oregon</option>
										<option>PA - Pennsylvania</option>
										<option>RI - Rhode Island</option>
										<option>SC - South Carolina</option>
										<option>SD - South Dakota</option>
										<option>TN - Tennessee</option>
										<option>TX - Texas</option>
										<option>UT - Utah</option>
										<option>VT - Vermont</option>
										<option>VA - Virginia</option>
										<option>WA - Washington</option>
										<option>WV - West Virginia</option>
										<option>WI - Wisconsin</option>
										<option>WY - Wyoming</option>
									</select>
								</div>
								<div class="input-split">
									<label>ZIP Code</label>
									<input type="text" />
								</div>

								<label>Percentage of Business Ownership</label>
								<select class="selectpicker">
									<!-- 1 through 100, for now -->
									<option>Select One...</option>
									<option>25%</option>
									<option>33%</option>
									<option>50%</option>
									<option>66%</option>
									<option>75%</option>
									<option>100%</option>
									<!--
									1%
									2%
									3%
									4%
									5%
									6%
									7%
									8%
									9%
									10%
									11%
									12%
									13%
									14%
									15%
									16%
									17%
									18%
									19%
									20%
									21%
									22%
									23%
									24%
									25%
									26%
									27%
									28%
									29%
									30%
									31%
									32%
									33%
									34%
									35%
									36%
									37%
									38%
									39%
									40%
									41%
									42%
									43%
									44%
									45%
									46%
									47%
									48%
									49%
									50%
									51%
									52%
									53%
									54%
									55%
									56%
									57%
									58%
									59%
									60%
									61%
									62%
									63%
									64%
									65%
									66%
									67%
									68%
									69%
									70%
									71%
									72%
									73%
									74%
									75%
									76%
									77%
									78%
									79%
									80%
									81%
									82%
									83%
									84%
									85%
									86%
									87%
									88%
									89%
									90%
									91%
									92%
									93%
									94%
									95%
									96%
									97%
									98%
									99%
									100%
									-->
								</select>
							</div>
						</section>

						<div id="add-owner" class="add-owner">Add Another Business Owner <i class="fa fa-male"></i></div>
						<div class="apply-footer">
							
							<i>All fields are required</i>

							<!-- 
							<button class="next pull-right">Next</button>
							<button class="prev pull-right">Previous</button>
							-->

							<a href="partner-wrapup.html" class="imitation-button next pull-right">Next</a>
							<a href="partner-business.html" class="imitation-button prev pull-right">Previous</a>
							<a href="#" class="pull-right">Cancel</a>
						</div>

					</form>
				</section>
				<section>
					<div class="question-icon">?</div>
					<h3>Why do we need this?</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor nec ligula a finibus. Nam sagittis orci in urna euismod suscipit. Etiam tincidunt maximus facilisis. Praesent ultrices.</p>

					<h4>What does this mean?</h4>
					<p>Nunc nec pulvinar tortor, in fermentum mauris. Phasellus dictum condimentum ligula, quis rutrum nibh. Donec vel elit est. Nulla facilisi. Sed in malesuada metus. Ut arcu quam, interdum quis fermentum sed, aliquet sed libero.</p>
				</section>
			</div>
		</div>
			
			

		
		{{>footer}}



		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>

		<script type="text/javascript">
			$("#add-owner").on("click", function() {
				var clone = $(".owner:first").clone();
				clone.find("input").val("");
				clone.insertBefore(this);

			});

			$(".apply-form").on("click", ".remove-owner", function() {
				$(this).parent().remove();
			});
		</script>


	</body>
</html>
