---
title: Baton Prospect Landing
layout: app/html/layouts/go-direct-portal.hbs
---
<!-- Content -->
<div class="hero-tall">

	<div class="container">

		<div class="promo">
			<h2>Reset your expectations.</h2>
			<p>A real-time, debt-free, risk-free B2B Merchant Service helping to drive your growth</p>

			<div class="buttons">
				<a href="" class="cta-orange">Watch the Video</a>
				<a href="" class="cta-orange">Read About It</a>
			</div>
		</div>
	</div>	

</div>



<div class="container cards content-area-padding">
	<div class="card">
		<h2>Calculate the Value</h2>
		<div class="inner">

			<img src="../img/stock01.png">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum veritatis.</p>

			<a class="go" href="calculator.html">Learn More</a>
		</div>
	</div>

	<div class="card">
		<h2>Apply Now</h2>
		<div class="inner">

			<img src="../img/stock2.png">
			<p>Approve and onboard your prospects through the Baton Merchant Service</p>

			<a class="go" href="partner-business.html">Apply Now</a>
		</div>
	</div>

	<div class="card">
		<h2>Explore Solutions</h2>
		<div class="inner">

			<img src="../img/stock3.png">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum veritatis.</p>

			<a class="go" href="#">Learn More</a>
		</div>
	</div>
</div>

<div class="angle-content">
	<div class="backgrounds"></div>
	<div class="container">
		<h4>Benefits</h4>
		<ul class="footer-links">
			<li><span>IMPROVED CASH FLOW</span></li>
			<li>Maecenas lacinia sapien metus, eget facilisis arcu tincidunt quis. Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
		</ul>

		<ul class="footer-links">
			<li><span>ELIMINATES COLLECTIONS</span></li>
			<li>Proin mauris turpis, pharetra eu sem a, pharetra consectetur eros. Ut sed auctor orci. Nullam lobortis fermentum ultrices. Ut sed auctor orci.</li>
		</ul>

		<ul class="footer-links">
			<li><span>NO MORE PAYMENT RISK</span></li>
			<li>Proin mauris turpis, pharetra eu sem a, pharetra consectetur eros. Ut sed auctor orci. Nullam lobortis fermentum ultrices. Ut sed auctor orci.</li>
		</ul>
	</div>
</div>


<!-- /Content -->