<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Payments - Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Customers');
        data.addColumn('number', 'Number');
        data.addRows([
          ['Pending', 17],
          ['Qualified', 36],
          ['Disqualified', 1],
          ['Rejected', 5]
        ]);

        // Set chart options
        var options = {'title':'Customers',
        							 'legend':'none',
                       'width':1170,
                       'height':320};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">


		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		{{>header-payments}}

		<div class="graph-top">
			<div class="container">
					<i id="graph-button" class="fa fa-close"></i>
					{{>graph-payments}}
				</div>
			</div>
		</div>


		<div class="container">


			<div class="invoices">
				<div class="top-buttons">
					<div class="button-holder-left">

						<ul class="tabs button-tabs">
							<li id="b1" class="button inverse actions-toggle tab-link current" data-tab="tab-current">
								Current
							</li>
							<li id="b5" class="button inverse actions-toggle tab-link" data-tab="tab-under-thirty">
								&lt; 30 Days
							</li>
							<li id="b2" class="button inverse actions-toggle tab-link" data-tab="tab-thirty">
								30 Days
							</li>
							<li id="b3" class="button inverse actions-toggle tab-link" data-tab="tab-sixty">
								60 Days
							</li>
							<li id="b4" class="button inverse actions-toggle tab-link" data-tab="tab-ninety">
								90 Days
							</li>
						</ul>
					</div>

					<div class="button-holder-right">
						<input type="text" class="nav-search payments-search" placeholder="Search for Customer or Invoice  ">
						<a class="search-button" href="">
							<i class="fa fa-search"></i>
						</a>

					</div>
				</div>

				{{>payments-tables}}

			</div>
		</div>

		{{>footer}}



		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>
		<script src="../js/vendor/jquery.tablesorter.js"></script>

		<script type="text/javascript">
			$('td').on('click', ".fa-plus", function() {
				$(this).parents("tr").next(".expandable").toggleClass('open');

				$(this).removeClass("fa-plus").addClass("fa-minus");
			});

			$('td').on('click', ".fa-minus", function() {
				$(this).parents("tr").next(".expandable").toggleClass('open');

				$(this).removeClass("fa-minus").addClass("fa-plus");
			});

			$(".actions-toggle").on("click", function() {
				$(this).children(".actions").toggleClass("open");
				$(this).children(".actions-arrow").toggleClass("open");
			});

			$(".actions").on("click", function(e) {
				e.stopPropagation();
			});

			$("#currentTable").tablesorter({
				cssChildRow: 'expandable'
			});
			$("#thirtyTable").tablesorter({
				cssChildRow: 'expandable'
			});
			$("#under-thirtyTable").tablesorter({
				cssChildRow: 'expandable'
			});
			$("#sixtyTable").tablesorter({
				cssChildRow: 'expandable'
			});
			$("#ninetyTable").tablesorter({
				cssChildRow: 'expandable'
			});
		</script>

		<script>
			$(document).ready(function(){
		    $("#graph-button").click(function(){
		        $(".payments-graph").toggle();
		        $("#graph-button").toggleClass("fa-close fa-plus");
		    });
			});
		</script>

		<script>
			$(document).ready(function(){
		    $("#b1").click(function(){
		        $(".active").removeClass("active");
		        $(".current-payments").toggleClass("active");
		    });
			});
			$(document).ready(function(){
		    $("#b2").click(function(){
			    	$(".active").removeClass("active");
		        $(".thirty").toggleClass("active");
		    });
			});
			$(document).ready(function(){
		    $("#b3").click(function(){
		    		$(".active").removeClass("active");
		        $(".sixty").toggleClass("active");
		    });
			});
			$(document).ready(function(){
		    $("#b4").click(function(){
		    		$(".active").removeClass("active");
		        $(".ninety").toggleClass("active");
		    });
			});
			$(document).ready(function(){
		    $("#b5").click(function(){
		    		$(".active").removeClass("active");
		        $(".under-thirty").toggleClass("active");
		    });
			});
		</script>

	

	</body>
</html>
