<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		
		{{>header-no-active}}

		<div class="apply-content">
			<div class="container">
				<h2>Eliminate Risk by Qualifying Before You Sell</h2>

				<section class="apply-form full-width pre-qualify">
					
					<section class="qualify-section clearfix">
						<h3 class="with-icon"><i class="fa fa-building-o"></i> Business</h3>
						<div class="column">
							<label>Business Name</label>
							<input type="text">
						</div>

						<div class="column">
							<label>DBA</label>
							<input type="text">
						</div>
					</section>
					
					<section class="qualify-section clearfix">
						<h3 class="with-icon"><i class="fa fa-building-o"></i> Business Information</h3>

						<div class="column">
							<label>Street Address (Line 1)</label>
							<input type="text">

							<label>City</label>
							<input type="text">

							<label>Phone Number</label>
							<input type="text">
						</div>

						<div class="column">
							<label>Street Address (Line 2)</label>
							<input type="text">

							<div>
								<label>State</label>
								<select>

								</select>
							</div>
							<div>
								<label>ZIP Code</label>
								<input type="text">
							</div>
						</div>
					</section>

					<section class="qualify-section">

						<h3 class="with-icon"><i class="fa fa-usd"></i> Payment</h3>

						<div class="column full-width">
							<label>Suggested Credit Limit</label>
							<input type="text">
						</div>


						<div class="column ">
							<label>Annual Sales to this Customer <i class="fa fa-question-circle"></i></label>
							<input type="text">
						</div>


						<div class="column">
							<label>Maximum Payment Terms</label>
							<select>
								<option>Select One...</option>
								<option>Under 30 Days</option>
								<option>31-60 Days</option>
								<option>61-90 Days</option>
								<option>91-120 Days</option>
							</select>
						</div>
					</section>

					<div class="apply-footer">
						<i>All fields are required</i>
						<button class="next pull-right">Qualify</button>
						<a href="dashboard.html" class="pull-right">Cancel</a>
					</div>
				</section>
			</div>
		</div>
					
		{{>footer-small}}

		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>


	</body>
</html>
