<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Resources - Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->

		
		
	</head>

	<body>

	{{>header-resources}}

	<!-- Content -->

	<div class="container content-area-padding resources">

		<h2>Need Assistance?</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum lacreet. Proin
			gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
			Cum sociis natoque penatibus et magnis dis parturient montes.</p>
		
		<div class="cards">
			<div class="card">
				<div class="inner">
					<div class="hover-content">
						<p>
							From tutorials to blog discussions, our library of videos contains references that are clear and comprehensive.
						</p>
						<i class="fa fa-arrow-circle-right"></i>
					</div>
					<div class="standard-content">
						<img src="../img/stock-short1.jpg" />
						<h3>Videos <i class="fa fa-toggle-right"></i></h3>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="inner">
					<div class="standard-content">
						<img src="../img/stock-short2.jpg" />
						<h3>Help <i class="fa fa-question"></i></h3>
					</div>
					<div class="hover-content">
						<p>
							From tutorials to blog discussions, our library of videos contains references that are clear and comprehensive.
						</p>
						<i class="fa fa-arrow-circle-right"></i>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="inner">
					<div class="standard-content">
						<img src="../img/stock-short3.jpg" />
						<h3>Customer Testimonials <i class="fa fa-quote-left"></i></h3>
					</div>
					<div class="hover-content">
						<p>
							From tutorials to blog discussions, our library of videos contains references that are clear and comprehensive.
						</p>
						<i class="fa fa-arrow-circle-right"></i>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="inner">
					<div class="standard-content">
						<img src="../img/stock-short4.jpg" />
						<h3>Value Calculator <i class="fa fa-calculator"></i></h3>
					</div>
					<div class="hover-content">
						<p>
							From tutorials to blog discussions, our library of videos contains references that are clear and comprehensive.
						</p>
						<i class="fa fa-arrow-circle-right"></i>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="inner">
					<div class="standard-content">
						<img src="../img/stock-short5.jpg" />
						<h3>Disputes <i class="fa fa-arrows-h"></i></h3>
					</div>
					<div class="hover-content">
						<p>
							From tutorials to blog discussions, our library of videos contains references that are clear and comprehensive.
						</p>
						<i class="fa fa-arrow-circle-right"></i>
					</div>
				</div>
			</div>


			<div class="card">
				<div class="inner">
					<div class="standard-content">
						<img src="../img/stock-short6.jpg" />
						<h3>Document Library <i class="fa fa-book"></i></h3>
					</div>
					<div class="hover-content">
						<p>
							From tutorials to blog discussions, our library of videos contains references that are clear and comprehensive.
						</p>
						<i class="fa fa-arrow-circle-right"></i>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="inner">
					<div class="standard-content">
						<img src="../img/stock-short7.jpg" />
						<h3>FAQs <i class="fa fa-comments-o"></i></h3>
					</div>
					<div class="hover-content">
						<p>
							From tutorials to blog discussions, our library of videos contains references that are clear and comprehensive.
						</p>
						<i class="fa fa-arrow-circle-right"></i>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="inner">
					<a href="business-credit-report.html">
						<div class="standard-content">
							<img src="../img/stock-short8.jpg" />
							<h3>Business Credit Report <i class="fa fa-file-o"></i></h3>
						</div>
						<div class="hover-content">
							<p>
								From tutorials to blog discussions, our library of videos contains references that are clear and comprehensive.
							</p>
							<i class="fa fa-arrow-circle-right"></i>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
			
	<!-- /Content -->

	{{>footer-small}}

	<script src="../js/vendor/jquery.js"></script>
	<script src="../js/frontend.js"></script>


	</body>
</html>
