<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->

		
		
	</head>

	<body>

		
		{{>header-no-active}}

			
		<!-- Content -->
		<div class="container">
			<div class="sales-toolkit content-area-padding clearfix">
				<h2>Sales Toolkit</h2>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis orci in est imperdiet sagittis. Duis cursus purus lacus, et malesuada elit facilisis in. Sed ultrices, augue eu interdum finibus, dolor justo scelerisque sem, at semper diam est sed neque. Ut eget venenatis est, et iaculis tellus. Nulla sodales, eros ut efficitur vehicula, lorem risus euismod dolor, eu tempus mi mi pulvinar justo.
				</p>

				<section>
					<div>
						<h3 class="with-icon"><i class="fa fa-caret-square-o-right"></i>Videos</h3>

						<ul class="link-list">
							<li><a href="#">Product Demo Videos</a></li>
							<li><a href="#">Introductory Value Videos</a></li>
						</ul>
					</div>

					<div>
						<h3 class="with-icon"><i class="fa fa-clone"></i> Templates</h3>

						<ul class="link-list">
							<li><a href="#">Web Banner Ad Templates</a></li>
							<li><a href="#">Social Media Ad Templates</a></li>
							<li><a href="#">Boilerplate Copy Descriptions</a></li>
							<li><a href="#">Email Templates</a></li>
						</ul>
					</div>

					<div>
						<h3 class="with-icon"><i class="fa fa-headphones"></i>Sales Aids</h3>

						<ul class="link-list">
							<li><a href="#">Demand Generation Toolkit</a></li>
							<li><a href="#">Telemarketing Script</a></li>
							<li><a href="#">Sales Playbook</a></li>
							<li><a href="#">Brochure</a></li>
						</ul>
					</div>
				</section>
			</div>
		</div>
		
		{{>footer}}



		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>

		<script type="text/javascript">
			$(".tabs li").on("click", function() {
				var clickedTab = $(this).index();

				$(".tabs li, .tab").each(function() {
					$(this).removeClass("active");
				});

				$(this).addClass("active");
				$(".tab").eq(clickedTab).addClass("active");
			});
		</script>


	</body>
</html>
