---
title: Baton Partner Portal
layout: app/html/layouts/sales-portal.hbs
---
			<!-- Content -->

			<div class="hero">
				<div class="container">
					<div class="promo">
						<p>We're unleashing the strength of small business in the US economy</p>
					</div>
				</div>
			</div>

			<div class="container cards content-area-padding">
				<div class="card">
					<h2>Sales Toolkit</h2>
					<div class="inner">

						<img src="../img/stock01.png">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum veritatis.</p>

						<a class="go" href="sales-toolkit.html">Learn More</a>
					</div>
				</div>

				<div class="card">
					<h2>Program Overview</h2>
					<div class="inner">

						<img src="../img/stock2.png">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum veritatis.</p>

						<a class="go" href="go-direct-portal.html">View Overview</a>
					</div>
				</div>

				<div class="card">
					<h2>Get Started</h2>
					<div class="inner">

						<img src="../img/stock3.png">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum veritatis.</p>

						<a class="go" href="#">Launch Prospect Page</a>
					</div>
				</div>
			</div>
		</div>	

			
			</div>
	
	<div class="angle-content">
		<div class="backgrounds"></div>
		<div class="container">
			<ul class="footer-links">
				<li><span>SALES INFORMATION</span></li>
				<li><a href="">Promotions and Incentives</a></li>
				<li><a href="">Sales Collateral</a></li>
				<li><a href="">Sales Toolkit</a></li>
			</ul>

			<ul class="footer-links">
				<li><span>PARTNER PROGRAM</span></li>
				<li><a href="">Program Overview</a></li>
				<li><a href="">Terms of Participation</a></li>
			</ul>

			<ul class="footer-links">
				<li><span>SUPPORT</span></li>
				<li><a href="">Pre-Sales Support</a></li>
				<li><a href="">Post-Sales Support</a></li>
				<li><a href="">Contacts</a></li>
			</ul>
		</div>
	
	</div>


			<!-- /Content -->