<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->

		
		
	</head>

	<body>

		
		{{>header-no-active}}

			
		<!-- Content -->
			

		
		<div class="container">
			<div class="settings content-area-padding clearfix">
				<h2>Settings</h2>
				
				<ul class="tabs">
					<li class="active">Business</li>
					<li>Reimbursement</li>
					<li>Import Data</li>
					<li>Users</li>
				</ul>
				
				<div class="tab active">
					<h3 class="with-icon">
						<i class="fa fa-info-circle"></i>Basic Info
						<a href="#" class="edit-button">Edit</a>
					</h3>
					<dl class="clearfix">
						<dt>Business Name</dt>
						<dd>Twelfth Night Distillery</dd>

						<dt>DBA</dt>
						<dd>Twelfth Night Distillery</dd>

						<dt>Legal structure</dt>
						<dd>Sole Proprietorship</dd>

						<dt>State Organized</dt>
						<dd>New Jersey</dd>

						<dt>Year Organized</dt>
						<dd>1984</dd>

						<dt>Industry</dt>
						<dd>Craft Distillery</dd>

						<dt>Annual Sales</dt>
						<dd>$50,000 - 100,000</dd>

						<dt>Number of Employees</dt>
						<dd>10-20</dd>
					</dl>

					<h3 class="with-icon">
						<i class="fa fa-building-o"></i>Business Address
					</h3>
					<dl>

						<dt>Street Address (Line 1)</dt>
						<dd>123 Main Street</dd>

						<dt>Street Address (Line 2)</dt>
						<dd>Suite 456</dd>

						<dt>City</dt>
						<dd>Trenton</dd>

						<dt>State</dt>
						<dd>New Jersey</dd>

						<dt>ZIP Code</dt>
						<dd>87508</dd>
					</dl>

					<h3 class="with-icon"><i class="fa fa-male"></i>Contact</h3>

					<dl class="clearfix">
						<dt>First Name</dt>
						<dd>Jacob</dd>

						<dt>Last Name</dt>
						<dd>Williams</dd>

						<dt>Job Title</dt>
						<dd>Principal</dd>

						<dt>Email</dt>
						<dd>jacob.williams@tnd.com</dd>

						<dt>Phone</dt>
						<dd>(212) 555-1212</dd>
					</dl>


					<h3 class="with-icon"><i class="fa fa-male"></i>Business Owner</h3>
					<dl>
						<dt>First Name</dt>
						<dd>Jacob</dd>

						<dt>Last Name</dt>
						<dd>Williams</dd>

						<dt>Email</dt>
						<dd>jacob.williams@tnd.com</dd>

						<dt>Phone</dt>
						<dd>(212) 555-1212</dd>

						<dt>Street Address (Line 1)</dt>
						<dd>123 Main Street</dd>

						<dt>Street Address (Line 2)</dt>
						<dd>Suite 456</dd>

						<dt>City</dt>
						<dd>Trenton</dd>

						<dt>State</dt>
						<dd>New Jersey</dd>

						<dt>ZIP Code</dt>
						<dd>87508</dd>

						<dt>Social Security Number</dt>
						<dd>***-**-5555 <a href="#">Reveal</a></dd>
					</dl>
				</div>

				<div class="tab">
					<h3 class="with-icon">
						<i class="fa fa-building-o"></i>Reiumbursement tab
						<a href="#" class="edit-button">Edit</a>
					</h3>
					<dl class="clearfix">
						<dt>Business Name</dt>
						<dd>Twelfth Night Distillery</dd>

						<dt>DBA</dt>
						<dd>Twelfth Night Distillery</dd>

						<dt>Legal structure</dt>
						<dd>Sole Proprietorship</dd>

						<dt>State Organized</dt>
						<dd>New Jersey</dd>

						<dt>Year Organized</dt>
						<dd>1984</dd>

						<dt>Industry</dt>
						<dd>Craft Distillery</dd>

						<dt>Annual Sales</dt>
						<dd>$50,000 - 100,000</dd>

						<dt>Number of Employees</dt>
						<dd>10-20</dd>
					</dl>

					<h3 class="with-icon">
						<i class="fa fa-building-o"></i>Business Address
					</h3>
					<dl>

						<dt>Street Address (Line 1)</dt>
						<dd>123 Main Street</dd>

						<dt>Street Address (Line 2)</dt>
						<dd>Suite 456</dd>

						<dt>City</dt>
						<dd>Trenton</dd>

						<dt>State</dt>
						<dd>New Jersey</dd>

						<dt>ZIP Code</dt>
						<dd>87508</dd>
					</dl>

					<h3 class="with-icon"><i class="fa fa-male"></i>Contact</h3>

					<dl class="clearfix">
						<dt>First Name</dt>
						<dd>Jacob</dd>

						<dt>Last Name</dt>
						<dd>Williams</dd>

						<dt>Job Title</dt>
						<dd>Principal</dd>

						<dt>Email</dt>
						<dd>jacob.williams@tnd.com</dd>

						<dt>Phone</dt>
						<dd>(212) 555-1212</dd>
					</dl>


					<h3 class="with-icon"><i class="fa fa-male"></i>Business Owner</h3>
					<dl>
						<dt>First Name</dt>
						<dd>Jacob</dd>

						<dt>Last Name</dt>
						<dd>Williams</dd>

						<dt>Email</dt>
						<dd>jacob.williams@tnd.com</dd>

						<dt>Phone</dt>
						<dd>(212) 555-1212</dd>

						<dt>Street Address (Line 1)</dt>
						<dd>123 Main Street</dd>

						<dt>Street Address (Line 2)</dt>
						<dd>Suite 456</dd>

						<dt>City</dt>
						<dd>Trenton</dd>

						<dt>State</dt>
						<dd>New Jersey</dd>

						<dt>ZIP Code</dt>
						<dd>87508</dd>

						<dt>Social Security Number</dt>
						<dd>***-**-5555</dd>
					</dl>
				</div>

				<div class="tab">
					<h3 class="with-icon">
						<i class="fa fa-building-o"></i>Import Data tab
						<a href="#" class="edit-button">Edit</a>
					</h3>
					<dl class="clearfix">
						<dt>Business Name</dt>
						<dd>Twelfth Night Distillery</dd>

						<dt>DBA</dt>
						<dd>Twelfth Night Distillery</dd>

						<dt>Legal structure</dt>
						<dd>Sole Proprietorship</dd>

						<dt>State Organized</dt>
						<dd>New Jersey</dd>

						<dt>Year Organized</dt>
						<dd>1984</dd>

						<dt>Industry</dt>
						<dd>Craft Distillery</dd>

						<dt>Annual Sales</dt>
						<dd>$50,000 - 100,000</dd>

						<dt>Number of Employees</dt>
						<dd>10-20</dd>
					</dl>

					<h3 class="with-icon">
						<i class="fa fa-building-o"></i>Business Address
					</h3>
					<dl>

						<dt>Street Address (Line 1)</dt>
						<dd>123 Main Street</dd>

						<dt>Street Address (Line 2)</dt>
						<dd>Suite 456</dd>

						<dt>City</dt>
						<dd>Trenton</dd>

						<dt>State</dt>
						<dd>New Jersey</dd>

						<dt>ZIP Code</dt>
						<dd>87508</dd>
					</dl>

					<h3 class="with-icon"><i class="fa fa-male"></i>Contact</h3>

					<dl class="clearfix">
						<dt>First Name</dt>
						<dd>Jacob</dd>

						<dt>Last Name</dt>
						<dd>Williams</dd>

						<dt>Job Title</dt>
						<dd>Principal</dd>

						<dt>Email</dt>
						<dd>jacob.williams@tnd.com</dd>

						<dt>Phone</dt>
						<dd>(212) 555-1212</dd>
					</dl>


					<h3 class="with-icon"><i class="fa fa-male"></i>Business Owner</h3>
					<dl>
						<dt>First Name</dt>
						<dd>Jacob</dd>

						<dt>Last Name</dt>
						<dd>Williams</dd>

						<dt>Email</dt>
						<dd>jacob.williams@tnd.com</dd>

						<dt>Phone</dt>
						<dd>(212) 555-1212</dd>

						<dt>Street Address (Line 1)</dt>
						<dd>123 Main Street</dd>

						<dt>Street Address (Line 2)</dt>
						<dd>Suite 456</dd>

						<dt>City</dt>
						<dd>Trenton</dd>

						<dt>State</dt>
						<dd>New Jersey</dd>

						<dt>ZIP Code</dt>
						<dd>87508</dd>

						<dt>Social Security Number</dt>
						<dd>***-**-5555</dd>
					</dl>
				</div>

				<div class="tab">
					<h3 class="with-icon">
						<i class="fa fa-building-o"></i>Users tab
						<a href="#" class="edit-button">Edit</a>
					</h3>
					<dl class="clearfix">
						<dt>Business Name</dt>
						<dd>Twelfth Night Distillery</dd>

						<dt>DBA</dt>
						<dd>Twelfth Night Distillery</dd>

						<dt>Legal structure</dt>
						<dd>Sole Proprietorship</dd>

						<dt>State Organized</dt>
						<dd>New Jersey</dd>

						<dt>Year Organized</dt>
						<dd>1984</dd>

						<dt>Industry</dt>
						<dd>Craft Distillery</dd>

						<dt>Annual Sales</dt>
						<dd>$50,000 - 100,000</dd>

						<dt>Number of Employees</dt>
						<dd>10-20</dd>
					</dl>

					<h3 class="with-icon">
						<i class="fa fa-building-o"></i>Business Address
					</h3>
					<dl>

						<dt>Street Address (Line 1)</dt>
						<dd>123 Main Street</dd>

						<dt>Street Address (Line 2)</dt>
						<dd>Suite 456</dd>

						<dt>City</dt>
						<dd>Trenton</dd>

						<dt>State</dt>
						<dd>New Jersey</dd>

						<dt>ZIP Code</dt>
						<dd>87508</dd>
					</dl>

					<h3 class="with-icon"><i class="fa fa-male"></i>Contact</h3>

					<dl class="clearfix">
						<dt>First Name</dt>
						<dd>Jacob</dd>

						<dt>Last Name</dt>
						<dd>Williams</dd>

						<dt>Job Title</dt>
						<dd>Principal</dd>

						<dt>Email</dt>
						<dd>jacob.williams@tnd.com</dd>

						<dt>Phone</dt>
						<dd>(212) 555-1212</dd>
					</dl>


					<h3 class="with-icon"><i class="fa fa-male"></i>Business Owner</h3>
					<dl>
						<dt>First Name</dt>
						<dd>Jacob</dd>

						<dt>Last Name</dt>
						<dd>Williams</dd>

						<dt>Email</dt>
						<dd>jacob.williams@tnd.com</dd>

						<dt>Phone</dt>
						<dd>(212) 555-1212</dd>

						<dt>Street Address (Line 1)</dt>
						<dd>123 Main Street</dd>

						<dt>Street Address (Line 2)</dt>
						<dd>Suite 456</dd>

						<dt>City</dt>
						<dd>Trenton</dd>

						<dt>State</dt>
						<dd>New Jersey</dd>

						<dt>ZIP Code</dt>
						<dd>87508</dd>

						<dt>Social Security Number</dt>
						<dd>***-**-5555</dd>
					</dl>
				</div>

			</div>
		</div>
		
		{{>footer}}



		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>

		<script type="text/javascript">
			$(".tabs li").on("click", function() {
				var clickedTab = $(this).index();

				$(".tabs li, .tab").each(function() {
					$(this).removeClass("active");
				});

				$(this).addClass("active");
				$(".tab").eq(clickedTab).addClass("active");
			});
		</script>


	</body>
</html>
