---
title: Baton Storefront
layout: app/html/layouts/new-header.hbs
---
<!-- Content -->

<div class="hero-tall">

	<div class="container">

		<div class="promo">
			<h2>Reset your expectations.</h2>
			<p>A real-time, debt-free, risk-free B2B Merchant Service helping to drive your growth</p>

			<div class="buttons">
				<a href="" class="cta-orange-alt">Sign Up</a>
			</div>
		</div>
	</div>	

</div>

{{>options}}

{{>tabbed-content}}

{{>benefits}}

{{>angled-content}}

{{>footer-x-large}}

<!-- /Content -->