<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Baton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->

		
		
	</head>

	<body>

		
		{{>header-prospect}}
		<h1 class="header-special">Congratulations!</h1>


		<!-- Content -->
		<div class="container">
			<div class="post-header-padding apply-complete">
				<i class="fa fa-check-circle"></i>
				<h2>You are approved for Baton.</h2>
			</div>
		</div>

		<div class="apply-complete-footer">
			<div class="container">
				<div style="width: 340px; margin: 0 auto;">

					<div class="huge-icon inverted">
						<a href="account-setup1.html">
							<i class="fa fa-star-o"></i>
							<div>Complete Registration</div>
						</a>
					</div>

					<div class="huge-icon inverted" style="margin-right: 0;">
						<i class="fa fa-print"></i>
						<div>Print Application</div>
					</div>
				</div>

			</div>
		</div>

		
		{{>footer-small}}



		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>

		<script type="text/javascript">
			$("#add-owner").on("click", function() {
				var clone = $(".owner:first").clone();
				clone.find("input").val("");
				clone.insertBefore(this);

			});

			$(".apply-form").on("click", ".remove-owner", function() {
				$(this).parent().remove();
			});
		</script>


	</body>
</html>
