<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{#production}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.min.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.min.js"></script>
		<![endif]-->
{{else}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="../css/main.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->
{{/production}}
		
		{{#each css}}
			<link rel="stylesheet" href="../css/{{this}}">
		{{/each}}
	</head>

	<body>

		{{>header-merchant}}

		<div class="container">
			{{>body}}
		</div>

		{{>footer-x-large}}
		{{>footer-small}}

{{#production}}
		<script src="../js/vendor/jquery.min.js"></script>
		<script src="../js/frontend.min.js"></script>
{{else}}
		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>
{{/production}}

	</body>
</html>
